In [2]:
import pandas as pd
import numpy as np

In [3]:
kospi200return = pd.read_excel('./data/kospi200return_data.xlsx')
tradeamount_mktcap = pd.read_excel('./data/거래대금_시가총액_코스피200_data.xlsx')
indireturn = pd.read_excel('./data/수익률_코스피200_data.xlsx')
pbr = pd.read_excel('./data/수정PBR_코스피200_data.xlsx')
netbuytradeamount = pd.read_excel('./data/순매수금액_거래대금_코스피200_data.xlsx')
indistd = pd.read_excel('./data/표준편차_코스피200_data.xlsx')
riskfree = pd.read_excel('./data/riskfreerate_data.xlsx')

In [8]:
kospi200return

          Date  KOSPI200
0   1999-12-31     11.18
1   2000-01-31     -8.41
2   2000-02-29    -13.36
3   2000-03-31      4.71
4   2000-04-30    -17.96
..         ...       ...
268 2022-04-30     -2.39
269 2022-05-31     -0.15
270 2022-06-30    -12.85
271 2022-07-31      3.34
272 2022-08-26      1.35

[273 rows x 2 columns]

In [9]:
tradeamount_mktcap #Professionalism = trade amount / mkt cap

,Date,A005930,A005930.1,A373220,A373220.1,A000660,A000660.1,A207940,A207940.1,A051910,...,A064420,A064420.1,A067250,A067250.1,A068870,A068870.1,A103130,A103130.1,A103150,A103150.1
0,1999-12-31,248854643275,38922929,NaN,NaN,184772318100,11035740,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000-01-31,261433549650,43221332,NaN,NaN,323988425050,12165615,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000-02-29,288067434950,39412224,NaN,NaN,225890232125,10237191,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000-03-31,362323658795,45389101,NaN,NaN,246641989977,11235259,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000-04-30,305556540417,47388922,NaN,NaN,201477830167,10825874,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268,2022-04-30,993449783120,402334916,1.631061e+11,101026714.0,358950227264,81414931,3.908159e+10,57966139.0,9.419886e+10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
269,2022-05-31,988059914544,399094177,1.315747e+11,96970714.0,384010632386,79750926,3.756019e+10,57603491.0,1.395048e+11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
270,2022-06-30,1302647738534,364902958,1.265655e+11,97256250.0,312171687219,71409752,5.847834e+10,57967664.0,1.605305e+11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
271,2022-07-31,852069771711,355486337,1.959828e+11,90814286.0,310697180786,70266095,4.726748e+10,58545699.0,1.365393e+11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
272,2022-08-26,693052399292,360983325,1.646938e+11,105096789.0,237839497872,69505068,4.452205e+10,62228552.0,1.287708e+11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
professionalism = pd.DataFrame()
for i in tradeamount_mktcap.columns:
    if i == 'Date':
        professionalism[i] = tradeamount_mktcap[i]    
    elif '.1'in i:
        pass
    else:
        professionalism[i] = tradeamount_mktcap[i]/tradeamount_mktcap[i+'.1']/1000
professionalism

,Date,A005930,A373220,A000660,A207940,A051910,A005380,A006400,A035420,A035720,...,A042100,A051310,A053000,A060000,A063350,A064420,A067250,A068870,A103130,A103150
0,1999-12-31,6.393523,NaN,16.743084,NaN,NaN,6.933601,12.498392,NaN,41.090170,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000-01-31,6.048716,NaN,26.631488,NaN,NaN,10.576322,11.335024,NaN,67.449625,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000-02-29,7.309089,NaN,22.065646,NaN,NaN,11.861939,10.354447,NaN,44.658448,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000-03-31,7.982614,NaN,21.952497,NaN,NaN,11.561214,15.356109,NaN,46.629533,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000-04-30,6.447847,NaN,18.610768,NaN,NaN,11.309062,12.611918,NaN,37.523342,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268,2022-04-30,2.469211,1.614485,4.408899,0.674214,2.629742,3.628189,3.878177,3.399813,3.383061,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
269,2022-05-31,2.475756,1.356850,4.815124,0.652047,3.767786,2.566869,3.812331,3.518606,3.819425,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
270,2022-06-30,3.569847,1.301362,4.371555,1.008810,4.038805,4.076048,4.278457,4.192491,4.289314,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
271,2022-07-31,2.396913,2.158061,4.421723,0.807360,3.600573,4.330609,3.316738,3.746126,3.265269,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
272,2022-08-26,1.919901,1.567068,3.421902,0.715460,2.864836,3.467555,2.979615,3.485161,3.983703,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [242]:
mktcap = pd.DataFrame()
for i in tradeamount_mktcap.columns:
    if i == 'Date':
        mktcap[i] = tradeamount_mktcap[i]    
    elif '.1'in i:
        mktcap[i.replace('.1','')] = tradeamount_mktcap[i]
    else:
        continue
mktcap

,Date,A005930,A373220,A000660,A207940,A051910,A005380,A006400,A035420,A035720,...,A042100,A051310,A053000,A060000,A063350,A064420,A067250,A068870,A103130,A103150
0,1999-12-31,38922929,NaN,11035740,NaN,NaN,4554564,2461082,NaN,1045539,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000-01-31,43221332,NaN,12165615,NaN,NaN,3775926,2057010,NaN,1526863,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000-02-29,39412224,NaN,10237191,NaN,NaN,3097875,1917603,NaN,2440520,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000-03-31,45389101,NaN,11235259,NaN,NaN,2888741,1736949,NaN,1629286,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000-04-30,47388922,NaN,10825874,NaN,NaN,2560715,2041623,NaN,933008,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268,2022-04-30,402334916,"101,026,714.00",81414931,"57,966,139.00","35,820,572.00",38653592,41029503,"50,804,439.00",42840404,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
269,2022-05-31,399094177,"96,970,714.00",79750926,"57,603,491.00","37,025,684.00",39431955,40846131,"45,136,934.00",37167059,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
270,2022-06-30,364902958,"97,256,250.00",71409752,"57,967,664.00","39,747,019.00",37979520,38002718,"41,647,962.00",33253070,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
271,2022-07-31,355486337,"90,814,286.00",70266095,"58,545,699.00","37,921,534.00",39584575,37443924,"39,918,611.00",32006613,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
272,2022-08-26,360983325,"105,096,789.00",69505068,"62,228,552.00","44,948,746.00",41232337,41432439,"42,100,176.00",34899194,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
indireturn

,Date,A005930,A373220,A000660,A207940,A051910,A005380,A006400,A035420,A035720,...,A042100,A051310,A053000,A060000,A063350,A064420,A067250,A068870,A103130,A103150
0,1999-12-31,17.70,NaN,9.30,NaN,NaN,-17.43,-20.00,NaN,905.20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000-01-31,4.89,NaN,9.54,NaN,NaN,-5.00,-5.72,NaN,-37.13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000-02-29,-12.03,NaN,-35.38,NaN,NaN,-28.27,-27.21,NaN,69.59,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000-03-31,30.86,NaN,37.43,NaN,NaN,11.20,24.62,NaN,-44.29,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000-04-30,-14.65,NaN,-32.05,NaN,NaN,-26.15,10.50,NaN,-54.55,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268,2022-04-30,-3.99,-5.44,-6.25,1.21,-0.76,5.38,12.73,-14.22,-14.79,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
269,2022-05-31,0.00,6.47,-4.00,1.07,12.72,1.88,-5.89,0.52,-5.45,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
270,2022-06-30,-15.81,-15.59,-14.95,-6.29,-7.36,-3.73,-8.43,-14.59,-16.69,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
271,2022-07-31,5.86,7.79,4.15,7.99,13.77,11.68,-0.18,5.07,5.65,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
272,2022-08-26,-2.76,18.15,-5.37,2.29,8.64,-1.28,4.09,-1.22,4.97,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
pbr

,Date,A005930,A373220,A000660,A207940,A051910,A005380,A006400,A035420,A035720,...,A042100,A051310,A053000,A060000,A063350,A064420,A067250,A068870,A103130,A103150
0,1999-12-31,3.27992,NaN,1.11713,NaN,NaN,0.68073,1.09542,NaN,67.79449,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000-01-31,2.72056,NaN,2.12281,NaN,NaN,0.62156,0.89618,NaN,24.38585,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000-02-29,2.49628,NaN,1.43933,NaN,NaN,0.43800,0.66257,NaN,36.92883,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000-03-31,3.26662,NaN,1.97808,NaN,NaN,0.48707,0.82570,NaN,20.57153,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000-04-30,2.92533,NaN,1.41521,NaN,NaN,0.37984,0.93243,NaN,10.53669,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268,2022-04-30,1.54547,10.46934,1.27058,11.29562,1.87124,0.66937,2.85750,1.91042,4.01455,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
269,2022-05-31,1.54547,11.14721,1.21975,11.41694,2.10920,0.68196,2.68914,1.92043,3.79574,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
270,2022-06-30,1.30700,9.31445,1.02775,10.64862,1.86042,0.64957,2.48804,1.60036,3.12144,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
271,2022-07-31,1.40789,10.59487,1.10568,11.65956,2.17410,0.70535,2.66108,1.72705,3.34025,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
272,2022-08-26,1.40789,10.59487,1.10568,11.65956,2.17410,0.70535,2.66108,1.72705,3.34025,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
netbuytradeamount #Activity = netbuy * 10000 / trade amount

,Date,A005930,A005930.1,A373220,A373220.1,A000660,A000660.1,A207940,A207940.1,A051910,...,A064420,A064420.1,A067250,A067250.1,A068870,A068870.1,A103130,A103130.1,A103150,A103150.1
0,1999-12-31,25853786,4977092865500,NaN,NaN,16384343,3695446362000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000-01-31,38882433,5228670993000,NaN,NaN,89893690,6479768501000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000-02-29,27426535,5761348699000,NaN,NaN,-15695711,4517804642500,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000-03-31,55677768,7971120493500,NaN,NaN,81550451,5426123779500,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000-04-30,-30861075,5500017727500,NaN,NaN,-6511570,3626600943000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268,2022-04-30,-414188124,20862445445512,27448759.0,3.425228e+12,-63495592,7537954772545,6891030.0,8.207133e+11,1035222.0,...,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN
269,2022-05-31,-95315443,20749258205428,40030475.0,2.763068e+12,-17045852,8064223280096,7498447.0,7.887640e+11,18320419.0,...,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN
270,2022-06-30,-371545102,26052954770686,-7028617.0,2.531311e+12,-35738545,6243433744379,1036587.0,1.169567e+12,-5290788.0,...,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN
271,2022-07-31,29397395,17893465205928,41363375.0,4.115638e+12,15449160,6524640796512,14945214.0,9.926171e+11,16419649.0,...,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN
272,2022-08-26,-86821678,13167995586544,47866715.0,3.129182e+12,-24841334,4518950459577,2174414.0,8.459190e+11,11482457.0,...,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN

In [5]:
activity = pd.DataFrame()
for i in netbuytradeamount.columns:
    if i == 'Date':
        activity[i] = netbuytradeamount[i]    
    elif '.1'in i:
        pass
    else:
        activity[i] = netbuytradeamount[i]*100000/netbuytradeamount[i+'.1']
activity

,Date,A005930,A373220,A000660,A207940,A051910,A005380,A006400,A035420,A035720,...,A042100,A051310,A053000,A060000,A063350,A064420,A067250,A068870,A103130,A103150
0,1999-12-31,0.519456,NaN,0.443366,NaN,NaN,0.018025,-1.629212,NaN,-0.530374,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000-01-31,0.743639,NaN,1.387298,NaN,NaN,-1.087802,-0.220100,NaN,0.069081,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000-02-29,0.476044,NaN,-0.347419,NaN,NaN,-0.589368,-1.921870,NaN,0.177780,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000-03-31,0.698494,NaN,1.502923,NaN,NaN,0.347629,-0.183832,NaN,0.185394,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000-04-30,-0.561109,NaN,-0.179550,NaN,NaN,-0.118320,1.279962,NaN,-0.192824,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268,2022-04-30,-1.985329,0.801370,-0.842345,0.839639,0.052332,0.967282,1.035701,-2.342387,-1.341789,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
269,2022-05-31,-0.459368,1.448769,-0.211376,0.950658,0.625355,0.460438,-0.299767,-0.034148,-0.490253,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
270,2022-06-30,-1.426115,-0.277667,-0.572418,0.088630,-0.164791,-0.006345,0.113360,-0.248042,-0.503841,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
271,2022-07-31,0.164291,1.005029,0.236782,1.505637,0.572647,0.592025,0.387236,0.146368,0.329343,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
272,2022-08-26,-0.659339,1.529688,-0.549715,0.257048,0.469314,0.863775,0.829072,-0.451171,0.393999,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
indistd

,Date,A005930,A373220,A000660,A207940,A051910,A005380,A006400,A035420,A035720,...,A042100,A051310,A053000,A060000,A063350,A064420,A067250,A068870,A103130,A103150
0,1999-12-31,0.0350,NaN,0.0491,NaN,NaN,0.0364,0.0275,NaN,0.0276,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000-01-31,0.0477,NaN,0.0514,NaN,NaN,0.0507,0.0430,NaN,0.1029,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000-02-29,0.0369,NaN,0.0570,NaN,NaN,0.0515,0.0344,NaN,0.0937,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000-03-31,0.0498,NaN,0.0514,NaN,NaN,0.0494,0.0514,NaN,0.0760,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000-04-30,0.0598,NaN,0.0684,NaN,NaN,0.0533,0.0411,NaN,0.0882,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268,2022-04-30,0.0139,0.0201,0.0189,0.0151,0.0275,0.0125,0.0216,0.0181,0.0172,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
269,2022-05-31,0.0121,0.0168,0.0209,0.0156,0.0330,0.0143,0.0228,0.0201,0.0236,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
270,2022-06-30,0.0124,0.0208,0.0194,0.0177,0.0303,0.0252,0.0317,0.0264,0.0263,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
271,2022-07-31,0.0166,0.0195,0.0182,0.0108,0.0265,0.0126,0.0223,0.0246,0.0212,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
272,2022-08-26,0.0107,0.0170,0.0160,0.0152,0.0198,0.0138,0.0162,0.0220,0.0299,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
riskfree

          Date  Riskfree
0   1999-12-31     4.790
1   2000-01-31     4.780
2   2000-02-29     5.070
3   2000-03-31     5.050
4   2000-04-30     5.060
..         ...       ...
268 2022-04-30     1.530
269 2022-05-31     1.863
270 2022-06-30     2.337
271 2022-07-31     2.341
272 2022-08-26     2.449

[273 rows x 2 columns]

In [20]:
indistd.columns

Index(['Date', 'A005930', 'A373220', 'A000660', 'A207940', 'A051910',
       'A005380', 'A006400', 'A035420', 'A035720',
       ...
       'A042100', 'A051310', 'A053000', 'A060000', 'A063350', 'A064420',
       'A067250', 'A068870', 'A103130', 'A103150'],
      dtype='object', length=525)

In [6]:
professionalism['A005930']
a = pd.DataFrame()
a['Date']= professionalism['Date']
a['riskfree']=riskfree['Riskfree'].shift(1)
a['kospi200']=kospi200return['KOSPI200'].shift(1)
a['professionalism']= professionalism['A005930']
a['pbr'] = pbr['A005930']
a['activity'] = activity['A005930']
a['indireturn'] = indireturn['A005930'].shift(1)
a['indistd'] = indistd['A005930'].shift(1)
a['pbr']=pbr['A005930']
a=a.drop(len(a)-1)
a

,Date,riskfree,kospi200,professionalism,pbr,activity,indireturn,indistd
0,1999-12-31,NaN,NaN,6.393523,3.27992,0.519456,NaN,NaN
1,2000-01-31,4.790,11.18,6.048716,2.72056,0.743639,17.70,0.0350
2,2000-02-29,4.780,-8.41,7.309089,2.49628,0.476044,4.89,0.0477
3,2000-03-31,5.070,-13.36,7.982614,3.26662,0.698494,-12.03,0.0369
4,2000-04-30,5.050,4.71,6.447847,2.92533,-0.561109,30.86,0.0498
...,...,...,...,...,...,...,...,...
267,2022-03-31,1.390,0.99,2.449669,1.59591,-1.733265,-1.64,0.0134
268,2022-04-30,1.454,1.13,2.469211,1.54547,-1.985329,-3.47,0.0121
269,2022-05-31,1.530,-2.39,2.475756,1.54547,-0.459368,-3.99,0.0139
270,2022-06-30,1.863,-0.15,3.569847,1.30700,-1.426115,0.00,0.0121
271,2022-07-31,2.337,-12.85,2.396913,1.40789,0.164291,-15.81,0.0124

In [70]:
for col in indistd.columns :
    if col == 'Date' :
        continue
    else :
#         print("Filename : ", col)
        new_df = pd.DataFrame()
        new_df['Date'] = professionalism['Date']
        new_df['riskfree']=riskfree['Riskfree'] #.shift(1)
        new_df['kospi200']=kospi200return['KOSPI200'] #.shift(1)
        new_df['professionalism'] = professionalism[col]
        new_df['pbr'] = pbr[col]
        new_df['activity'] = activity[col]
        new_df['indireturn'] = indireturn[col] #.shift(1)
        new_df['indistd'] = indistd[col] #.shift(1)
        new_df['actualreturn'] = indireturn[col]
        new_df['indexreturn'] = kospi200return['KOSPI200']
        new_df = new_df.dropna()
        new_df.drop(new_df.tail(1).index, inplace=True)
        new_df.to_csv(str(col)+'.csv')

In [16]:
a = pd.read_csv('A005930.csv')
del a['Unnamed: 0']

In [9]:
a

,Date,riskfree,kospi200,professionalism,pbr,activity,indireturn,indistd,actualreturn,indexreturn
0,2000-01-31,4.790,11.18,6.048716,3.27992,0.519456,17.70,0.0350,4.89,-8.41
1,2000-02-29,4.780,-8.41,7.309089,2.72056,0.743639,4.89,0.0477,-12.03,-13.36
2,2000-03-31,5.070,-13.36,7.982614,2.49628,0.476044,-12.03,0.0369,30.86,4.71
3,2000-04-30,5.050,4.71,6.447847,3.26662,0.698494,30.86,0.0498,-14.65,-17.96
4,2000-05-31,5.060,-17.96,7.016900,2.92533,-0.561109,-14.65,0.0598,2.67,1.68
...,...,...,...,...,...,...,...,...,...,...
266,2022-03-31,1.390,0.99,2.449669,1.65324,-0.683024,-1.64,0.0134,-3.47,1.13
267,2022-04-30,1.454,1.13,2.469211,1.59591,-1.733265,-3.47,0.0121,-3.99,-2.39
268,2022-05-31,1.530,-2.39,2.475756,1.54547,-1.985329,-3.99,0.0139,0.00,-0.15
269,2022-06-30,1.863,-0.15,3.569847,1.54547,-0.459368,0.00,0.0121,-15.81,-12.85
270,2022-07-31,2.337,-12.85,2.396913,1.30700,-1.426115,-15.81,0.0124,5.86,3.34

In [397]:
b=pd.read_csv('A373220.csv')
del b['Unnamed: 0']
b

,Date,riskfree,kospi200,professionalism,pbr,activity,indireturn,indistd,actualreturn,indexreturn
0,2022-03-31,1.39,0.99,3.09,11.10,-0.19,-8.44,0.05,7.28,1.13
1,2022-04-30,1.45,1.13,1.61,10.47,0.80,7.28,0.03,-5.44,-2.39
2,2022-05-31,1.53,-2.39,1.36,11.15,1.45,-5.44,0.02,6.47,-0.15
3,2022-06-30,1.86,-0.15,1.30,9.31,-0.28,6.47,0.02,-15.59,-12.85
4,2022-07-31,2.34,-12.85,2.16,10.59,1.01,-15.59,0.02,7.79,3.34

In [398]:
index = np.array([205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217,
            218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230,
            231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243,
            244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256,
            257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269,
            270, 271])

In [400]:
b['indexreturn'][0]

1.13

In [40]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import mean_squared_error
from sklearn.metrics import accuracy_score
from scikitplot.estimators import plot_feature_importances
from sklearn.metrics import precision_score, recall_score, f1_score
from sklearn.model_selection import cross_val_predict

In [291]:
pd.options.display.float_format = '{:,.2f}'.format
pd.set_option('display.max_columns', 20)
pd.set_option('display.max_rows', 20)
b = []
precision = []
recall = []
f1 = []
x=[]
y=[]
z=[]
f=[]


start_date = '2020-01-31'
end_date = '2022-07-31'
dates = pd.date_range(start_date, end_date, freq='M')
investable = pd.DataFrame(index=dates)


pred = pd.DataFrame()
for col in indistd.columns:
    if col == 'Date':
        continue
    else:
        new_df = pd.DataFrame()
        new_df = pd.read_csv(str(col)+'.csv')
        del new_df['Unnamed: 0']
        new_df.dropna()

    new_df['Direction'] = np.where(new_df['actualreturn'].values > new_df['riskfree'].values , 0, 1)
    
    new_df = new_df.loc['2011-12-31'<=new_df.Date]
            
    train = new_df.loc[new_df.Date<= '2019-12-31']
    test = new_df.loc[new_df.Date>'2019-12-31']

    if train.empty:
        continue
    if test.empty:
        continue
# validation 나누기
    X_train = train.loc[:,['professionalism','pbr','activity','kospi200','riskfree']]
    y_train = train.Direction

    X_test = test.loc[:,['professionalism','pbr','activity','kospi200','riskfree']]
    y_test = test.Direction

    
    X_train=X_train.replace([np.inf, -np.inf],0.0)
    X_test=X_test.replace([np.inf, -np.inf],0.0)
    y_train=y_train.replace([np.inf, -np.inf],0.0)
    y_test=y_test.replace([np.inf, -np.inf],0.0)
    
    X_train=X_train.dropna()
    y_test=y_test.dropna()
    y_train=y_train.dropna()
    X_test=X_test.dropna()
    
    if len(X_train)==97 and len(X_test)==31:
        pass
    else:
        continue

    
    model = RandomForestClassifier(max_features=5, random_state=42, n_estimators=100)
    model.fit(X_train, y_train)
    if (np.all(np.isfinite(X_test)) == False) :
        print(np.isfinite(X_test))
        print(X_test['activity'])
    
    # precision / recall -> 뭐가 positive 인지 확인
    y_train_pred = cross_val_predict(model, X_train, y_train)
    x.append(precision_score(y_train, y_train_pred))
    y.append(recall_score(y_train, y_train_pred))
    z.append(accuracy_score(y_train, y_train_pred))
    f.append(f1_score(y_train, y_train_pred))
    
    y_pred = model.predict(X_test)
    b.append(accuracy_score(y_test, y_pred))
    precision.append(precision_score(y_test, y_pred))
    recall.append(recall_score(y_test, y_pred))
    f1.append(f1_score(y_test, y_pred))
    investable[col] = y_pred

In [90]:
sum(b)/len(b)

0.6680868330290148

In [91]:
sum(precision)/len(precision)

0.690805861376252

In [92]:
sum(recall)/len(recall)

0.7632740249584107

In [93]:
sum(f1)/len(f1)

0.7056271972358774

In [94]:
sum(x)/len(x) # train precision_score -> validation

0.7200664995200433

In [95]:
sum(y)/len(y) # train recall_score

0.7290006854959923

In [96]:
sum(z)/len(z) # train accuracy_score

0.6677689165531995

In [97]:
sum(f)/len(f)

0.7231206714431718

In [98]:
investable #prediction

,A005930,A000660,A051910,A005380,A006400,A035420,A035720,A000270,A068270,A005490,...,A001620,A010770,A014990,A024070,A025560,A025530,A000760,A003680,A084870,A001210
2020-01-31,1,1,0,1,0,1,1,1,1,1,...,1,0,0,1,1,1,1,1,1,1
2020-02-29,1,1,1,1,1,1,0,1,1,1,...,1,0,1,1,1,1,1,1,1,0
2020-03-31,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2020-04-30,0,1,0,1,0,0,1,1,0,0,...,1,0,0,0,0,1,1,0,1,0
2020-05-31,0,0,0,1,0,1,1,0,0,0,...,1,0,0,1,0,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-03-31,1,1,1,1,0,1,0,1,1,0,...,1,1,0,1,1,0,1,0,1,0
2022-04-30,1,1,1,1,0,1,1,0,0,1,...,1,1,1,1,0,0,1,0,1,1
2022-05-31,1,1,0,0,0,1,1,0,1,1,...,1,1,1,1,1,0,1,0,1,1
2022-06-30,1,1,1,1,0,1,1,1,0,1,...,1,1,1,1,1,1,1,1,1,1
2022-07-31,1,0,0,0,0,0,1,1,0,1,...,1,0,1,0,1,0,0,0,1,0

In [380]:
investable.columns

Index(['A005930', 'A000660', 'A051910', 'A005380', 'A006400', 'A035420',
       'A035720', 'A000270', 'A068270', 'A005490',
       ...
       'A001620', 'A010770', 'A014990', 'A024070', 'A025560', 'A025530',
       'A000760', 'A003680', 'A084870', 'A001210'],
      dtype='object', length=318)

In [381]:
investable.index

DatetimeIndex(['2020-01-31', '2020-02-29', '2020-03-31', '2020-04-30',
               '2020-05-31', '2020-06-30', '2020-07-31', '2020-08-31',
               '2020-09-30', '2020-10-31', '2020-11-30', '2020-12-31',
               '2021-01-31', '2021-02-28', '2021-03-31', '2021-04-30',
               '2021-05-31', '2021-06-30', '2021-07-31', '2021-08-31',
               '2021-09-30', '2021-10-31', '2021-11-30', '2021-12-31',
               '2022-01-31', '2022-02-28', '2022-03-31', '2022-04-30',
               '2022-05-31', '2022-06-30', '2022-07-31'],
              dtype='datetime64[ns]', freq='M')

In [486]:
indistd.Date

0     1999-12-31
1     2000-01-31
2     2000-02-29
3     2000-03-31
4     2000-04-30
         ...
268   2022-04-30
269   2022-05-31
270   2022-06-30
271   2022-07-31
272   2022-08-26
Name: Date, Length: 273, dtype: datetime64[ns]

In [500]:
from datetime import datetime, time
for d in indistd.Date:
    if d in investable.index:
        print(d)
        format_string='%Y-%m-%d'
        print(datetime.strftime(d,format_string))

2020-01-31 00:00:00
2020-01-31
2020-02-29 00:00:00
2020-02-29
2020-03-31 00:00:00
2020-03-31
2020-04-30 00:00:00
2020-04-30
2020-05-31 00:00:00
2020-05-31
2020-06-30 00:00:00
2020-06-30
2020-07-31 00:00:00
2020-07-31
2020-08-31 00:00:00
2020-08-31
2020-09-30 00:00:00
2020-09-30
2020-10-31 00:00:00
2020-10-31
2020-11-30 00:00:00
2020-11-30
2020-12-31 00:00:00
2020-12-31
2021-01-31 00:00:00
2021-01-31
2021-02-28 00:00:00
2021-02-28
2021-03-31 00:00:00
2021-03-31
2021-04-30 00:00:00
2021-04-30
2021-05-31 00:00:00
2021-05-31
2021-06-30 00:00:00
2021-06-30
2021-07-31 00:00:00
2021-07-31
2021-08-31 00:00:00
2021-08-31
2021-09-30 00:00:00
2021-09-30
2021-10-31 00:00:00
2021-10-31
2021-11-30 00:00:00
2021-11-30
2021-12-31 00:00:00
2021-12-31
2022-01-31 00:00:00
2022-01-31
2022-02-28 00:00:00
2022-02-28
2022-03-31 00:00:00
2022-03-31
2022-04-30 00:00:00
2022-04-30
2022-05-31 00:00:00
2022-05-31
2022-06-30 00:00:00
2022-06-30
2022-07-31 00:00:00
2022-07-31

In [388]:
investable.index[0]

Timestamp('2020-01-31 00:00:00', freq='M')

In [99]:
from datetime import datetime, time

Set = {}
for d in investable.index:
    stocks = []
    for stock in investable.columns:
        if investable[stock][d] == 0:
            stocks.append(stock)
    Set[datetime.strftime(d, '%Y-%m-%d')] = stocks

In [420]:
investable['A005930']['2020-01-31']

1

In [101]:
indiv=indireturn[:][144:]

In [102]:
indiv

,Date,A005930,A373220,A000660,A207940,A051910,A005380,A006400,A035420,A035720,...,A042100,A051310,A053000,A060000,A063350,A064420,A067250,A068870,A103130,A103150
144,2011-12-31,5.27,NaN,-6.20,NaN,-4.22,-1.62,1.52,-16.10,-17.98,...,NaN,9.36,-3.08,NaN,NaN,-17.49,-17.65,1.03,-7.01,NaN
145,2012-01-31,4.63,NaN,22.32,NaN,17.80,3.76,4.49,0.47,9.92,...,NaN,29.77,17.71,NaN,NaN,16.61,16.96,8.16,28.62,NaN
146,2012-02-29,7.20,NaN,16.15,NaN,4.32,-2.26,-4.50,7.85,-12.64,...,NaN,-1.09,11.36,NaN,NaN,3.73,30.00,-7.39,32.12,NaN
147,2012-03-31,5.72,NaN,-3.15,NaN,-7.15,7.87,-0.72,11.35,5.68,...,NaN,-4.03,6.12,NaN,NaN,-7.49,-15.68,4.50,-2.21,NaN
148,2012-04-30,9.02,NaN,-4.10,NaN,-23.11,15.24,18.98,-1.54,-11.00,...,NaN,-6.87,-8.08,NaN,NaN,-6.80,-10.18,-14.86,-3.53,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268,2022-04-30,-3.99,-5.44,-6.25,1.21,-0.76,5.38,12.73,-14.22,-14.79,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
269,2022-05-31,0.00,6.47,-4.00,1.07,12.72,1.88,-5.89,0.52,-5.45,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
270,2022-06-30,-15.81,-15.59,-14.95,-6.29,-7.36,-3.73,-8.43,-14.59,-16.69,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
271,2022-07-31,5.86,7.79,4.15,7.99,13.77,11.68,-0.18,5.07,5.65,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
272,2022-08-26,-2.76,18.15,-5.37,2.29,8.64,-1.28,4.09,-1.22,4.97,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [103]:
indiv=indiv.dropna(axis=1)
indiv

,Date,A005930,A000660,A051910,A005380,A006400,A035420,A035720,A000270,A068270,...,A025560,A025530,A012600,A000760,A003680,A084870,A011230,A001210,A011400,A019490
144,2011-12-31,5.27,-6.20,-4.22,-1.62,1.52,-16.10,-17.98,-5.66,5.83,...,44.94,-1.48,-2.84,14.19,1.92,7.23,1.38,17.88,-97.87,47.93
145,2012-01-31,4.63,22.32,17.80,3.76,4.49,0.47,9.92,1.20,3.44,...,-13.44,6.69,21.00,0.71,0.94,16.72,7.82,10.78,-97.87,-16.62
146,2012-02-29,7.20,16.15,4.32,-2.26,-4.50,7.85,-12.64,5.37,-8.50,...,13.60,10.16,0.70,13.61,13.08,7.29,3.67,-0.71,-97.87,9.77
147,2012-03-31,5.72,-3.15,-7.15,7.87,-0.72,11.35,5.68,4.81,5.57,...,-17.55,7.03,-11.20,11.48,-15.29,-8.74,-7.37,-8.99,-97.87,-7.39
148,2012-04-30,9.02,-4.10,-23.11,15.24,18.98,-1.54,-11.00,12.55,-13.80,...,119.35,3.56,-4.03,-8.94,-9.17,-14.63,-7.96,-19.37,-97.87,-5.54
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268,2022-04-30,-3.99,-6.25,-0.76,5.38,12.73,-14.22,-14.79,16.71,3.23,...,-2.19,1.87,0.00,6.45,-2.49,-0.23,-8.43,0.23,-19.33,0.00
269,2022-05-31,0.00,-4.00,12.72,1.88,-5.89,0.52,-5.45,2.27,-8.81,...,-2.24,-1.18,0.00,-1.93,-8.66,-6.64,-17.64,37.33,2.64,0.00
270,2022-06-30,-15.81,-14.95,-7.36,-3.73,-8.43,-14.59,-16.69,-7.54,13.69,...,-22.19,-18.10,0.00,-13.09,-23.84,-5.47,-6.27,-55.29,-9.68,0.00
271,2022-07-31,5.86,4.15,13.77,11.68,-0.18,5.07,5.65,5.59,7.95,...,3.94,-0.33,0.00,3.53,-1.53,4.46,0.48,-0.71,27.39,0.00
272,2022-08-26,-2.76,-5.37,8.64,-1.28,4.09,-1.22,4.97,-4.36,1.88,...,-1.90,2.87,0.00,0.32,6.18,3.17,7.58,2.20,6.33,0.00

In [507]:
datetime.strftime(indiv['Date'][241], '%Y-%m-%d')

# datetime.strftime(d, '%Y-%m-%d')

'2020-01-31'

In [505]:
investable.index

DatetimeIndex(['2020-01-31', '2020-02-29', '2020-03-31', '2020-04-30',
               '2020-05-31', '2020-06-30', '2020-07-31', '2020-08-31',
               '2020-09-30', '2020-10-31', '2020-11-30', '2020-12-31',
               '2021-01-31', '2021-02-28', '2021-03-31', '2021-04-30',
               '2021-05-31', '2021-06-30', '2021-07-31', '2021-08-31',
               '2021-09-30', '2021-10-31', '2021-11-30', '2021-12-31',
               '2022-01-31', '2022-02-28', '2022-03-31', '2022-04-30',
               '2022-05-31', '2022-06-30', '2022-07-31'],
              dtype='datetime64[ns]', freq='M')

In [483]:
type(Set)

dict

In [489]:
indiv['Date']

144   2011-12-31
145   2012-01-31
146   2012-02-29
147   2012-03-31
148   2012-04-30
         ...
268   2022-04-30
269   2022-05-31
270   2022-06-30
271   2022-07-31
272   2022-08-26
Name: Date, Length: 129, dtype: datetime64[ns]

In [106]:
c=indiv.drop(['Date'], axis=1)
c=c.iloc[0:97, :]
c

,A005930,A000660,A051910,A005380,A006400,A035420,A035720,A000270,A068270,A005490,...,A025560,A025530,A012600,A000760,A003680,A084870,A011230,A001210,A011400,A019490
144,5.27,-6.20,-4.22,-1.62,1.52,-16.10,-17.98,-5.66,5.83,2.15,...,44.94,-1.48,-2.84,14.19,1.92,7.23,1.38,17.88,-97.87,47.93
145,4.63,22.32,17.80,3.76,4.49,0.47,9.92,1.20,3.44,9.08,...,-13.44,6.69,21.00,0.71,0.94,16.72,7.82,10.78,-97.87,-16.62
146,7.20,16.15,4.32,-2.26,-4.50,7.85,-12.64,5.37,-8.50,-1.77,...,13.60,10.16,0.70,13.61,13.08,7.29,3.67,-0.71,-97.87,9.77
147,5.72,-3.15,-7.15,7.87,-0.72,11.35,5.68,4.81,5.57,-8.65,...,-17.55,7.03,-11.20,11.48,-15.29,-8.74,-7.37,-8.99,-97.87,-7.39
148,9.02,-4.10,-23.11,15.24,18.98,-1.54,-11.00,12.55,-13.80,-1.18,...,119.35,3.56,-4.03,-8.94,-9.17,-14.63,-7.96,-19.37,-97.87,-5.54
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
236,-5.48,-1.90,-1.20,0.39,5.27,5.78,6.75,-0.34,-11.30,-7.86,...,14.37,-3.81,-8.13,-2.82,8.19,-8.18,-7.59,-24.25,-97.87,-2.55
237,11.48,6.20,-9.38,4.28,-10.62,7.17,0.74,4.35,4.46,7.58,...,-10.47,1.49,13.85,-2.26,10.84,4.20,4.85,0.70,-97.87,2.75
238,2.75,-0.24,2.67,-8.96,2.02,4.46,4.43,-6.69,21.95,-6.83,...,2.34,1.30,-1.52,-0.66,-13.98,-8.71,-8.90,-2.78,-97.87,-5.35
239,-1.57,-2.53,2.17,-1.22,1.32,12.42,11.47,1.29,-15.33,8.73,...,-4.05,6.96,-5.57,3.00,1.81,-3.48,-10.96,56.77,-97.87,-7.98
240,10.93,16.32,3.59,-0.41,2.16,8.43,-1.29,2.43,8.91,2.60,...,-16.35,-2.12,-1.14,0.32,-5.52,-0.72,13.63,30.00,-97.87,1.61

In [324]:
indiv.iloc[96,:]

Date       2019-12-31 00:00:00
A005930                  10.93
A000660                  16.32
A051910                   3.59
A005380                  -0.41
                  ...
A084870                  -0.72
A011230                  13.63
A001210                  30.00
A011400                 -97.87
A019490                   1.61
Name: 240, Length: 364, dtype: object

In [570]:
type(c.mean())

pandas.core.series.Series

In [571]:
type(c.cov())

pandas.core.frame.DataFrame

In [367]:
from scipy.optimize import minimize
def objfuc(weights, mean_return, cov_matrix,riskfree):
    #return np.dot(weigths.T, np.dot(cov_matrix, weights))
    sigma=np.dot(weights.T, np.dot(cov_matrix, weights))
    expected=np.sum(mean_return*weights)
    objfuction = (expected-riskfree)/sigma
    return -objfuction
# Editing required weight should be greater than 1 / 
def MeanVarianceOptimization(mean, cov_matrix, riskfree):
    num = len(mean)
    def objfuc(weights):
        weights = np.array(weights)
        sigma=np.dot(weights.T, np.dot(cov_matrix, weights))
        expected=np.sum(mean*weights)
        objfuction = (expected-riskfree)/sigma
        return -objfuction #weights.dot(cov_matrix).dot(weights.T)
    constraints=({"type":"eq","fun":lambda w: np.sum(w)-1})
    #{"type":"ineq", "fun": lambda w: np.sum(mean*w)-minimum}
    bounds = tuple((0,1) for x in range(num)) #확인
    init = [1/num for x in range(num)] #확인
    result = minimize(objfuc, init, method="SLSQP", bounds=bounds, constraints=constraints)
    return result

In [329]:
rf.iloc[96]

Riskfree   5.02
Name: 2007-12-31 00:00:00, dtype: float64

In [330]:
c_result=MeanVarianceOptimization(c.mean(), c.cov(),rf.iloc[96])
c_result

     fun: Riskfree   -107,767,728,350,494,900,355,072.00
Name: 2007-12-31 00:00:00, dtype: float64
     jac: array([ 7.23216922e+30,  7.23216941e+30,  7.23216938e+30,  7.23216924e+30,
        7.23216948e+30,  7.23216945e+30,  7.23216954e+30,  7.23216926e+30,
        7.23216971e+30,  7.23216916e+30,  7.23216903e+30,  7.23216922e+30,
        7.23216937e+30,  7.23216873e+30,  7.23216940e+30,  7.23216939e+30,
        7.23216955e+30,  7.23216921e+30,  7.23216904e+30,  7.23216959e+30,
        7.23216884e+30,  7.23216940e+30,  7.23216922e+30,  7.23216967e+30,
        7.23216888e+30,  7.23216885e+30,  7.23216921e+30,  7.23216938e+30,
        7.23216953e+30,  7.23216849e+30,  7.23216948e+30,  7.23216946e+30,
        7.23216869e+30,  7.23216960e+30,  7.23216954e+30,  7.23216957e+30,
        7.23216897e+30,  7.23216956e+30,  7.23216942e+30,  7.23216917e+30,
        7.23216952e+30,  7.23216954e+30,  7.23216908e+30,  7.23216945e+30,
        7.23216943e+30,  7.23216955e+30,  7.23216953e+30,  7.23216941e+30,
        7.23216943e+30,  7.23216966e+30,  7.23216928e+30,  7.23216963e+30,
        7.23216936e+30,  7.23216929e+30,  7.23216916e+30,  7.23216937e+30,
        7.23216944e+30,  7.23216921e+30,  7.23216948e+30,  7.23216951e+30,
        7.23216946e+30,  7.23216957e+30,  7.23216928e+30,  7.23216974e+30,
        7.23216926e+30,  7.23216961e+30,  7.23216945e+30,  7.23216968e+30,
        7.23216940e+30,  7.23216942e+30,  7.23216953e+30,  7.23216931e+30,
        7.23216960e+30,  7.23216973e+30,  7.23216962e+30,  7.23216918e+30,
        7.23216957e+30,  7.23216960e+30,  7.23216977e+30,  7.23216931e+30,
        7.23216921e+30,  7.23216940e+30,  7.23216942e+30,  7.23216959e+30,
        7.23216944e+30,  7.23216939e+30,  7.23216929e+30,  7.23216966e+30,
        7.23216933e+30,  7.23216947e+30,  7.23216966e+30,  7.23216895e+30,
        7.23216956e+30,  7.23216920e+30,  7.23216954e+30,  7.23216947e+30,
        7.23216941e+30,  7.23216934e+30,  7.23216971e+30,  7.23216965e+30,
        7.23216910e+30,  7.23216952e+30,  7.23216953e+30,  7.23216954e+30,
        7.23216943e+30,  7.23216950e+30,  7.23216945e+30,  7.23216972e+30,
        7.23216924e+30,  7.23216958e+30,  7.23216938e+30,  7.23216956e+30,
        7.23216954e+30,  7.23216967e+30,  7.23216956e+30,  7.23216962e+30,
        7.23216939e+30,  7.23216961e+30,  7.23216922e+30,  7.23216944e+30,
        7.23216959e+30,  7.23216948e+30,  7.23216944e+30,  7.23216972e+30,
        7.23216959e+30,  7.23216961e+30,  7.23216965e+30,  7.23216913e+30,
        7.23216935e+30,  7.23216968e+30,  7.23216955e+30,  7.23216961e+30,
        7.23216934e+30,  7.23216941e+30,  7.23216966e+30,  7.23216958e+30,
        7.23216902e+30,  7.23216950e+30,  7.23216964e+30,  7.23216949e+30,
        7.23216924e+30,  7.23216926e+30,  7.23216950e+30,  7.23216957e+30,
        7.23216925e+30,  7.23216968e+30,  7.23216939e+30,  7.23216974e+30,
        7.23216973e+30,  7.23216974e+30,  7.23216951e+30,  7.23216959e+30,
        7.23216942e+30,  7.23216963e+30,  7.23216956e+30,  7.23216955e+30,
        7.23216973e+30,  7.23216938e+30,  7.23216908e+30,  7.23216976e+30,
        7.23216941e+30,  7.23216912e+30,  7.23216958e+30,  7.23216944e+30,
        7.23216968e+30,  7.23216927e+30,  7.23216967e+30,  7.23216944e+30,
        7.23216934e+30,  7.23216944e+30,  7.23216959e+30,  7.23216959e+30,
        7.23216963e+30,  7.23216929e+30,  7.23216946e+30,  7.23216940e+30,
        7.23216962e+30,  7.23216954e+30,  7.23216976e+30,  7.23216958e+30,
        7.23216964e+30,  7.23216906e+30,  7.23216923e+30,  7.23216969e+30,
        7.23216944e+30,  7.23216951e+30,  7.23216950e+30,  7.23216964e+30,
        7.23216962e+30,  7.23216963e+30,  7.23216963e+30,  7.23216877e+30,
        7.23216971e+30,  7.23216938e+30,  7.23216938e+30,  7.23216939e+30,
        7.23216960e+30,  7.23216966e+30,  7.23216928e+30,  7.23216971e+30,
        7.23216908e+30,  7.23216969e+30,  7.23216979e+30,  7.23216965e+30,
        7.23216957e+30,  7.23216960e+30,  7.23216976e+30,  7.23216956e+30,
        7.23216943e+30,  7.23216934e+30,  7.23216948e+30,  7.23216945e+30,
        7.23216959e+30,  7.23216943e+30,  7.23216972e+30,  7.23216970e+30,
        7.23216945e+30,  7.23216876e+30,  7.23216962e+30,  7.23216955e+30,
        7.23216946e+30,  7.23216955e+30,  7.23216966e+30,  7.23216943e+30,
        7.23216965e+30,  7.23216958e+30,  7.23216917e+30,  7.23216903e+30,
        7.23216969e+30,  7.23216969e+30,  7.23216977e+30,  7.23216947e+30,
        7.23216970e+30,  7.23216843e+30,  7.23216942e+30,  7.23216955e+30,
        7.23216966e+30,  7.23216950e+30,  7.23216876e+30,  7.23216969e+30,
        7.23216957e+30,  7.23216946e+30,  7.23216935e+30,  7.23216968e+30,
        7.23216933e+30,  7.23216959e+30,  7.23216965e+30,  7.23216906e+30,
        7.23216941e+30,  7.23216975e+30,  7.23216940e+30,  7.23216942e+30,
        7.23216953e+30,  7.23216974e+30,  7.23216883e+30,  7.23216903e+30,
        7.23216958e+30,  7.23216964e+30,  7.23216968e+30,  7.23216966e+30,
        7.23216926e+30,  7.23216964e+30,  7.23216964e+30,  7.23216917e+30,
        7.23216962e+30,  7.23216971e+30,  7.23216874e+30,  7.23216964e+30,
        7.23216962e+30,  7.23216924e+30,  7.23216927e+30,  7.23216937e+30,
        7.23216962e+30,  7.23216953e+30,  7.23216910e+30,  7.23216952e+30,
        7.23216886e+30,  7.23216883e+30,  7.23216964e+30,  7.23216960e+30,
        7.23216973e+30,  7.23216944e+30,  7.23216906e+30,  7.23216967e+30,
        7.23216961e+30,  7.23216959e+30,  7.23216932e+30,  7.23216978e+30,
        7.23216955e+30,  7.23216960e+30,  7.23216938e+30,  7.23216970e+30,
        7.23216964e+30,  7.23216949e+30,  7.23216969e+30,  7.23216967e+30,
        7.23216957e+30,  7.23216967e+30,  7.23216954e+30,  7.23216962e+30,
        7.23216947e+30,  7.23216963e+30,  7.23216967e+30,  7.23216925e+30,
        7.23216970e+30,  7.23216948e+30,  7.23216979e+30,  7.23216956e+30,
        7.23216971e+30,  7.23216955e+30,  7.23216946e+30,  7.23216962e+30,
        7.23216975e+30,  7.23216956e+30,  7.23216960e+30,  7.23216973e+30,
        7.23216967e+30,  7.23216967e+30,  7.23216960e+30,  7.23216970e+30,
        7.23216937e+30,  7.23216977e+30,  7.23216935e+30,  7.23216976e+30,
        7.23216893e+30,  7.23216965e+30,  7.23216971e+30,  7.23216964e+30,
        7.23216929e+30,  7.23216968e+30,  7.23216969e+30,  7.23216967e+30,
        7.23216970e+30,  7.23216973e+30,  7.23216963e+30,  7.23216971e+30,
        7.23216969e+30,  7.23216956e+30,  7.23216970e+30,  7.23216960e+30,
        7.23216965e+30,  7.23216976e+30,  7.23216975e+30,  7.23216953e+30,
        7.23216976e+30,  7.23216974e+30,  7.23216971e+30,  7.23216965e+30,
        7.23216960e+30,  7.23216970e+30,  7.23216968e+30,  7.23216975e+30,
        7.23216801e+30,  7.23216977e+30,  7.23216914e+30,  7.23216975e+30,
        7.23216966e+30,  7.23216936e+30,  7.23216966e+30,  7.23216970e+30,
        7.23216966e+30, -1.02509698e+23,  7.23216954e+30])
 message: 'Inequality constraints incompatible'
    nfev: 728
     nit: 2
    njev: 2
  status: 4
 success: False
       x: array([6.30637036e-14, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 1.35294987e-13, 0.00000000e+00, 9.92665151e-14,
       0.00000000e+00, 3.22038403e-14, 5.33232312e-14, 0.00000000e+00,
       3.17866393e-14, 8.23364814e-14, 1.41640172e-14, 0.00000000e+00,
       8.49784652e-14, 6.48530708e-14, 1.68246493e-13, 0.00000000e+00,
       0.00000000e+00, 6.19339649e-15, 1.42982848e-13, 1.13003357e-13,
       0.00000000e+00, 2.41959230e-14, 9.48542460e-14, 1.35655376e-14,
       9.90540115e-14, 1.23715708e-13, 3.62990887e-16, 0.00000000e+00,
       6.12968877e-14, 8.18117275e-14, 1.25304281e-13, 1.47893850e-14,
       0.00000000e+00, 0.00000000e+00, 5.04414219e-14, 0.00000000e+00,
       1.74300678e-14, 6.45187029e-15, 2.80712953e-14, 9.91797790e-14,
       2.64111649e-16, 0.00000000e+00, 0.00000000e+00, 4.23966418e-15,
       6.64893487e-14, 0.00000000e+00, 1.62513232e-14, 3.70836174e-14,
       0.00000000e+00, 0.00000000e+00, 6.56991822e-14, 0.00000000e+00,
       0.00000000e+00, 1.05723590e-13, 0.00000000e+00, 0.00000000e+00,
       4.88272617e-14, 5.38119896e-14, 3.01095954e-14, 1.25342445e-14,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 6.72352798e-14, 0.00000000e+00, 9.50151416e-14,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 1.01532064e-13,
       0.00000000e+00, 1.13249254e-13, 0.00000000e+00, 0.00000000e+00,
       7.04336763e-14, 1.38397974e-13, 4.01657874e-14, 0.00000000e+00,
       0.00000000e+00, 2.84650775e-14, 0.00000000e+00, 1.29922982e-13,
       0.00000000e+00, 5.96957379e-14, 0.00000000e+00, 8.43405207e-14,
       3.95304449e-14, 2.39508934e-14, 2.26246973e-14, 5.06530581e-14,
       1.49880108e-14, 6.06914692e-14, 9.84537972e-14, 0.00000000e+00,
       8.42741675e-14, 0.00000000e+00, 8.70137296e-15, 1.84834786e-14,
       3.53137658e-14, 0.00000000e+00, 0.00000000e+00, 2.59527642e-14,
       7.30492056e-14, 0.00000000e+00, 8.17991508e-14, 7.08838370e-14,
       7.33571190e-14, 0.00000000e+00, 2.17482282e-14, 6.69477494e-14,
       0.00000000e+00, 1.38029345e-13, 3.77540881e-14, 4.45867301e-15,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 5.51199711e-14,
       1.21555977e-13, 2.07247414e-14, 4.70855993e-14, 0.00000000e+00,
       4.08158750e-14, 0.00000000e+00, 7.67745242e-15, 5.09549000e-14,
       5.26371481e-14, 0.00000000e+00, 0.00000000e+00, 1.49011879e-13,
       0.00000000e+00, 0.00000000e+00, 1.22857453e-14, 2.10213791e-14,
       5.12307211e-15, 1.84453147e-14, 3.58901277e-14, 2.41538560e-14,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 7.79602077e-14,
       0.00000000e+00, 0.00000000e+00, 6.33308510e-14, 0.00000000e+00,
       0.00000000e+00, 5.85620961e-14, 5.88058248e-14, 0.00000000e+00,
       3.98830274e-14, 1.56753950e-14, 3.06130989e-14, 7.11739695e-14,
       1.33265794e-14, 4.83168193e-14, 0.00000000e+00, 2.99348220e-14,
       6.21299887e-14, 8.49546128e-14, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 7.74775209e-14, 0.00000000e+00, 4.62464268e-14,
       0.00000000e+00, 0.00000000e+00, 7.18162509e-14, 0.00000000e+00,
       3.41306844e-15, 5.00051389e-14, 4.39518213e-14, 1.47147919e-14,
       0.00000000e+00, 1.62279044e-14, 0.00000000e+00, 2.82391298e-14,
       0.00000000e+00, 2.72420975e-14, 2.21610924e-16, 4.69199332e-14,
       1.54098088e-13, 2.81632356e-15, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 4.44197630e-14, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 3.43301776e-15, 5.90642986e-14, 0.00000000e+00,
       6.79725373e-14, 3.58246419e-14, 1.14487413e-14, 3.80893234e-14,
       5.60823089e-14, 1.17236949e-14, 0.00000000e+00, 1.16687476e-13,
       0.00000000e+00, 5.50223929e-14, 1.88269539e-14, 0.00000000e+00,
       7.72949413e-15, 0.00000000e+00, 0.00000000e+00, 1.07340352e-14,
       1.08013858e-13, 4.83259266e-14, 4.67230421e-14, 4.22210010e-14,
       2.34087923e-14, 8.22866081e-15, 1.14734611e-14, 3.43518616e-15,
       0.00000000e+00, 5.44360564e-14, 0.00000000e+00, 1.39289622e-14,
       0.00000000e+00, 3.39168797e-14, 3.31856938e-14, 5.52795656e-14,
       6.32740388e-15, 3.90659727e-15, 2.21498167e-14, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 3.09062671e-14,
       2.51010150e-14, 2.55633188e-14, 3.15936513e-15, 3.57387731e-14,
       0.00000000e+00, 1.32836450e-14, 5.63763446e-14, 5.87546505e-14,
       1.81998513e-14, 0.00000000e+00, 1.70735821e-14, 0.00000000e+00,
       0.00000000e+00, 2.38416058e-14, 0.00000000e+00, 3.85663723e-14,
       0.00000000e+00, 1.13746686e-13, 6.44918147e-14, 0.00000000e+00,
       1.21920703e-14, 3.95083272e-15, 4.29660647e-14, 1.11425626e-14,
       2.35770604e-14, 0.00000000e+00, 4.43829001e-15, 1.13607040e-14,
       5.19241768e-14, 4.22071232e-14, 2.00560055e-14, 7.09935583e-15,
       0.00000000e+00, 0.00000000e+00, 2.65022379e-14, 0.00000000e+00,
       2.38038755e-14, 0.00000000e+00, 2.59943976e-14, 0.00000000e+00,
       2.87066378e-14, 2.17590702e-14, 1.03111963e-14, 2.72034999e-14,
       0.00000000e+00, 3.13681373e-14, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 1.87675396e-14, 6.97575678e-15,
       3.01668412e-15, 0.00000000e+00, 3.95083272e-15, 2.18397349e-14,
       0.00000000e+00, 0.00000000e+00, 1.16863984e-14, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 2.21632608e-14, 2.91789162e-14,
       3.28005852e-14, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 3.01625044e-14, 0.00000000e+00, 0.00000000e+00,
       3.44273221e-14, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       1.06728862e-14, 3.53666749e-15, 0.00000000e+00, 0.00000000e+00,
       1.57070537e-14, 0.00000000e+00, 8.84188556e-15, 0.00000000e+00,
       6.34128167e-15, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 5.21848190e-15, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       8.02699920e-15, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       5.01053192e-14, 0.00000000e+00, 2.23493099e-14, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       7.82403656e-15, 1.00000000e+00, 3.92971246e-14])

In [296]:
c

,A005930,A000660,A051910,A005380,A006400,A035420,A035720,A000270,A068270,A005490,...,A025560,A025530,A012600,A000760,A003680,A084870,A011230,A001210,A011400,A019490
144,5.27,-6.20,-4.22,-1.62,1.52,-16.10,-17.98,-5.66,5.83,2.15,...,44.94,-1.48,-2.84,14.19,1.92,7.23,1.38,17.88,-97.87,47.93
145,4.63,22.32,17.80,3.76,4.49,0.47,9.92,1.20,3.44,9.08,...,-13.44,6.69,21.00,0.71,0.94,16.72,7.82,10.78,-97.87,-16.62
146,7.20,16.15,4.32,-2.26,-4.50,7.85,-12.64,5.37,-8.50,-1.77,...,13.60,10.16,0.70,13.61,13.08,7.29,3.67,-0.71,-97.87,9.77
147,5.72,-3.15,-7.15,7.87,-0.72,11.35,5.68,4.81,5.57,-8.65,...,-17.55,7.03,-11.20,11.48,-15.29,-8.74,-7.37,-8.99,-97.87,-7.39
148,9.02,-4.10,-23.11,15.24,18.98,-1.54,-11.00,12.55,-13.80,-1.18,...,119.35,3.56,-4.03,-8.94,-9.17,-14.63,-7.96,-19.37,-97.87,-5.54
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
236,-5.48,-1.90,-1.20,0.39,5.27,5.78,6.75,-0.34,-11.30,-7.86,...,14.37,-3.81,-8.13,-2.82,8.19,-8.18,-7.59,-24.25,-97.87,-2.55
237,11.48,6.20,-9.38,4.28,-10.62,7.17,0.74,4.35,4.46,7.58,...,-10.47,1.49,13.85,-2.26,10.84,4.20,4.85,0.70,-97.87,2.75
238,2.75,-0.24,2.67,-8.96,2.02,4.46,4.43,-6.69,21.95,-6.83,...,2.34,1.30,-1.52,-0.66,-13.98,-8.71,-8.90,-2.78,-97.87,-5.35
239,-1.57,-2.53,2.17,-1.22,1.32,12.42,11.47,1.29,-15.33,8.73,...,-4.05,6.96,-5.57,3.00,1.81,-3.48,-10.96,56.77,-97.87,-7.98
240,10.93,16.32,3.59,-0.41,2.16,8.43,-1.29,2.43,8.91,2.60,...,-16.35,-2.12,-1.14,0.32,-5.52,-0.72,13.63,30.00,-97.87,1.61

In [677]:
c.mean()

A005930     1.49
A000660     1.65
A051910     0.38
A005380    -0.10
A006400     1.26
           ...
A084870    -1.32
A011230     0.60
A001210    -0.77
A011400   -97.87
A019490     0.22
Length: 363, dtype: float64

In [678]:
c.cov()

,A005930,A000660,A051910,A005380,A006400,A035420,A035720,A000270,A068270,A005490,...,A025560,A025530,A012600,A000760,A003680,A084870,A011230,A001210,A011400,A019490
A005930,51.06,26.06,9.21,12.06,16.18,15.11,-7.45,11.29,-14.29,12.42,...,15.45,3.77,11.29,9.91,8.28,13.62,14.65,11.71,-0.00,-2.48
A000660,26.06,75.65,2.65,1.46,8.62,12.04,3.62,-2.13,-29.05,6.78,...,-26.98,4.33,1.62,8.52,2.72,35.70,9.25,3.07,0.00,-14.75
A051910,9.21,2.65,70.39,10.43,31.96,14.05,17.03,11.46,38.37,17.41,...,-34.61,4.92,33.61,-3.92,16.93,31.34,30.15,8.33,-0.00,3.37
A005380,12.06,1.46,10.43,53.24,23.80,2.75,-0.40,38.77,8.26,9.59,...,41.81,6.56,28.40,-6.21,15.70,10.87,21.46,-4.61,0.00,-0.93
A006400,16.18,8.62,31.96,23.80,90.82,11.85,14.70,20.81,-1.28,4.83,...,23.01,1.88,10.66,-4.34,7.00,14.40,23.50,-10.72,0.00,-1.62
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
A084870,13.62,35.70,31.34,10.87,14.40,23.36,6.65,7.61,34.03,28.78,...,43.93,38.40,86.32,12.81,36.05,188.27,44.70,30.60,0.00,10.84
A011230,14.65,9.25,30.15,21.46,23.50,22.96,11.71,21.59,82.75,25.40,...,68.78,5.13,46.79,47.45,43.22,44.70,245.19,55.65,0.00,16.69
A001210,11.71,3.07,8.33,-4.61,-10.72,8.67,11.54,-14.29,2.21,24.16,...,45.75,16.42,-7.48,23.68,17.74,30.60,55.65,185.64,-0.00,-0.46
A011400,-0.00,0.00,-0.00,0.00,0.00,-0.00,0.00,0.00,-0.00,0.00,...,0.00,-0.00,0.00,0.00,0.00,0.00,0.00,-0.00,0.00,-0.00
A019490,-2.48,-14.75,3.37,-0.93,-1.62,-2.82,-4.69,9.35,40.59,4.25,...,27.03,9.94,25.18,14.10,16.97,10.84,16.69,-0.46,-0.00,110.18

In [110]:
np.sum(c.mean()*c_result.x)

4.247941619928376

In [578]:
c.mean().mean()

0.4591695776887904

In [580]:
c.mean()

A005930     1.49
A000660     1.65
A051910     0.38
A005380    -0.10
A006400     1.26
           ...
A084870    -1.32
A011230     0.60
A001210    -0.77
A011400   -97.87
A019490     0.22
Length: 363, dtype: float64

In [598]:
indiv

,Date,A005930,A000660,A051910,A005380,A006400,A035420,A035720,A000270,A068270,...,A025560,A025530,A012600,A000760,A003680,A084870,A011230,A001210,A011400,A019490
144,2011-12-31,5.27,-6.20,-4.22,-1.62,1.52,-16.10,-17.98,-5.66,5.83,...,44.94,-1.48,-2.84,14.19,1.92,7.23,1.38,17.88,-97.87,47.93
145,2012-01-31,4.63,22.32,17.80,3.76,4.49,0.47,9.92,1.20,3.44,...,-13.44,6.69,21.00,0.71,0.94,16.72,7.82,10.78,-97.87,-16.62
146,2012-02-29,7.20,16.15,4.32,-2.26,-4.50,7.85,-12.64,5.37,-8.50,...,13.60,10.16,0.70,13.61,13.08,7.29,3.67,-0.71,-97.87,9.77
147,2012-03-31,5.72,-3.15,-7.15,7.87,-0.72,11.35,5.68,4.81,5.57,...,-17.55,7.03,-11.20,11.48,-15.29,-8.74,-7.37,-8.99,-97.87,-7.39
148,2012-04-30,9.02,-4.10,-23.11,15.24,18.98,-1.54,-11.00,12.55,-13.80,...,119.35,3.56,-4.03,-8.94,-9.17,-14.63,-7.96,-19.37,-97.87,-5.54
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268,2022-04-30,-3.99,-6.25,-0.76,5.38,12.73,-14.22,-14.79,16.71,3.23,...,-2.19,1.87,0.00,6.45,-2.49,-0.23,-8.43,0.23,-19.33,0.00
269,2022-05-31,0.00,-4.00,12.72,1.88,-5.89,0.52,-5.45,2.27,-8.81,...,-2.24,-1.18,0.00,-1.93,-8.66,-6.64,-17.64,37.33,2.64,0.00
270,2022-06-30,-15.81,-14.95,-7.36,-3.73,-8.43,-14.59,-16.69,-7.54,13.69,...,-22.19,-18.10,0.00,-13.09,-23.84,-5.47,-6.27,-55.29,-9.68,0.00
271,2022-07-31,5.86,4.15,13.77,11.68,-0.18,5.07,5.65,5.59,7.95,...,3.94,-0.33,0.00,3.53,-1.53,4.46,0.48,-0.71,27.39,0.00
272,2022-08-26,-2.76,-5.37,8.64,-1.28,4.09,-1.22,4.97,-4.36,1.88,...,-1.90,2.87,0.00,0.32,6.18,3.17,7.58,2.20,6.33,0.00

In [602]:
indiv['A005930'][144]

5.27

In [603]:
investable['A005930']['2020-01-31']

1

In [111]:
c=indiv.drop(['Date'], axis=1)
c=c.iloc[0:97, :]
c

,A005930,A000660,A051910,A005380,A006400,A035420,A035720,A000270,A068270,A005490,...,A025560,A025530,A012600,A000760,A003680,A084870,A011230,A001210,A011400,A019490
144,5.27,-6.20,-4.22,-1.62,1.52,-16.10,-17.98,-5.66,5.83,2.15,...,44.94,-1.48,-2.84,14.19,1.92,7.23,1.38,17.88,-97.87,47.93
145,4.63,22.32,17.80,3.76,4.49,0.47,9.92,1.20,3.44,9.08,...,-13.44,6.69,21.00,0.71,0.94,16.72,7.82,10.78,-97.87,-16.62
146,7.20,16.15,4.32,-2.26,-4.50,7.85,-12.64,5.37,-8.50,-1.77,...,13.60,10.16,0.70,13.61,13.08,7.29,3.67,-0.71,-97.87,9.77
147,5.72,-3.15,-7.15,7.87,-0.72,11.35,5.68,4.81,5.57,-8.65,...,-17.55,7.03,-11.20,11.48,-15.29,-8.74,-7.37,-8.99,-97.87,-7.39
148,9.02,-4.10,-23.11,15.24,18.98,-1.54,-11.00,12.55,-13.80,-1.18,...,119.35,3.56,-4.03,-8.94,-9.17,-14.63,-7.96,-19.37,-97.87,-5.54
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
236,-5.48,-1.90,-1.20,0.39,5.27,5.78,6.75,-0.34,-11.30,-7.86,...,14.37,-3.81,-8.13,-2.82,8.19,-8.18,-7.59,-24.25,-97.87,-2.55
237,11.48,6.20,-9.38,4.28,-10.62,7.17,0.74,4.35,4.46,7.58,...,-10.47,1.49,13.85,-2.26,10.84,4.20,4.85,0.70,-97.87,2.75
238,2.75,-0.24,2.67,-8.96,2.02,4.46,4.43,-6.69,21.95,-6.83,...,2.34,1.30,-1.52,-0.66,-13.98,-8.71,-8.90,-2.78,-97.87,-5.35
239,-1.57,-2.53,2.17,-1.22,1.32,12.42,11.47,1.29,-15.33,8.73,...,-4.05,6.96,-5.57,3.00,1.81,-3.48,-10.96,56.77,-97.87,-7.98
240,10.93,16.32,3.59,-0.41,2.16,8.43,-1.29,2.43,8.91,2.60,...,-16.35,-2.12,-1.14,0.32,-5.52,-0.72,13.63,30.00,-97.87,1.61

In [614]:
investable.columns

Index(['A005930', 'A000660', 'A051910', 'A005380', 'A006400', 'A035420',
       'A035720', 'A000270', 'A068270', 'A005490',
       ...
       'A001620', 'A010770', 'A014990', 'A024070', 'A025560', 'A025530',
       'A000760', 'A003680', 'A084870', 'A001210'],
      dtype='object', length=318)

In [112]:
start_date = '2020-01-31'
end_date = '2022-07-31'
columns = investable.columns
dates = pd.date_range(start_date, end_date, freq='M')
invSet = pd.DataFrame(index=dates, columns=columns)
invSet

,A005930,A000660,A051910,A005380,A006400,A035420,A035720,A000270,A068270,A005490,...,A001620,A010770,A014990,A024070,A025560,A025530,A000760,A003680,A084870,A001210
2020-01-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-02-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-04-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-05-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-04-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-05-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-06-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-07-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [113]:
count=144
for date,stocks in Set.items():
    for stock in stocks:
        invSet[stock][date] = indiv[stock][count]
    count= count+1

# Portfolio

In [114]:
temp=indiv[:][0:97]

In [115]:
temp.set_index('Date',inplace=True)
temp

,A005930,A000660,A051910,A005380,A006400,A035420,A035720,A000270,A068270,A005490,...,A025560,A025530,A012600,A000760,A003680,A084870,A011230,A001210,A011400,A019490
Date,,,,,,,,,,,,,,,,,,,,,
2011-12-31,5.27,-6.20,-4.22,-1.62,1.52,-16.10,-17.98,-5.66,5.83,2.15,...,44.94,-1.48,-2.84,14.19,1.92,7.23,1.38,17.88,-97.87,47.93
2012-01-31,4.63,22.32,17.80,3.76,4.49,0.47,9.92,1.20,3.44,9.08,...,-13.44,6.69,21.00,0.71,0.94,16.72,7.82,10.78,-97.87,-16.62
2012-02-29,7.20,16.15,4.32,-2.26,-4.50,7.85,-12.64,5.37,-8.50,-1.77,...,13.60,10.16,0.70,13.61,13.08,7.29,3.67,-0.71,-97.87,9.77
2012-03-31,5.72,-3.15,-7.15,7.87,-0.72,11.35,5.68,4.81,5.57,-8.65,...,-17.55,7.03,-11.20,11.48,-15.29,-8.74,-7.37,-8.99,-97.87,-7.39
2012-04-30,9.02,-4.10,-23.11,15.24,18.98,-1.54,-11.00,12.55,-13.80,-1.18,...,119.35,3.56,-4.03,-8.94,-9.17,-14.63,-7.96,-19.37,-97.87,-5.54
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-08-31,-5.48,-1.90,-1.20,0.39,5.27,5.78,6.75,-0.34,-11.30,-7.86,...,14.37,-3.81,-8.13,-2.82,8.19,-8.18,-7.59,-24.25,-97.87,-2.55
2019-09-30,11.48,6.20,-9.38,4.28,-10.62,7.17,0.74,4.35,4.46,7.58,...,-10.47,1.49,13.85,-2.26,10.84,4.20,4.85,0.70,-97.87,2.75
2019-10-31,2.75,-0.24,2.67,-8.96,2.02,4.46,4.43,-6.69,21.95,-6.83,...,2.34,1.30,-1.52,-0.66,-13.98,-8.71,-8.90,-2.78,-97.87,-5.35
2019-11-30,-1.57,-2.53,2.17,-1.22,1.32,12.42,11.47,1.29,-15.33,8.73,...,-4.05,6.96,-5.57,3.00,1.81,-3.48,-10.96,56.77,-97.87,-7.98
2019-12-31,10.93,16.32,3.59,-0.41,2.16,8.43,-1.29,2.43,8.91,2.60,...,-16.35,-2.12,-1.14,0.32,-5.52,-0.72,13.63,30.00,-97.87,1.61

In [116]:
invSet

,A005930,A000660,A051910,A005380,A006400,A035420,A035720,A000270,A068270,A005490,...,A001620,A010770,A014990,A024070,A025560,A025530,A000760,A003680,A084870,A001210
2020-01-31,NaN,NaN,-4.22,NaN,1.52,NaN,NaN,NaN,NaN,NaN,...,NaN,-0.34,-0.98,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-02-29,NaN,NaN,NaN,NaN,NaN,NaN,9.92,NaN,NaN,NaN,...,NaN,2.58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.78
2020-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-04-30,5.72,NaN,-7.15,NaN,-0.72,11.35,NaN,NaN,5.57,-8.65,...,NaN,-3.76,-4.08,-0.12,-17.55,NaN,NaN,-15.29,NaN,-8.99
2020-05-31,9.02,-4.10,-23.11,NaN,18.98,NaN,NaN,12.55,-13.80,-1.18,...,NaN,-1.30,-6.98,NaN,119.35,NaN,NaN,-9.17,-14.63,-19.37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-03-31,NaN,NaN,NaN,NaN,2.75,NaN,-10.94,NaN,NaN,-4.54,...,NaN,NaN,-4.71,NaN,NaN,-3.11,NaN,-5.45,NaN,-11.30
2022-04-30,NaN,NaN,NaN,NaN,7.69,NaN,NaN,7.04,-8.24,NaN,...,NaN,NaN,NaN,NaN,0.00,-2.07,NaN,1.86,NaN,NaN
2022-05-31,NaN,NaN,4.37,-7.26,0.00,NaN,NaN,-3.70,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,4.64,NaN,4.02,NaN,NaN
2022-06-30,NaN,NaN,NaN,NaN,0.33,NaN,NaN,NaN,1.14,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-07-31,NaN,9.97,13.85,2.23,6.93,10.16,NaN,NaN,-4.32,NaN,...,NaN,-5.26,NaN,6.42,NaN,1.10,-27.39,-1.79,NaN,-0.24

In [117]:
investableSet=pd.concat([temp, invSet], axis=0)
investableSet

,A005930,A000660,A051910,A005380,A006400,A035420,A035720,A000270,A068270,A005490,...,A025560,A025530,A012600,A000760,A003680,A084870,A011230,A001210,A011400,A019490
2011-12-31,5.27,-6.20,-4.22,-1.62,1.52,-16.10,-17.98,-5.66,5.83,2.15,...,44.94,-1.48,-2.84,14.19,1.92,7.23,1.38,17.88,-97.87,47.93
2012-01-31,4.63,22.32,17.80,3.76,4.49,0.47,9.92,1.20,3.44,9.08,...,-13.44,6.69,21.00,0.71,0.94,16.72,7.82,10.78,-97.87,-16.62
2012-02-29,7.20,16.15,4.32,-2.26,-4.50,7.85,-12.64,5.37,-8.50,-1.77,...,13.60,10.16,0.70,13.61,13.08,7.29,3.67,-0.71,-97.87,9.77
2012-03-31,5.72,-3.15,-7.15,7.87,-0.72,11.35,5.68,4.81,5.57,-8.65,...,-17.55,7.03,-11.20,11.48,-15.29,-8.74,-7.37,-8.99,-97.87,-7.39
2012-04-30,9.02,-4.10,-23.11,15.24,18.98,-1.54,-11.00,12.55,-13.80,-1.18,...,119.35,3.56,-4.03,-8.94,-9.17,-14.63,-7.96,-19.37,-97.87,-5.54
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-03-31,NaN,NaN,NaN,NaN,2.75,NaN,-10.94,NaN,NaN,-4.54,...,NaN,-3.11,NaN,NaN,-5.45,NaN,NaN,-11.30,NaN,NaN
2022-04-30,NaN,NaN,NaN,NaN,7.69,NaN,NaN,7.04,-8.24,NaN,...,0.00,-2.07,NaN,NaN,1.86,NaN,NaN,NaN,NaN,NaN
2022-05-31,NaN,NaN,4.37,-7.26,0.00,NaN,NaN,-3.70,NaN,NaN,...,NaN,4.64,NaN,NaN,4.02,NaN,NaN,NaN,NaN,NaN
2022-06-30,NaN,NaN,NaN,NaN,0.33,NaN,NaN,NaN,1.14,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-07-31,NaN,9.97,13.85,2.23,6.93,10.16,NaN,NaN,-4.32,NaN,...,NaN,1.10,NaN,-27.39,-1.79,NaN,NaN,-0.24,NaN,NaN

In [647]:
invSet.index

DatetimeIndex(['2020-01-31', '2020-02-29', '2020-03-31', '2020-04-30',
               '2020-05-31', '2020-06-30', '2020-07-31', '2020-08-31',
               '2020-09-30', '2020-10-31', '2020-11-30', '2020-12-31',
               '2021-01-31', '2021-02-28', '2021-03-31', '2021-04-30',
               '2021-05-31', '2021-06-30', '2021-07-31', '2021-08-31',
               '2021-09-30', '2021-10-31', '2021-11-30', '2021-12-31',
               '2022-01-31', '2022-02-28', '2022-03-31', '2022-04-30',
               '2022-05-31', '2022-06-30', '2022-07-31'],
              dtype='datetime64[ns]', freq='M')

In [749]:
kospi200return

          Date  KOSPI200
0   1999-12-31     11.18
1   2000-01-31     -8.41
2   2000-02-29    -13.36
3   2000-03-31      4.71
4   2000-04-30    -17.96
..         ...       ...
268 2022-04-30     -2.39
269 2022-05-31     -0.15
270 2022-06-30    -12.85
271 2022-07-31      3.34
272 2022-08-26      1.35

[273 rows x 2 columns]

In [118]:
kospi200return.set_index('Date', inplace=True)
kospi200return

            KOSPI200
Date
1999-12-31     11.18
2000-01-31     -8.41
2000-02-29    -13.36
2000-03-31      4.71
2000-04-30    -17.96
...              ...
2022-04-30     -2.39
2022-05-31     -0.15
2022-06-30    -12.85
2022-07-31      3.34
2022-08-26      1.35

[273 rows x 1 columns]

In [119]:
kospi200return.loc['2020-01-31']+5

KOSPI200   1.85
Name: 2020-01-31 00:00:00, dtype: float64

In [120]:
invSet[:][0:1]

,A005930,A000660,A051910,A005380,A006400,A035420,A035720,A000270,A068270,A005490,...,A001620,A010770,A014990,A024070,A025560,A025530,A000760,A003680,A084870,A001210
2020-01-31,NaN,NaN,-4.22,NaN,1.52,NaN,NaN,NaN,NaN,NaN,...,NaN,-0.34,-0.98,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [709]:
for date in invSet.index:
    print(type(datetime.strftime(date, '%Y-%m-%d')))
    
    # datetime.strftime(d, '%Y-%m-%d')

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [346]:
invSet

,A005930,A000660,A051910,A005380,A006400,A035420,A035720,A000270,A068270,A005490,...,A001620,A010770,A014990,A024070,A025560,A025530,A000760,A003680,A084870,A001210
2020-01-31,NaN,NaN,-4.22,NaN,1.52,NaN,NaN,NaN,NaN,NaN,...,NaN,-0.34,-0.98,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-02-29,NaN,NaN,NaN,NaN,NaN,NaN,9.92,NaN,NaN,NaN,...,NaN,2.58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.78
2020-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-04-30,5.72,NaN,-7.15,NaN,-0.72,11.35,NaN,NaN,5.57,-8.65,...,NaN,-3.76,-4.08,-0.12,-17.55,NaN,NaN,-15.29,NaN,-8.99
2020-05-31,9.02,-4.10,-23.11,NaN,18.98,NaN,NaN,12.55,-13.80,-1.18,...,NaN,-1.30,-6.98,NaN,119.35,NaN,NaN,-9.17,-14.63,-19.37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-03-31,NaN,NaN,NaN,NaN,2.75,NaN,-10.94,NaN,NaN,-4.54,...,NaN,NaN,-4.71,NaN,NaN,-3.11,NaN,-5.45,NaN,-11.30
2022-04-30,NaN,NaN,NaN,NaN,7.69,NaN,NaN,7.04,-8.24,NaN,...,NaN,NaN,NaN,NaN,0.00,-2.07,NaN,1.86,NaN,NaN
2022-05-31,NaN,NaN,4.37,-7.26,0.00,NaN,NaN,-3.70,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,4.64,NaN,4.02,NaN,NaN
2022-06-30,NaN,NaN,NaN,NaN,0.33,NaN,NaN,NaN,1.14,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-07-31,NaN,9.97,13.85,2.23,6.93,10.16,NaN,NaN,-4.32,NaN,...,NaN,-5.26,NaN,6.42,NaN,1.10,-27.39,-1.79,NaN,-0.24

In [350]:
rf.loc['2020-01-31']

Riskfree   1.25
Name: 2020-01-31 00:00:00, dtype: float64

In [356]:
temp

            A000080
2011-12-31   -16.58
2012-01-31    -0.60
2012-02-29     1.01
2012-03-31     3.00
2012-04-30    -4.85
...             ...
2020-06-30   -16.33
2020-07-31     2.61
2020-08-31    11.34
2020-09-30    -7.28
2020-10-31     5.17

[107 rows x 1 columns]

In [364]:
invSet

,A005930,A000660,A051910,A005380,A006400,A035420,A035720,A000270,A068270,A005490,...,A001620,A010770,A014990,A024070,A025560,A025530,A000760,A003680,A084870,A001210
2020-01-31,NaN,NaN,-4.22,NaN,1.52,NaN,NaN,NaN,NaN,NaN,...,NaN,-0.34,-0.98,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-02-29,NaN,NaN,NaN,NaN,NaN,NaN,9.92,NaN,NaN,NaN,...,NaN,2.58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.78
2020-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-04-30,5.72,NaN,-7.15,NaN,-0.72,11.35,NaN,NaN,5.57,-8.65,...,NaN,-3.76,-4.08,-0.12,-17.55,NaN,NaN,-15.29,NaN,-8.99
2020-05-31,9.02,-4.10,-23.11,NaN,18.98,NaN,NaN,12.55,-13.80,-1.18,...,NaN,-1.30,-6.98,NaN,119.35,NaN,NaN,-9.17,-14.63,-19.37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-03-31,NaN,NaN,NaN,NaN,2.75,NaN,-10.94,NaN,NaN,-4.54,...,NaN,NaN,-4.71,NaN,NaN,-3.11,NaN,-5.45,NaN,-11.30
2022-04-30,NaN,NaN,NaN,NaN,7.69,NaN,NaN,7.04,-8.24,NaN,...,NaN,NaN,NaN,NaN,0.00,-2.07,NaN,1.86,NaN,NaN
2022-05-31,NaN,NaN,4.37,-7.26,0.00,NaN,NaN,-3.70,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,4.64,NaN,4.02,NaN,NaN
2022-06-30,NaN,NaN,NaN,NaN,0.33,NaN,NaN,NaN,1.14,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-07-31,NaN,9.97,13.85,2.23,6.93,10.16,NaN,NaN,-4.32,NaN,...,NaN,-5.26,NaN,6.42,NaN,1.10,-27.39,-1.79,NaN,-0.24

In [368]:
Return = pd.DataFrame(index=invSet.index, columns=['Return'])
w={}
count1=97
count2=0
#temp = indiv[:][:]
#temp.set_index('Date', inplace=True)
for date in invSet.index:
    temp = indiv[:][:]
    temp.set_index('Date', inplace=True)
    temp = temp[:][0:count1]
    invSet1 = invSet[:][count2:count2+1]
    investableSet = pd.concat([temp, invSet1],axis=0)
    investableSet=investableSet.dropna(axis=1)
    investableSet = investableSet.astype(float)
    #kospi200return.loc[date]+5
    result = MeanVarianceOptimization(investableSet.mean(),investableSet.cov(),rf.loc[date])
    
    w[date]=result.x
    Return['Return'][datetime.strftime(date, '%Y-%m-%d')]=np.sum(investableSet.mean()*result.x)
    count1=count1+1
    count2=count2+1

In [369]:
Return

           Return
2020-01-31   2.23
2020-02-29   2.21
2020-03-31   2.09
2020-04-30   1.76
2020-05-31   1.74
...           ...
2022-03-31   2.39
2022-04-30   2.74
2022-05-31   2.62
2022-06-30   3.05
2022-07-31   3.02

[31 rows x 1 columns]

In [370]:
portfoliortn = 1
for date in Return.index:
    portfoliortn = portfoliortn * (1+Return['Return'][date]/100)
print((portfoliortn)**(1/len(Return.index))-1)
print(len(Return.index))

0.021860338997510498
31

In [301]:
k200=kospi200return[:]['2020-01-31':'2022-07-31']
k200

            KOSPI200
Date
2020-01-31     -3.15
2020-02-29     -8.45
2020-03-31    -11.64
2020-04-30     10.42
2020-05-31      3.94
...              ...
2022-03-31      1.13
2022-04-30     -2.39
2022-05-31     -0.15
2022-06-30    -12.85
2022-07-31      3.34

[31 rows x 1 columns]

In [371]:
indexrtn = 1
for date in k200.index:
    indexrtn = indexrtn * (1+k200['KOSPI200'][date]/100)
print((indexrtn)**(1/len(k200.index))-1)
print(len(k200.index))

0.0009709080047466401
31

In [372]:
ER = pd.DataFrame()
ER['return'] = Return['Return']-k200['KOSPI200']
ER

           return
2020-01-31   5.38
2020-02-29  10.66
2020-03-31  13.73
2020-04-30  -8.66
2020-05-31  -2.20
...           ...
2022-03-31   1.26
2022-04-30   5.13
2022-05-31   2.77
2022-06-30  15.90
2022-07-31  -0.32

[31 rows x 1 columns]

In [127]:
np.where(ER<0)

(array([ 3,  4,  5,  6, 10, 11, 12, 23]), array([0, 0, 0, 0, 0, 0, 0, 0]))

In [128]:
np.where(ER>0)

(array([ 0,  1,  2,  7,  8,  9, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 24,
        25, 26, 27, 28, 29, 30]),
 array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0]))

In [373]:
excessivertn = 1
for date in ER.index:
    excessivertn = excessivertn * (1+ER['return'][date]/100)
print((excessivertn)**(1/len(ER.index))-1)
print(len(ER.index))

0.016823184767366106
31

# Black-Litterman Model

In [177]:
market_prices=kospi200return['KOSPI200']

In [222]:
rf = pd.read_excel('./data/riskfreerate_data.xlsx')

In [223]:
rf.set_index('Date', inplace=True)
rf

            Riskfree
Date
1999-12-31      4.79
2000-01-31      4.78
2000-02-29      5.07
2000-03-31      5.05
2000-04-30      5.06
...              ...
2022-04-30      1.53
2022-05-31      1.86
2022-06-30      2.34
2022-07-31      2.34
2022-08-26      2.45

[273 rows x 1 columns]

In [277]:
rf['Riskfree'][200]

1.25

In [269]:
excessReturn=pd.concat([investableSet, rf], axis=0)
excessReturn

,A000660,A051910,A005380,A006400,A035420,A068270,A012330,A034020,A003550,A017670,...,A006200,A023960,A015260,A010770,A024070,A025530,A000760,A003680,A001210,Riskfree
2011-12-31,-6.20,-4.22,-1.62,1.52,-16.10,5.83,-7.45,2.52,0.66,-6.60,...,1.75,48.23,29.69,-0.34,-4.01,-1.48,14.19,1.92,17.88,NaN
2012-01-31,22.32,17.80,3.76,4.49,0.47,3.44,-5.14,3.69,14.66,0.71,...,17.53,-8.36,42.58,2.58,2.28,6.69,0.71,0.94,10.78,NaN
2012-02-29,16.15,4.32,-2.26,-4.50,7.85,-8.50,-5.94,4.28,-2.65,1.75,...,2.29,-1.48,-12.90,7.23,2.61,10.16,13.61,13.08,-0.71,NaN
2012-03-31,-3.15,-7.15,7.87,-0.72,11.35,5.57,0.53,-9.63,-7.01,-4.12,...,-8.38,-3.84,-2.36,-3.76,-0.12,7.03,11.48,-15.29,-8.99,NaN
2012-04-30,-4.10,-23.11,15.24,18.98,-1.54,-13.80,7.33,-16.46,-11.38,-3.23,...,-11.89,-11.11,-17.51,-1.30,2.79,3.56,-8.94,-9.17,-19.37,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-04-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.53
2022-05-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.86
2022-06-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.34
2022-07-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.34
2022-08-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.45

In [275]:
for col in excessReturn.columns:
    excessReturn[col]=excessReturn[col]-excessReturn['Riskfree']
excessReturn

,A000660,A051910,A005380,A006400,A035420,A068270,A012330,A034020,A003550,A017670,...,A006200,A023960,A015260,A010770,A024070,A025530,A000760,A003680,A001210,Riskfree
2011-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012-01-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012-02-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012-04-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-04-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00
2022-05-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00
2022-06-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00
2022-07-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00
2022-08-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00

In [280]:
indivreturn=indireturn
indivreturn.set_index('Date', inplace=True)
indivreturn

,A005930,A373220,A000660,A207940,A051910,A005380,A006400,A035420,A035720,A000270,...,A042100,A051310,A053000,A060000,A063350,A064420,A067250,A068870,A103130,A103150
Date,,,,,,,,,,,,,,,,,,,,,
1999-12-31,17.70,NaN,9.30,NaN,NaN,-17.43,-20.00,NaN,905.20,-14.46,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-31,4.89,NaN,9.54,NaN,NaN,-5.00,-5.72,NaN,-37.13,-5.35,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-02-29,-12.03,NaN,-35.38,NaN,NaN,-28.27,-27.21,NaN,69.59,-34.26,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-03-31,30.86,NaN,37.43,NaN,NaN,11.20,24.62,NaN,-44.29,11.86,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-04-30,-14.65,NaN,-32.05,NaN,NaN,-26.15,10.50,NaN,-54.55,-4.18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-04-30,-3.99,-5.44,-6.25,1.21,-0.76,5.38,12.73,-14.22,-14.79,16.71,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-05-31,0.00,6.47,-4.00,1.07,12.72,1.88,-5.89,0.52,-5.45,2.27,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-06-30,-15.81,-15.59,-14.95,-6.29,-7.36,-3.73,-8.43,-14.59,-16.69,-7.54,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-07-31,5.86,7.79,4.15,7.99,13.77,11.68,-0.18,5.07,5.65,5.59,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-08-26,-2.76,18.15,-5.37,2.29,8.64,-1.28,4.09,-1.22,4.97,-4.36,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [290]:
for col in indivreturn.columns:
    excessReturn[col]=indivreturn[col]-rf['Riskfree']
excessReturn

,A000010,A000020,A000030,A000050,A000060,A000070,A000080,A000100,A000120,A000140,...,A352820,A361610,A373220,A375500,A377300,A381970,A383220,A383800,A402340,Riskfree
Date,,,,,,,,,,,,,,,,,,,,,
1999-12-31,-13.43,7.76,-3.74,-10.45,-44.64,-14.17,-9.86,-2.50,-2.52,20.69,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-31,-18.43,-4.43,-28.87,-7.58,36.47,4.70,-1.73,-11.43,-9.67,-19.95,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-02-29,-29.43,-3.02,-34.77,-3.42,-17.00,12.44,-6.29,11.11,-9.22,-21.49,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-03-31,-20.09,0.61,-18.55,14.38,-13.49,-23.59,-20.36,-10.34,-11.40,-16.84,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-04-30,-7.69,-35.65,-17.75,-17.77,-50.83,-9.41,-24.20,-21.77,-41.50,20.69,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-04-30,NaN,-9.17,NaN,2.73,-3.63,0.95,0.10,2.21,-7.28,2.53,...,-17.42,0.48,-6.97,-9.61,-22.30,-15.01,-6.13,2.22,-9.88,NaN
2022-05-31,NaN,-8.16,NaN,-5.32,-14.71,-8.19,-6.28,-3.01,3.42,-5.05,...,-10.01,-2.65,4.61,-15.13,-8.08,-10.74,1.69,-4.57,-12.11,NaN
2022-06-30,NaN,-21.93,NaN,-18.72,-17.99,-17.26,-17.26,-9.32,-14.31,-18.76,...,-38.52,-21.93,-17.93,-22.17,-46.86,-23.08,-7.29,-8.29,-19.43,NaN
2022-07-31,NaN,4.88,NaN,4.14,-3.06,0.40,-5.38,1.43,-1.04,-1.04,...,15.84,-23.31,5.45,-3.44,-0.89,-10.73,0.41,-7.35,2.57,NaN
2022-08-26,NaN,-8.03,NaN,-5.14,9.56,-9.35,-0.95,-3.66,0.52,1.50,...,-0.42,-3.17,15.70,2.28,-3.23,12.83,-6.48,-5.42,-3.65,NaN

In [243]:
mktcap.set_index('Date', inplace=True)
mktcap

,A005930,A373220,A000660,A207940,A051910,A005380,A006400,A035420,A035720,A000270,...,A042100,A051310,A053000,A060000,A063350,A064420,A067250,A068870,A103130,A103150
Date,,,,,,,,,,,,,,,,,,,,,
1999-12-31,38922929,NaN,11035740,NaN,NaN,4554564,2461082,NaN,1045539,3374954,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-31,43221332,NaN,12165615,NaN,NaN,3775926,2057010,NaN,1526863,3134271,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-02-29,39412224,NaN,10237191,NaN,NaN,3097875,1917603,NaN,2440520,2711110,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-03-31,45389101,NaN,11235259,NaN,NaN,2888741,1736949,NaN,1629286,2314691,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-04-30,47388922,NaN,10825874,NaN,NaN,2560715,2041623,NaN,933008,2299334,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-04-30,402334916,"101,026,714.00",81414931,"57,966,139.00","35,820,572.00",38653592,41029503,"50,804,439.00",42840404,31745741,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-05-31,399094177,"96,970,714.00",79750926,"57,603,491.00","37,025,684.00",39431955,40846131,"45,136,934.00",37167059,34094918,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-06-30,364902958,"97,256,250.00",71409752,"57,967,664.00","39,747,019.00",37979520,38002718,"41,647,962.00",33253070,32173689,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-07-31,355486337,"90,814,286.00",70266095,"58,545,699.00","37,921,534.00",39584575,37443924,"39,918,611.00",32006613,32259201,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-08-26,360983325,"105,096,789.00",69505068,"62,228,552.00","44,948,746.00",41232337,41432439,"42,100,176.00",34899194,32333061,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [249]:
col=mktcap.columns
col=np.array(col)

In [250]:
weights = mktcap.div(mktcap[col].sum(axis = 1),axis = 0)

In [251]:
weights

,A005930,A373220,A000660,A207940,A051910,A005380,A006400,A035420,A035720,A000270,...,A042100,A051310,A053000,A060000,A063350,A064420,A067250,A068870,A103130,A103150
Date,,,,,,,,,,,,,,,,,,,,,
1999-12-31,0.12,NaN,0.03,NaN,NaN,0.01,0.01,NaN,0.00,0.01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-31,0.13,NaN,0.04,NaN,NaN,0.01,0.01,NaN,0.00,0.01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-02-29,0.13,NaN,0.03,NaN,NaN,0.01,0.01,NaN,0.01,0.01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-03-31,0.15,NaN,0.04,NaN,NaN,0.01,0.01,NaN,0.01,0.01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-04-30,0.18,NaN,0.04,NaN,NaN,0.01,0.01,NaN,0.00,0.01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-04-30,0.21,0.05,0.04,0.03,0.02,0.02,0.02,0.03,0.02,0.02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-05-31,0.21,0.05,0.04,0.03,0.02,0.02,0.02,0.02,0.02,0.02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-06-30,0.21,0.05,0.04,0.03,0.02,0.02,0.02,0.02,0.02,0.02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-07-31,0.21,0.05,0.04,0.03,0.02,0.02,0.02,0.02,0.02,0.02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-08-26,0.20,0.06,0.04,0.03,0.03,0.02,0.02,0.02,0.02,0.02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
from scipy.optimize import minimize
def objfuc(weights, mean_return, cov_matrix):
    return np.dot(weigths.T, np.dot(cov_matrix, weights))

def MeanVarianceOptimization(mean, cov_matrix, minimum):
    num = len(mean)
    def objfuc(weights):
        weights = np.array(weights)
        return weights.dot(cov_matrix).dot(weights.T)
    constraints=({"type":"eq","fun":lambda w: np.sum(w)-1},
                 {"type":"ineq", "fun": lambda w: np.sum(mean*w)-minimum})
    bounds = tuple((0,1) for x in range(num))
    init = [1/num for x in range(num)]
    result = minimize(objfuc, init, method="SLSQP", bounds=bounds, constraints=constraints)
    return result

Return = pd.DataFrame(index=invSet.index, columns=['Return'])
w={}
count1=97
count2=0
temp = indiv[:][:]
temp.set_index('Date', inplace=True)
for date in invSet.index:
    temp = temp[:][0:count1]
    invSet1 = invSet[:][count2:count2+1]
    investableSet = pd.concat([temp, invSet1],axis=0)
    investableSet=investableSet.dropna(axis=1)
    investableSet = investableSet.astype(float)
    
    result = MeanVarianceOptimization(investableSet.mean(),investableSet.cov(),kospi200return.loc[date]+5)
    
    w[date]=result.x
    Return['Return'][datetime.strftime(date, '%Y-%m-%d')]=np.sum(investableSet.mean()*result.x)
    count1=count1+1
    count2=count2+1

In [ ]:
monthly_excess_returns
w_mkt
N = monthly_excess_returns.columns.size
Sigma = monthly_excess_returns.cov()
expected_portfolio_excess_return = monthly_excess_returns.mean().multiply(w_mkt).sum()
portfolio_variance = w_mkt.dot(Sigma).dot(w_mkt)
lambd = expected_portfolio_excess_return / portfolio_variance
Pi = lambd * Sigma.dot(w_mkt)

In [ ]:
import numpy as np
import pandas as pd
from numpy.linalg import inv

asset_returns_orig = pd.read_csv('asset_returns.csv', index_col='Year', parse_dates=True)
asset_weights = pd.read_csv('asset_weights.csv', index_col='asset_class')
cols = ['Global Bonds (Unhedged)','Total US Bond Market','US Large Cap Growth',
            'US Large Cap Value','US Small Cap Growth','US Small Cap Value','Emerging Markets',
            'Intl Developed ex-US Market','Short Term Treasury']
asset_returns = asset_returns_orig[cols].dropna()
treasury_rate = asset_returns['Short Term Treasury']
asset_returns = asset_returns[cols[:-1]].astype(np.float).dropna()
asset_weights = asset_weights.loc[cols[:-1]]

excess_asset_returns = asset_returns.subtract(treasury_rate, axis=0)
cov = excess_asset_returns.cov()
global_return = excess_asset_returns.mean().multiply(asset_weights['weight'].values).sum()
market_var = np.matmul(asset_weights.values.reshape(len(asset_weights)).T,
                                       np.matmul(cov.values, asset_weights.values.reshape(len(asset_weights))))
print(f'The global market mean return is {global_return:.4f} and the variance is {market_var:.6}')
risk_aversion = global_return / market_var
print(f'The risk aversion parameter is {risk_aversion:.2f}')

def implied_rets(risk_aversion, sigma, w):
    
    implied_rets = risk_aversion * sigma.dot(w).squeeze()
    
    return implied_rets
implied_equilibrium_returns = implied_rets(risk_aversion, cov, asset_weights)
implied_equilibrium_returns

Q = np.array([0.0925, 0.005, 0.055])

P = [[0, 0, 0, 0, 0, 0, 1, 0],
    [0, 0, .5, -.5, .5, -.5, 0, 0],
    [0, 0, 0, 0, 0, 0, 0, 1]]

P = np.asarray([[0, 0, 0, 0, 0, 0, 1, 0],
                [0, 0, .85, -.85, .15, -.15, 0, 0],
                [0, 0, 0, 0, 0, 0, 0, 1]])

view1_var = np.matmul(P[0].reshape(len(P[0])),np.matmul(cov.values, P[0].reshape(len(P[0])).T))
view2_var = np.matmul(P[1].reshape(len(P[1])),np.matmul(cov.values, P[1].reshape(len(P[1])).T))
view3_var = np.matmul(P[2].reshape(len(P[2])),np.matmul(cov.values, P[2].reshape(len(P[2])).T))
print(f'The Variance of View 1 Portfolio is {view1_var}, and the standard deviation is {np.sqrt(view1_var):.3f}\n',\
      f'The Variance of View 2 Portfolio is {view2_var}, and the standard deviation is {np.sqrt(view2_var):.3f}\n',\
      f'The Variance of View 3 Portfolio is {view3_var}, and the standard deviation is {np.sqrt(view3_var):.3f}')

def error_cov_matrix(sigma, tau, P):
    matrix = np.diag(np.diag(P.dot(tau * cov).dot(P.T)))
    return matrix
tau = 0.025
omega = error_cov_matrix(cov, tau, P)

sigma_scaled = cov * tau
BL_return_vector = implied_equilibrium_returns + sigma_scaled.dot(P.T).dot(inv(P.dot(sigma_scaled).dot(P.T) + omega).dot(Q - P.dot(implied_equilibrium_returns)))

returns_table = pd.concat([implied_equilibrium_returns, BL_return_vector], axis=1) * 100
returns_table.columns = ['Implied Returns', 'BL Return Vector']
returns_table['Difference'] = returns_table['BL Return Vector'] - returns_table['Implied Returns']
returns_table.style.format('{:,.2f}%')

inverse_cov = pd.DataFrame(inv(cov.values), index=cov.columns, columns=cov.index)
BL_weights_vector = inverse_cov.dot(BL_return_vector)
BL_weights_vector = BL_weights_vector/sum(BL_weights_vector)

# Calculate mean-variance optimised weights
MV_weights_vector = inverse_cov.dot(excess_asset_returns.mean())
MV_weights_vector = MV_weights_vector/sum(MV_weights_vector)
weights_table = pd.concat([BL_weights_vector, asset_weights, MV_weights_vector], axis=1) * 100
weights_table.columns = ['BL Weights', 'Market Cap Weights', 'Mean-Var Weights']
weights_table['BL/Mkt Cap Diff'] = weights_table['BL Weights'] - weights_table['Market Cap Weights']
weights_table.style.format('{:,.2f}%')

from mlfinlab.portfolio_optimization.bayesian import VanillaBlackLitterman
views = [0.0925, 0.005, 0.055]
pick_list = [
        {"Emerging Markets": 1.0},
    
        {"US Large Cap Growth": 0.85,
         "US Large Cap Value": -0.85,
         "US Small Cap Growth": 0.15,
         "US Small Cap Value": -0.15},
    
    {"Intl Developed ex-US Market": 1.0}]
    
bl = VanillaBlackLitterman()
bl.allocate(covariance=cov,
            market_capitalised_weights=asset_weights,
            investor_views=views,
            pick_list=pick_list,
            asset_names=cov.columns,
            tau=tau,
            risk_aversion=risk_aversion)

In [225]:
excessReturn=investableSet-rf
excessReturn

,A000020,A000060,A000070,A000180,A000230,A000320,A000390,A000430,A000660,A000700,...,A086280,A093050,A093370,A097950,A100840,A104700,A138040,A139130,A139480,Riskfree
1999-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-02-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-04-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-04-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-05-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-06-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-07-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-08-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [257]:
investableSet['A000660'][0]-rf['Riskfree'][0]

-10.99

In [ ]:
for idx in investableSet.columns:
    for i in len()

In [261]:
len(rf)

273

In [267]:
rf[130:]

            Riskfree
Date
2010-10-31      2.26
2010-11-30      2.51
2010-12-31      2.51
2011-01-31      2.75
2011-02-28      2.76
...              ...
2022-04-30      1.53
2022-05-31      1.86
2022-06-30      2.34
2022-07-31      2.34
2022-08-26      2.45

[143 rows x 1 columns]

In [259]:
rf['Riskfree'][0]

4.79

In [255]:
investableSet

,A000660,A051910,A005380,A006400,A035420,A068270,A012330,A034020,A003550,A017670,...,A013520,A006200,A023960,A015260,A010770,A024070,A025530,A000760,A003680,A001210
2011-12-31,-6.20,-4.22,-1.62,1.52,-16.10,5.83,-7.45,2.52,0.66,-6.60,...,-12.30,1.75,48.23,29.69,-0.34,-4.01,-1.48,14.19,1.92,17.88
2012-01-31,22.32,17.80,3.76,4.49,0.47,3.44,-5.14,3.69,14.66,0.71,...,2.16,17.53,-8.36,42.58,2.58,2.28,6.69,0.71,0.94,10.78
2012-02-29,16.15,4.32,-2.26,-4.50,7.85,-8.50,-5.94,4.28,-2.65,1.75,...,8.87,2.29,-1.48,-12.90,7.23,2.61,10.16,13.61,13.08,-0.71
2012-03-31,-3.15,-7.15,7.87,-0.72,11.35,5.57,0.53,-9.63,-7.01,-4.12,...,-4.39,-8.38,-3.84,-2.36,-3.76,-0.12,7.03,11.48,-15.29,-8.99
2012-04-30,-4.10,-23.11,15.24,18.98,-1.54,-13.80,7.33,-16.46,-11.38,-3.23,...,-1.31,-11.89,-11.11,-17.51,-1.30,2.79,3.56,-8.94,-9.17,-19.37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-09-30,6.20,-9.38,4.28,-10.62,7.17,4.46,1.41,13.71,-1.69,0.84,...,5.46,-1.50,8.54,-4.80,-8.58,1.32,1.49,-2.26,10.84,0.70
2019-10-31,-0.24,2.67,-8.96,2.02,4.46,21.95,-5.56,-9.71,-0.86,-1.86,...,-1.04,-2.08,2.30,-7.00,-4.39,-1.87,1.30,-0.66,-13.98,-2.78
2019-11-30,-2.53,2.17,-1.22,1.32,12.42,-15.33,3.16,-12.50,2.16,4.68,...,6.20,0.56,-7.55,14.24,-9.42,-1.13,6.96,3.00,1.81,56.77
2019-12-31,16.32,3.59,-0.41,2.16,8.43,8.91,4.49,4.76,3.94,-3.25,...,2.92,2.37,-2.38,-7.16,-0.14,1.53,-2.12,0.32,-5.52,30.00
2022-07-31,9.97,13.85,2.23,6.93,10.16,-4.32,-1.39,4.47,2.97,7.74,...,-3.55,1.94,-3.68,-6.75,-5.26,6.42,1.10,-27.39,-1.79,-0.24

# Risk Parity Model

In [170]:
def RiskParity(mean, covmat, minimum) :
    def RC(weight, covmat) :
        weight = np.array(weight)
        variance = np.dot(weight.T, np.dot(covmat, weight))
        sigma = variance ** 0.5
        mrc = 1/sigma * np.dot(covmat, weight)
        rc = weight * mrc
        rc = rc / rc.sum()
        return(rc)
    
    def RiskParity_objective(weight) :
        variance = np.dot(weight.T, np.dot(covmat, weight))
        sigma = variance ** 0.5
        mrc = 1/sigma * np.dot(covmat, weight)
        rc = weight * mrc
        a = np.reshape(rc, (len(rc), 1))
        risk_diffs = a - a.T
        sum_risk_diffs_squared = np.sum(np.square(np.ravel(risk_diffs)))
        return (sum_risk_diffs_squared)
    
    def weight_sum_constraint(x) :
        return(x.sum() - 1.0 )


    def weight_longonly(x) :
        return(x)
    
    init = np.repeat(1/covmat.shape[1], covmat.shape[1]) 
    constraints = ({'type': 'eq', 'fun': weight_sum_constraint},
                  {'type': 'ineq', 'fun': weight_longonly},
                   {"type":"ineq", "fun": lambda w: np.sum(mean*w)-minimum})
    options = {'ftol': 1e-20, 'maxiter': 800}
    
    result = minimize(fun = RiskParity_objective, x0=init, method = 'SLSQP', constraints = constraints, options = options)
    return(result.x)

def MeanVarianceOptimization(mean, cov_matrix, minimum):
    num = len(mean)
    def objfuc(weights):
        weights = np.array(weights)
        return weights.dot(cov_matrix).dot(weights.T)
    constraints=({"type":"eq","fun":lambda w: np.sum(w)-1},
                 {"type":"ineq", "fun": lambda w: np.sum(mean*w)-minimum})
    bounds = tuple((0,1) for x in range(num))
    init = [1/num for x in range(num)]
    result = minimize(objfuc, init, method="SLSQP", bounds=bounds, constraints=constraints)
    return result

In [171]:
rpresult = RiskParity(c.mean(),c.cov(),kospi200return.loc[date]+5)
rpresult

array([ 1.56674627e-07,  1.67155462e-07,  1.02107949e-07,  1.24749113e-07,
        1.16871985e-07,  1.28984997e-07,  1.51511700e-07,  1.43812228e-07,
        5.95825284e-02,  1.59985701e-07,  1.40735702e-07,  1.43362831e-07,
        1.17657996e-07,  1.42788025e-07,  1.13754014e-07, -9.94521308e-08,
        1.09224277e-07,  1.35224861e-07,  1.20227413e-07, -1.20508446e-07,
        1.92600756e-07,  8.81186145e-08,  1.21139420e-07,  4.11528219e-08,
       -2.41158789e-07,  1.43803104e-07,  1.34069595e-07, -3.77432689e-07,
        1.20678041e-07,  1.52984481e-07,  1.55802015e-07,  7.75615686e-08,
        1.95038195e-07, -1.33886316e-07,  1.55320537e-07, -2.91104119e-07,
        1.82834401e-07,  1.07262848e-07,  1.27953225e-07, -1.44801934e-07,
        1.17312331e-07, -8.44887296e-08, -8.96849153e-10,  1.37551140e-07,
       -4.10124402e-07,  1.07937829e-07,  1.36586664e-07,  1.38048110e-07,
        9.37027245e-08,  1.22841530e-07, -1.52612994e-07,  1.40381592e-07,
        1.28208381e-07,  2.05312889e-07,  1.66513842e-07,  2.20637790e-07,
        1.71382705e-07,  1.39688450e-07, -5.66982949e-07,  9.92933448e-08,
        9.40506275e-08,  1.35428064e-07,  1.06866967e-02,  1.86003762e-02,
        1.44296338e-08,  2.14831430e-02,  1.19775307e-07,  1.13298587e-07,
        1.29786064e-07,  1.64193055e-07,  1.14934788e-02,  1.26610834e-07,
        6.60824969e-08,  1.63524107e-07,  1.57439889e-07,  1.77704048e-07,
        1.20130999e-07,  1.12497536e-07,  2.45159292e-02,  1.80447431e-07,
        1.95252992e-07, -3.94687203e-07,  1.49926329e-07,  5.80794842e-08,
        5.18106953e-02,  1.36272402e-07,  1.25077726e-07,  1.28779409e-07,
        1.46491405e-07,  1.97435914e-07,  1.11201816e-07,  2.64290247e-08,
        8.35966114e-08,  1.46371089e-07,  2.08711348e-07,  8.80383398e-08,
        1.11755750e-07,  1.74790667e-07,  2.62223404e-02,  2.10036148e-02,
        1.97043757e-07, -5.88636618e-07,  1.52050325e-07, -1.06689430e-06,
        4.32572551e-08,  8.60630425e-08, -6.77060983e-07,  7.27496151e-08,
       -6.68709554e-07, -3.53729154e-07, -9.00172087e-08, -3.42279614e-07,
        1.15981354e-07,  2.57280729e-03,  9.96397061e-08,  1.40162411e-07,
       -2.78813691e-07,  1.12720409e-07,  1.31789270e-07,  4.19589754e-08,
        2.49395221e-03,  1.30269727e-07,  1.39688664e-07,  9.31774907e-08,
        1.14246613e-07,  9.92373832e-08,  1.86331334e-07,  1.39475692e-07,
        1.40717958e-07,  1.51925227e-07,  1.46996678e-07,  1.50415400e-07,
        1.29847724e-07,  1.46363676e-07,  3.33048042e-08,  6.23707480e-08,
        1.91696292e-07, -1.16929393e-07, -3.32253380e-07,  1.59917267e-07,
        1.31235850e-07, -1.21377260e-07, -6.61792834e-07, -1.00748011e-06,
        1.45135308e-07, -7.65962891e-07,  1.01734689e-07,  1.98761441e-02,
        1.20983656e-07, -7.85016914e-07,  1.27085248e-07,  4.71554604e-08,
        1.77268913e-07,  1.72015277e-07,  1.02291648e-07, -2.79754066e-07,
        9.67650117e-08,  1.48381253e-07, -3.15500975e-07, -1.44825101e-07,
        1.92641414e-07,  1.69646796e-08,  2.64459961e-02,  1.98595445e-07,
        7.39669780e-02, -1.88842013e-07,  3.65243646e-02, -3.13882682e-07,
        1.71519636e-08, -7.70400963e-07, -3.35000790e-07,  2.02956528e-07,
       -7.37642329e-09,  8.26325659e-08,  1.54402082e-07, -8.28081057e-07,
        1.75242361e-08, -5.51894605e-07,  2.83605383e-02, -6.96053294e-07,
        1.24358338e-07, -1.12943498e-07, -3.68525453e-07,  7.74853698e-08,
        1.23175127e-07,  1.99493543e-07,  1.00408584e-07,  1.63087936e-07,
        1.21053125e-07, -1.11274016e-07,  5.62263080e-03,  1.67152466e-07,
        2.38448002e-03,  1.76208375e-07,  1.87202441e-07,  1.47789827e-07,
        9.98317368e-08,  1.23332183e-07,  6.05315689e-08, -4.70434766e-08,
        1.52511510e-07,  5.29896593e-02,  9.48225599e-03, -5.61844617e-08,
        8.02764084e-08,  1.72738807e-07,  3.77799323e-08,  7.39215822e-08,
       -6.54446028e-08,  1.90352369e-07,  8.98379598e-08, -1.23906966e-07,
       -4.11585818e-07, -4.97038664e-07,  7.72885155e-08,  3.62861976e-08,
       -4.36809150e-07, -1.41610135e-08, -1.37379730e-07,  9.71063299e-08,
        1.38343061e-07,  1.04373501e-07,  2.02591618e-02, -4.25510692e-07,
        1.16132017e-07, -2.98364607e-07,  1.68807195e-07,  1.30023496e-07,
        2.38678571e-07,  4.78494355e-02,  1.16757528e-08, -1.01714692e-06,
        2.73971049e-02,  2.87435185e-08,  1.78205687e-07,  4.70106485e-02,
        3.83583735e-02,  1.15483680e-07,  1.14555033e-07,  9.42290562e-08,
        7.99645669e-08,  1.22931751e-07, -1.61790700e-07,  1.12991609e-07,
       -5.63177472e-07,  1.31629855e-07,  7.16624336e-08,  1.48077355e-07,
       -1.33258935e-08, -3.64673649e-07, -2.38432007e-07, -3.85025810e-07,
       -8.45137115e-08,  1.43764346e-02, -1.94536677e-07, -6.57055128e-08,
       -1.07216930e-06,  9.07358937e-08,  8.99923319e-02,  1.05310286e-07,
        1.45171902e-07, -5.73547943e-07,  2.08428117e-02,  8.42396037e-08,
       -9.99909002e-07,  3.76945064e-03, -1.54854684e-07, -6.74552121e-08,
       -2.96247240e-07,  1.32142334e-07, -7.73370700e-09,  9.89328916e-08,
        1.04719720e-07,  1.04469412e-07, -4.10236926e-07,  1.01561528e-07,
        6.37298986e-08, -3.34346155e-08,  1.71589777e-07,  9.27350089e-08,
        8.26808551e-03,  1.97404366e-07, -2.53758103e-07, -6.04356175e-07,
       -5.53219257e-07, -7.33802671e-07,  1.43336390e-07,  3.06531826e-02,
        1.43224686e-07, -1.42763704e-07,  1.29357778e-07,  8.73211201e-03,
       -1.89759683e-07, -1.83111338e-07,  5.71729194e-08,  1.15796968e-07,
        9.23018044e-08,  1.84573030e-07,  1.44851004e-07, -2.07247898e-07,
       -9.66084690e-07,  4.64547058e-08,  2.48521942e-02, -2.89836565e-07,
        1.18953183e-07,  5.87820223e-08,  1.18405855e-07, -4.10445627e-07,
       -5.98819444e-08,  6.04073929e-08,  1.52583772e-07, -2.56548455e-07,
        9.67629660e-08,  1.39973074e-07, -5.16347879e-07,  4.05956583e-02,
        7.24433948e-08,  6.94037521e-08, -1.27514781e-06,  2.04661079e-07,
        1.64318156e-07,  1.73817082e-07,  7.64017806e-08,  1.52050663e-02,
       -1.48943372e-07,  2.02633590e-07, -4.88673536e-07,  9.91481819e-08,
        6.50014622e-08,  1.90803473e-03,  2.04108274e-07,  1.25260692e-07,
       -1.32550924e-06,  1.72206134e-07, -3.10629353e-07,  1.00311592e-03,
        1.06050315e-07, -6.28036198e-08, -1.72572346e-07,  8.70942396e-08,
       -1.62546298e-07,  1.16942379e-02, -1.16756793e-06, -3.60538328e-08,
       -3.86591771e-08,  2.46069622e-08,  1.11418828e-07,  1.64040401e-07,
        1.36073551e-07,  5.21633670e-08,  1.25136347e-07,  4.11260289e-02,
        9.02951596e-08, -2.53689620e-06, -2.94032442e-07,  2.00141672e-07,
       -5.82754677e-07,  9.73663118e-08,  9.36685346e-08,  9.29028091e-08,
        1.03283910e-07,  1.17364177e-07, -5.27116158e-07])

In [160]:
investableSetrp=pd.concat([temp, invSet], axis=0)
investableSetrp

,A005930,A000660,A051910,A005380,A006400,A035420,A035720,A000270,A068270,A005490,...,A025560,A025530,A012600,A000760,A003680,A084870,A011230,A001210,A011400,A019490
2011-12-31,5.27,-6.20,-4.22,-1.62,1.52,-16.10,-17.98,-5.66,5.83,2.15,...,44.94,-1.48,-2.84,14.19,1.92,7.23,1.38,17.88,-97.87,47.93
2012-01-31,4.63,22.32,17.80,3.76,4.49,0.47,9.92,1.20,3.44,9.08,...,-13.44,6.69,21.00,0.71,0.94,16.72,7.82,10.78,-97.87,-16.62
2012-02-29,7.20,16.15,4.32,-2.26,-4.50,7.85,-12.64,5.37,-8.50,-1.77,...,13.60,10.16,0.70,13.61,13.08,7.29,3.67,-0.71,-97.87,9.77
2012-03-31,5.72,-3.15,-7.15,7.87,-0.72,11.35,5.68,4.81,5.57,-8.65,...,-17.55,7.03,-11.20,11.48,-15.29,-8.74,-7.37,-8.99,-97.87,-7.39
2012-04-30,9.02,-4.10,-23.11,15.24,18.98,-1.54,-11.00,12.55,-13.80,-1.18,...,119.35,3.56,-4.03,-8.94,-9.17,-14.63,-7.96,-19.37,-97.87,-5.54
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-03-31,NaN,NaN,NaN,NaN,2.75,NaN,-10.94,NaN,NaN,-4.54,...,NaN,-3.11,NaN,NaN,-5.45,NaN,NaN,-11.30,NaN,NaN
2022-04-30,NaN,NaN,NaN,NaN,7.69,NaN,NaN,7.04,-8.24,NaN,...,0.00,-2.07,NaN,NaN,1.86,NaN,NaN,NaN,NaN,NaN
2022-05-31,NaN,NaN,4.37,-7.26,0.00,NaN,NaN,-3.70,NaN,NaN,...,NaN,4.64,NaN,NaN,4.02,NaN,NaN,NaN,NaN,NaN
2022-06-30,NaN,NaN,NaN,NaN,0.33,NaN,NaN,NaN,1.14,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-07-31,NaN,9.97,13.85,2.23,6.93,10.16,NaN,NaN,-4.32,NaN,...,NaN,1.10,NaN,-27.39,-1.79,NaN,NaN,-0.24,NaN,NaN

In [172]:
RPreturn = pd.DataFrame(index=invSet.index, columns=['Return'])
w={}
count1=97
count2=0
temp = indiv[:][:]
temp.set_index('Date', inplace=True)
for date in invSet.index:
    temp = temp[:][0:count1]
    invSet1 = invSet[:][count2:count2+1]
    investableSet = pd.concat([temp, invSet1],axis=0)
    investableSet=investableSet.dropna(axis=1)
    investableSet = investableSet.astype(float)
    
    result = RiskParity(investableSet.mean(), investableSet.cov(), kospi200return.loc[date]+5)
    
    w[date]=result
    RPreturn['Return'][datetime.strftime(date, '%Y-%m-%d')]=np.sum(investableSet.mean()*result)
    count1=count1+1
    count2=count2+1

In [173]:
RPreturn

           Return
2020-01-31   1.85
2020-02-29   0.87
2020-03-31   1.09
2020-04-30   2.51
2020-05-31   2.89
...           ...
2022-03-31   3.00
2022-04-30   2.61
2022-05-31   2.71
2022-06-30   0.78
2022-07-31   2.94

[31 rows x 1 columns]

In [174]:
RPportfoliortn = 1
for date in RPreturn.index:
    RPportfoliortn = RPportfoliortn * (1+RPreturn['Return'][date]/100)
print((RPportfoliortn)**(1/len(RPreturn.index))-1)
print(len(RPreturn.index))

0.023759974947687335
31

In [432]:
start_date = '2011-12-31'
end_date = '2022-07-31'
dates = pd.date_range(start_date, end_date, freq='M')
indiv = pd.DataFrame(index=dates)
indiv

Empty DataFrame
Columns: []
Index: [2011-12-31 00:00:00, 2012-01-31 00:00:00, 2012-02-29 00:00:00, 2012-03-31 00:00:00, 2012-04-30 00:00:00, 2012-05-31 00:00:00, 2012-06-30 00:00:00, 2012-07-31 00:00:00, 2012-08-31 00:00:00, 2012-09-30 00:00:00, 2012-10-31 00:00:00, 2012-11-30 00:00:00, 2012-12-31 00:00:00, 2013-01-31 00:00:00, 2013-02-28 00:00:00, 2013-03-31 00:00:00, 2013-04-30 00:00:00, 2013-05-31 00:00:00, 2013-06-30 00:00:00, 2013-07-31 00:00:00, 2013-08-31 00:00:00, 2013-09-30 00:00:00, 2013-10-31 00:00:00, 2013-11-30 00:00:00, 2013-12-31 00:00:00, 2014-01-31 00:00:00, 2014-02-28 00:00:00, 2014-03-31 00:00:00, 2014-04-30 00:00:00, 2014-05-31 00:00:00, 2014-06-30 00:00:00, 2014-07-31 00:00:00, 2014-08-31 00:00:00, 2014-09-30 00:00:00, 2014-10-31 00:00:00, 2014-11-30 00:00:00, 2014-12-31 00:00:00, 2015-01-31 00:00:00, 2015-02-28 00:00:00, 2015-03-31 00:00:00, 2015-04-30 00:00:00, 2015-05-31 00:00:00, 2015-06-30 00:00:00, 2015-07-31 00:00:00, 2015-08-31 00:00:00, 2015-09-30 00:00:00, 2015-10-31 00:00:00, 2015-11-30 00:00:00, 2015-12-31 00:00:00, 2016-01-31 00:00:00, 2016-02-29 00:00:00, 2016-03-31 00:00:00, 2016-04-30 00:00:00, 2016-05-31 00:00:00, 2016-06-30 00:00:00, 2016-07-31 00:00:00, 2016-08-31 00:00:00, 2016-09-30 00:00:00, 2016-10-31 00:00:00, 2016-11-30 00:00:00, 2016-12-31 00:00:00, 2017-01-31 00:00:00, 2017-02-28 00:00:00, 2017-03-31 00:00:00, 2017-04-30 00:00:00, 2017-05-31 00:00:00, 2017-06-30 00:00:00, 2017-07-31 00:00:00, 2017-08-31 00:00:00, 2017-09-30 00:00:00, 2017-10-31 00:00:00, 2017-11-30 00:00:00, 2017-12-31 00:00:00, 2018-01-31 00:00:00, 2018-02-28 00:00:00, 2018-03-31 00:00:00, 2018-04-30 00:00:00, 2018-05-31 00:00:00, 2018-06-30 00:00:00, 2018-07-31 00:00:00, 2018-08-31 00:00:00, 2018-09-30 00:00:00, 2018-10-31 00:00:00, 2018-11-30 00:00:00, 2018-12-31 00:00:00, 2019-01-31 00:00:00, 2019-02-28 00:00:00, 2019-03-31 00:00:00, 2019-04-30 00:00:00, 2019-05-31 00:00:00, 2019-06-30 00:00:00, 2019-07-31 00:00:00, 2019-08-31 00:00:00, 2019-09-30 00:00:00, 2019-10-31 00:00:00, 2019-11-30 00:00:00, 2019-12-31 00:00:00, 2020-01-31 00:00:00, 2020-02-29 00:00:00, 2020-03-31 00:00:00, ...]

[128 rows x 0 columns]

# XGBoost

In [325]:
b = []

from xgboost import XGBClassifier

pred = pd.DataFrame()
for col in indistd.columns:
    if col == 'Date':
        continue
    else:
        new_df = pd.DataFrame()
        new_df = pd.read_csv(str(col)+'.csv')
        del new_df['Unnamed: 0']
        new_df.dropna()
        
    Direction = []
    for i in new_df['actualreturn']:
        if i > 0:
            Direction.append(0)
        else:
            Direction.append(1)    
    
    new_df['Direction'] = Direction
    
    new_df = new_df.loc['2011-12-31'<=new_df.Date]
            
    train = new_df.loc[new_df.Date<= '2019-12-31']
    test = new_df.loc[new_df.Date>'2019-12-31']

    if train.empty:
        continue
    if test.empty:
        continue

    X_train = train.loc[:,['professionalism','pbr','activity','kospi200','riskfree']]
    y_train = train.Direction

    X_test = test.loc[:,['professionalism','pbr','activity','kospi200','riskfree']]
    y_test = test.Direction
    
    X_train=X_train.replace([np.inf, -np.inf],0.0)
    X_test=X_test.replace([np.inf, -np.inf],0.0)
    y_train=y_train.replace([np.inf, -np.inf],0.0)
    y_test=y_test.replace([np.inf, -np.inf],0.0)
    
    X_train=X_train.dropna()
    y_test=y_test.dropna()
    y_train=y_train.dropna()
    X_test=X_test.dropna()
    if len(X_train)==97 and len(X_test)==31:
        pass
    else:
        continue

    model = XGBClassifier(eval_metric='mlogloss',use_label_encoder=False)
    model.fit(X_train, y_train)
    if (np.all(np.isfinite(X_test)) == False) :
        print(np.isfinite(X_test))
        print(X_test['activity'])
    y_pred = model.predict(X_test)
#     print(X_test.index)
    b.append(accuracy_score(y_test, y_pred))

In [326]:
sum(b)/len(b)

0.6213639937106918