In [2]:
import pandas as pd
import numpy as np

In [422]:
kospi200return = pd.read_excel('./data/kospi200return_data.xlsx')
tradeamount_mktcap = pd.read_excel('./data/거래대금_시가총액_코스피200_data.xlsx')
indireturn = pd.read_excel('./data/수익률_코스피200_data.xlsx')
pbr = pd.read_excel('./data/수정PBR_코스피200_data.xlsx')
netbuytradeamount = pd.read_excel('./data/순매수금액_거래대금_코스피200_data.xlsx')
indistd = pd.read_excel('./data/표준편차_코스피200_data.xlsx')
riskfree = pd.read_excel('./data/riskfreerate_data.xlsx')

In [423]:
# BPS = pd.read_excel('./newdata/BPS.xlsx')
closingprice = pd.read_excel('./newdata/closingprice.xlsx') 
closingpricemax20d = pd.read_excel('./newdata/closingpriceamax20d.xlsx') 
closingpriceavg20d = pd.read_excel('./newdata/closingpriceavg20d.xlsx') 
closingpricemin20d = pd.read_excel('./newdata/closingpricemin20d.xlsx') 
closingpricemax52w = pd.read_excel('./newdata/closingpricemax52w.xlsx') 
closingpriceavg52w = pd.read_excel('./newdata/closingpriceavg52w.xlsx') 
closingpricemin52w = pd.read_excel('./newdata/closingpricemin52w.xlsx')
closingpricemax5d = pd.read_excel('./newdata/closingpricemax5d.xlsx') 
closingpriceavg5d = pd.read_excel('./newdata/closingpriceavg5d.xlsx') 
closingpricemin5d = pd.read_excel('./newdata/closingpricemin5d.xlsx')
# EPS = pd.read_excel('./newdata/EPS.xlsx')
MA1M = pd.read_excel('./newdata/MA1M.xlsx')
MA3M = pd.read_excel('./newdata/MA3M.xlsx')
MA6M = pd.read_excel('./newdata/MA6M.xlsx')
MAweek = pd.read_excel('./newdata/MAweek.xlsx')
MAyear = pd.read_excel('./newdata/MAyear.xlsx')
# ROA = pd.read_excel('./newdata/roa.xlsx')
# ROE = pd.read_excel('./newdata/roe.xlsx')
# SPS = pd.read_excel('./newdata/SPS.xlsx')
tradingvolavg5d = pd.read_excel('./newdata/tradingvolavg5d.xlsx')
vol120d = pd.read_excel('./newdata/volatility120d.xlsx')
vol20d = pd.read_excel('./newdata/volatility20d.xlsx')
vol52w = pd.read_excel('./newdata/volatility52w.xlsx')
vol60d = pd.read_excel('./newdata/volatility60d.xlsx')

In [9]:
tradeamount_mktcap #Professionalism = trade amount / mkt cap

,Date,A005930,A005930.1,A373220,A373220.1,A000660,A000660.1,A207940,A207940.1,A051910,...,A064420,A064420.1,A067250,A067250.1,A068870,A068870.1,A103130,A103130.1,A103150,A103150.1
0,1999-12-31,248854643275,38922929,NaN,NaN,184772318100,11035740,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000-01-31,261433549650,43221332,NaN,NaN,323988425050,12165615,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000-02-29,288067434950,39412224,NaN,NaN,225890232125,10237191,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000-03-31,362323658795,45389101,NaN,NaN,246641989977,11235259,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000-04-30,305556540417,47388922,NaN,NaN,201477830167,10825874,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268,2022-04-30,993449783120,402334916,1.631061e+11,101026714.0,358950227264,81414931,3.908159e+10,57966139.0,9.419886e+10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
269,2022-05-31,988059914544,399094177,1.315747e+11,96970714.0,384010632386,79750926,3.756019e+10,57603491.0,1.395048e+11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
270,2022-06-30,1302647738534,364902958,1.265655e+11,97256250.0,312171687219,71409752,5.847834e+10,57967664.0,1.605305e+11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
271,2022-07-31,852069771711,355486337,1.959828e+11,90814286.0,310697180786,70266095,4.726748e+10,58545699.0,1.365393e+11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
272,2022-08-26,693052399292,360983325,1.646938e+11,105096789.0,237839497872,69505068,4.452205e+10,62228552.0,1.287708e+11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [425]:
professionalism = pd.DataFrame()
for i in tradeamount_mktcap.columns:
    if i == 'Date':
        professionalism[i] = tradeamount_mktcap[i]    
    elif '.1'in i:
        pass
    else:
        professionalism[i] = tradeamount_mktcap[i]/tradeamount_mktcap[i+'.1']
professionalism

,Date,A005930,A373220,A000660,A207940,A051910,A005380,A006400,A035420,A035720,...,A042100,A051310,A053000,A060000,A063350,A064420,A067250,A068870,A103130,A103150
0,1999-12-31,"6,393.52",NaN,"16,743.08",NaN,NaN,"6,933.60","12,498.39",NaN,"41,090.17",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000-01-31,"6,048.72",NaN,"26,631.49",NaN,NaN,"10,576.32","11,335.02",NaN,"67,449.62",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000-02-29,"7,309.09",NaN,"22,065.65",NaN,NaN,"11,861.94","10,354.45",NaN,"44,658.45",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000-03-31,"7,982.61",NaN,"21,952.50",NaN,NaN,"11,561.21","15,356.11",NaN,"46,629.53",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000-04-30,"6,447.85",NaN,"18,610.77",NaN,NaN,"11,309.06","12,611.92",NaN,"37,523.34",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268,2022-04-30,"2,469.21","1,614.48","4,408.90",674.21,"2,629.74","3,628.19","3,878.18","3,399.81","3,383.06",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
269,2022-05-31,"2,475.76","1,356.85","4,815.12",652.05,"3,767.79","2,566.87","3,812.33","3,518.61","3,819.43",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
270,2022-06-30,"3,569.85","1,301.36","4,371.56","1,008.81","4,038.81","4,076.05","4,278.46","4,192.49","4,289.31",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
271,2022-07-31,"2,396.91","2,158.06","4,421.72",807.36,"3,600.57","4,330.61","3,316.74","3,746.13","3,265.27",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
272,2022-08-26,"1,919.90","1,567.07","3,421.90",715.46,"2,864.84","3,467.55","2,979.61","3,485.16","3,983.70",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [426]:
mktcap = pd.DataFrame()
for i in tradeamount_mktcap.columns:
    if i == 'Date':
        mktcap[i] = tradeamount_mktcap[i]    
    elif '.1'in i:
        mktcap[i.replace('.1','')] = tradeamount_mktcap[i]
    else:
        continue
mktcap

,Date,A005930,A373220,A000660,A207940,A051910,A005380,A006400,A035420,A035720,...,A042100,A051310,A053000,A060000,A063350,A064420,A067250,A068870,A103130,A103150
0,1999-12-31,38922929,NaN,11035740,NaN,NaN,4554564,2461082,NaN,1045539,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000-01-31,43221332,NaN,12165615,NaN,NaN,3775926,2057010,NaN,1526863,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000-02-29,39412224,NaN,10237191,NaN,NaN,3097875,1917603,NaN,2440520,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000-03-31,45389101,NaN,11235259,NaN,NaN,2888741,1736949,NaN,1629286,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000-04-30,47388922,NaN,10825874,NaN,NaN,2560715,2041623,NaN,933008,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268,2022-04-30,402334916,"101,026,714.00",81414931,"57,966,139.00","35,820,572.00",38653592,41029503,"50,804,439.00",42840404,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
269,2022-05-31,399094177,"96,970,714.00",79750926,"57,603,491.00","37,025,684.00",39431955,40846131,"45,136,934.00",37167059,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
270,2022-06-30,364902958,"97,256,250.00",71409752,"57,967,664.00","39,747,019.00",37979520,38002718,"41,647,962.00",33253070,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
271,2022-07-31,355486337,"90,814,286.00",70266095,"58,545,699.00","37,921,534.00",39584575,37443924,"39,918,611.00",32006613,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
272,2022-08-26,360983325,"105,096,789.00",69505068,"62,228,552.00","44,948,746.00",41232337,41432439,"42,100,176.00",34899194,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
indireturn

,Date,A005930,A373220,A000660,A207940,A051910,A005380,A006400,A035420,A035720,...,A042100,A051310,A053000,A060000,A063350,A064420,A067250,A068870,A103130,A103150
0,1999-12-31,17.70,NaN,9.30,NaN,NaN,-17.43,-20.00,NaN,905.20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000-01-31,4.89,NaN,9.54,NaN,NaN,-5.00,-5.72,NaN,-37.13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000-02-29,-12.03,NaN,-35.38,NaN,NaN,-28.27,-27.21,NaN,69.59,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000-03-31,30.86,NaN,37.43,NaN,NaN,11.20,24.62,NaN,-44.29,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000-04-30,-14.65,NaN,-32.05,NaN,NaN,-26.15,10.50,NaN,-54.55,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268,2022-04-30,-3.99,-5.44,-6.25,1.21,-0.76,5.38,12.73,-14.22,-14.79,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
269,2022-05-31,0.00,6.47,-4.00,1.07,12.72,1.88,-5.89,0.52,-5.45,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
270,2022-06-30,-15.81,-15.59,-14.95,-6.29,-7.36,-3.73,-8.43,-14.59,-16.69,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
271,2022-07-31,5.86,7.79,4.15,7.99,13.77,11.68,-0.18,5.07,5.65,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
272,2022-08-26,-2.76,18.15,-5.37,2.29,8.64,-1.28,4.09,-1.22,4.97,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
pbr

,Date,A005930,A373220,A000660,A207940,A051910,A005380,A006400,A035420,A035720,...,A042100,A051310,A053000,A060000,A063350,A064420,A067250,A068870,A103130,A103150
0,1999-12-31,3.27992,NaN,1.11713,NaN,NaN,0.68073,1.09542,NaN,67.79449,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000-01-31,2.72056,NaN,2.12281,NaN,NaN,0.62156,0.89618,NaN,24.38585,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000-02-29,2.49628,NaN,1.43933,NaN,NaN,0.43800,0.66257,NaN,36.92883,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000-03-31,3.26662,NaN,1.97808,NaN,NaN,0.48707,0.82570,NaN,20.57153,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000-04-30,2.92533,NaN,1.41521,NaN,NaN,0.37984,0.93243,NaN,10.53669,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268,2022-04-30,1.54547,10.46934,1.27058,11.29562,1.87124,0.66937,2.85750,1.91042,4.01455,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
269,2022-05-31,1.54547,11.14721,1.21975,11.41694,2.10920,0.68196,2.68914,1.92043,3.79574,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
270,2022-06-30,1.30700,9.31445,1.02775,10.64862,1.86042,0.64957,2.48804,1.60036,3.12144,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
271,2022-07-31,1.40789,10.59487,1.10568,11.65956,2.17410,0.70535,2.66108,1.72705,3.34025,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
272,2022-08-26,1.40789,10.59487,1.10568,11.65956,2.17410,0.70535,2.66108,1.72705,3.34025,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
netbuytradeamount #Activity = netbuy * 10000 / trade amount

,Date,A005930,A005930.1,A373220,A373220.1,A000660,A000660.1,A207940,A207940.1,A051910,...,A064420,A064420.1,A067250,A067250.1,A068870,A068870.1,A103130,A103130.1,A103150,A103150.1
0,1999-12-31,25853786,4977092865500,NaN,NaN,16384343,3695446362000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000-01-31,38882433,5228670993000,NaN,NaN,89893690,6479768501000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000-02-29,27426535,5761348699000,NaN,NaN,-15695711,4517804642500,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000-03-31,55677768,7971120493500,NaN,NaN,81550451,5426123779500,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000-04-30,-30861075,5500017727500,NaN,NaN,-6511570,3626600943000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268,2022-04-30,-414188124,20862445445512,27448759.0,3.425228e+12,-63495592,7537954772545,6891030.0,8.207133e+11,1035222.0,...,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN
269,2022-05-31,-95315443,20749258205428,40030475.0,2.763068e+12,-17045852,8064223280096,7498447.0,7.887640e+11,18320419.0,...,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN
270,2022-06-30,-371545102,26052954770686,-7028617.0,2.531311e+12,-35738545,6243433744379,1036587.0,1.169567e+12,-5290788.0,...,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN
271,2022-07-31,29397395,17893465205928,41363375.0,4.115638e+12,15449160,6524640796512,14945214.0,9.926171e+11,16419649.0,...,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN
272,2022-08-26,-86821678,13167995586544,47866715.0,3.129182e+12,-24841334,4518950459577,2174414.0,8.459190e+11,11482457.0,...,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN

In [427]:
activity = pd.DataFrame()
for i in netbuytradeamount.columns:
    if i == 'Date':
        activity[i] = netbuytradeamount[i]    
    elif '.1'in i:
        pass
    else:
        activity[i] = netbuytradeamount[i]/netbuytradeamount[i+'.1']
activity

,Date,A005930,A373220,A000660,A207940,A051910,A005380,A006400,A035420,A035720,...,A042100,A051310,A053000,A060000,A063350,A064420,A067250,A068870,A103130,A103150
0,1999-12-31,0.00,NaN,0.00,NaN,NaN,0.00,-0.00,NaN,-0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000-01-31,0.00,NaN,0.00,NaN,NaN,-0.00,-0.00,NaN,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000-02-29,0.00,NaN,-0.00,NaN,NaN,-0.00,-0.00,NaN,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000-03-31,0.00,NaN,0.00,NaN,NaN,0.00,-0.00,NaN,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000-04-30,-0.00,NaN,-0.00,NaN,NaN,-0.00,0.00,NaN,-0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268,2022-04-30,-0.00,0.00,-0.00,0.00,0.00,0.00,0.00,-0.00,-0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
269,2022-05-31,-0.00,0.00,-0.00,0.00,0.00,0.00,-0.00,-0.00,-0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
270,2022-06-30,-0.00,-0.00,-0.00,0.00,-0.00,-0.00,0.00,-0.00,-0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
271,2022-07-31,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
272,2022-08-26,-0.00,0.00,-0.00,0.00,0.00,0.00,0.00,-0.00,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
riskfree

          Date  Riskfree
0   1999-12-31     4.790
1   2000-01-31     4.780
2   2000-02-29     5.070
3   2000-03-31     5.050
4   2000-04-30     5.060
..         ...       ...
268 2022-04-30     1.530
269 2022-05-31     1.863
270 2022-06-30     2.337
271 2022-07-31     2.341
272 2022-08-26     2.449

[273 rows x 2 columns]

In [699]:
for col in indistd.columns :
    if col == 'Date' :
        continue
    else :
#         print("Filename : ", col)
        new_df = pd.DataFrame()
        new_df['Date'] = professionalism['Date']
        new_df['riskfree']=riskfree['Riskfree']
        new_df['kospi200']=kospi200return['KOSPI200']
        new_df['professionalism'] = professionalism[col]
        new_df['pbr'] = pbr[col]
        new_df['activity'] = activity[col]
#         new_df['indireturn'] = indireturn[col].shift(1)
#         new_df['indistd'] = indistd[col].shift(1)
        new_df['actualreturn'] = indireturn[col]
#         new_df['indexreturn'] = kospi200return['KOSPI200'].shift(1)
        new_df = new_df.dropna()
        new_df.drop(new_df.tail(1).index, inplace=True)
        new_df.to_csv(str(col)+'.csv')

In [700]:
for col in indistd.columns :
    if col == 'Date' :
        continue
    else :
#         print("Filename : ", col)
        new_df = pd.DataFrame()
        new_df['Date'] = professionalism['Date']
#         new_df['BPS'] = BPS[col]
        new_df['closingprice']=closingprice[col] 
        new_df['closingpricemax20d']=closingpricemax20d[col] 
        new_df['closingpriceavg20d'] = closingpriceavg20d[col]
        new_df['closingpricemin20d'] = closingpricemin20d[col]
        new_df['closingpricemax52w'] = closingpricemax52w[col]
        new_df['closingpriceavg52w'] = closingpriceavg52w[col]
        new_df['closingpricemin52w'] = closingpricemin52w[col]
        new_df['closingpricemax5d'] = closingpricemax5d[col]
        new_df['closingpriceavg5d'] = closingpriceavg5d[col]
        new_df['closingpricemin5d'] = closingpricemin5d[col]
#         new_df['EPS'] = EPS[col]
#         new_df['MA1M'] = MA1M[col]
        new_df['MA3M'] = MA3M[col]
        new_df['MA6M'] = MA6M[col]
        new_df['MAweek'] = MAweek[col]
        new_df['MAyear'] = MAyear[col]
#         new_df['ROA'] = ROA[col]
#         new_df['ROE'] = ROE[col]
#         new_df['SPS'] = SPS[col]
        new_df['tradingvolavg5d'] = tradingvolavg5d[col]
        new_df['vol120d'] = vol120d[col]
        new_df['vol20d'] = vol20d[col]
        new_df['vol52w'] = vol52w[col]
        new_df['vol60d'] = vol60d[col]
        new_df['riskfree']=riskfree['Riskfree'] 
        new_df['actualreturn'] = indireturn[col]

        new_df = new_df.dropna()
        new_df.drop(new_df.tail(1).index, inplace=True) 
        new_df.to_csv(str(col)+'_new'+'.csv')

In [40]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import mean_squared_error
from sklearn.metrics import accuracy_score
from scikitplot.estimators import plot_feature_importances
from sklearn.metrics import precision_score, recall_score, f1_score
from sklearn.model_selection import cross_val_predict

In [ ]:
from sklearn.preprocessing import RobustScaler
robscale = RobustScaler()

In [715]:
pd.options.display.float_format = '{:,.2f}'.format
pd.set_option('display.max_columns', 20)
pd.set_option('display.max_rows', 20)
accuracy = []
precision = []
recall = []
f1 = []

TP=[]
TN=[]
FP=[]
FN=[]

TP_test=[]
TN_test=[]
FP_test=[]
FN_test=[]


start_date = '2020-07-31'
end_date = '2022-07-31'
dates = pd.date_range(start_date, end_date, freq='M')
investable = pd.DataFrame(index=dates)


for col in indistd.columns:
    if col == 'Date':
        continue
    else:
        new_df = pd.DataFrame()
        new_df = pd.read_csv(str(col)+'.csv')
        del new_df['Unnamed: 0']
        new_df.dropna()
    #new_df['riskfree'].values
    #up: 0 / down: 1    
    new_df['Direction'] = np.where(new_df['actualreturn'].values > new_df['riskfree'].values , 0, 1)
    
    new_df = new_df.loc['2011-12-31'<=new_df.Date]
    
    new_df=new_df.replace([np.inf, -np.inf],0.0)
    new_df.dropna()
    if len(new_df)==128:
        pass
    else: 
        continue
    
    prof_ = robscale.fit_transform(new_df['professionalism'].values.reshape(-1,1))
    pbr_ = robscale.fit_transform(new_df['pbr'].values.reshape(-1,1))
    act_ = robscale.fit_transform(new_df['activity'].values.reshape(-1,1))
    kos2_ = robscale.fit_transform(new_df['kospi200'].values.reshape(-1,1))
    rf_ = robscale.fit_transform(new_df['riskfree'].values.reshape(-1,1))
    new_df.insert(1, 'prof_scaled',prof_)
    new_df.insert(1, 'pbr_scaled',pbr_)
    new_df.insert(1, 'act_scaled',act_)
    new_df.insert(1, 'kos2_scaled',kos2_)
    new_df.insert(1, 'rf_scaled',rf_)
                
    train = new_df.loc[new_df.Date <= '2018-04-30']
    valid = new_df.loc[(new_df.Date > '2018-04-30') & (new_df.Date<= '2020-06-30')]
    test = new_df.loc[new_df.Date >'2020-06-30']
#     train=train.dropna()
#     test=test.dropna()
#     valid=valid.dropna()
    if len(train)==77 and len(valid)==26 and len(test)==25:
        pass
    else:
        continue
    

    if train.empty:
        continue
    if valid.empty:
        continue
    if test.empty:
        continue
    
    X_train = train.loc[:,['prof_scaled','pbr_scaled','act_scaled','kos2_scaled','rf_scaled']]
    y_train = train.Direction
    
    X_valid = valid.loc[:,['prof_scaled','pbr_scaled','act_scaled','kos2_scaled','rf_scaled']]
    y_valid = valid.Direction
    
    X_test = test.loc[:,['prof_scaled','pbr_scaled','act_scaled','kos2_scaled','rf_scaled']]
    y_test = test.Direction

    
    model = RandomForestClassifier(max_features=5, random_state=42, n_estimators=100)
    model.fit(X_train, y_train)
    

    y_valid_pred = model.predict(X_valid)
    tp = np.sum(np.logical_and(y_valid_pred == 0, y_valid == 0))
    TP.append(tp)
    tn = np.sum(np.logical_and(y_valid_pred == 1, y_valid == 1))
    TN.append(tn)
    fp = np.sum(np.logical_and(y_valid_pred == 0, y_valid == 1))
    FP.append(fp)
    fn = np.sum(np.logical_and(y_valid_pred == 1, y_valid == 0))
    FN.append(fn)
    
    accuracy.append(accuracy_score(y_valid, y_valid_pred))
    precision.append(precision_score(y_valid, y_valid_pred))
    recall.append(recall_score(y_valid, y_valid_pred))
    f1.append(f1_score(y_valid, y_valid_pred))
    

    
    y_pred = model.predict(X_test)
    tp = np.sum(np.logical_and(y_pred == 0, y_test == 0))
    TP_test.append(tp)
    tn = np.sum(np.logical_and(y_pred == 1, y_test == 1))
    TN_test.append(tn)
    fp = np.sum(np.logical_and(y_pred == 0, y_test == 1))
    FP_test.append(fp)
    fn = np.sum(np.logical_and(y_pred == 1, y_test == 0))
    FN_test.append(fn)
    investable[col] = y_pred

/Users/jaehongahn/opt/anaconda3/lib/python3.8/site-packages/sklearn/metrics/_classification.py:1245: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [716]:
accuracy_comp = []
precision_comp = []
recall_comp = []
f1_comp = []

TP_comp=[]
TN_comp=[]
FP_comp=[]
FN_comp=[]

TP_comp_test=[]
TN_comp_test=[]
FP_comp_test=[]
FN_comp_test=[]

start_date = '2020-07-31'
end_date = '2022-07-31'
dates = pd.date_range(start_date, end_date, freq='M')
investable_comp = pd.DataFrame(index=dates)


for col in indistd.columns:
    if col == 'Date':
        continue
    else:
        new_df = pd.DataFrame()
        new_df = pd.read_csv(str(col)+'_new'+'.csv')
        del new_df['Unnamed: 0']
        new_df.dropna()
    #up: 0 / down: 1    
    new_df['Direction'] = np.where(new_df['actualreturn'].values > new_df['riskfree'].values , 0, 1)
    
    new_df = new_df.loc['2011-12-31'<=new_df.Date]
    new_df=new_df.replace([np.inf, -np.inf],0.0)
    new_df.dropna()
    if len(new_df)==128:
        pass
    else: 
        continue

#     BPS_ = robscale.fit_transform(new_df['BPS'].values.reshape(-1,1))
    closingprice_ = robscale.fit_transform(new_df['closingprice'].values.reshape(-1,1))
    closingpricemax20d_ = robscale.fit_transform(new_df['closingpricemax20d'].values.reshape(-1,1))
    closingpriceavg20d_ = robscale.fit_transform(new_df['closingpriceavg20d'].values.reshape(-1,1))
    closingpricemin20d_ = robscale.fit_transform(new_df['closingpricemin20d'].values.reshape(-1,1))
    closingpricemax52w_ = robscale.fit_transform(new_df['closingpricemax52w'].values.reshape(-1,1))
    closingpriceavg52w_ = robscale.fit_transform(new_df['closingpriceavg52w'].values.reshape(-1,1))
    closingpricemin52w_ = robscale.fit_transform(new_df['closingpricemin52w'].values.reshape(-1,1))
    closingpricemax5d_ = robscale.fit_transform(new_df['closingpricemax5d'].values.reshape(-1,1))
    closingpriceavg5d_ = robscale.fit_transform(new_df['closingpriceavg5d'].values.reshape(-1,1))
    closingpricemin5d_ = robscale.fit_transform(new_df['closingpricemin5d'].values.reshape(-1,1))
#     EPS_ = robscale.fit_transform(new_df['EPS'].values.reshape(-1,1))
#     MA1M_ = robscale.fit_transform(new_df['MA1M'].values.reshape(-1,1))
    MA3M_ = robscale.fit_transform(new_df['MA3M'].values.reshape(-1,1))
    MA6M_ = robscale.fit_transform(new_df['MA6M'].values.reshape(-1,1))
    MAweek_ = robscale.fit_transform(new_df['MAweek'].values.reshape(-1,1))
    MAyear_ = robscale.fit_transform(new_df['MAyear'].values.reshape(-1,1))
#     ROA_ = robscale.fit_transform(new_df['ROA'].values.reshape(-1,1))
#     ROE_ = robscale.fit_transform(new_df['ROE'].values.reshape(-1,1))
#     SPS_ = robscale.fit_transform(new_df['SPS'].values.reshape(-1,1))
    tradingvolavg5d_ = robscale.fit_transform(new_df['tradingvolavg5d'].values.reshape(-1,1))
    vol120d_ = robscale.fit_transform(new_df['vol120d'].values.reshape(-1,1))
    vol20d_ = robscale.fit_transform(new_df['vol20d'].values.reshape(-1,1))
    vol52w_ = robscale.fit_transform(new_df['vol52w'].values.reshape(-1,1))
    vol60d_ = robscale.fit_transform(new_df['vol60d'].values.reshape(-1,1))
#     new_df.insert(1, 'BPS_scaled',BPS_)
    new_df.insert(1, 'closingprice_scaled',closingprice_)
    new_df.insert(1, 'closingpricemax20d_scaled',closingpricemax20d_)
    new_df.insert(1, 'closingpriceavg20d_scaled',closingpriceavg20d_)
    new_df.insert(1, 'closingpricemin20d_scaled',closingpricemin20d_)
    new_df.insert(1, 'closingpricemax52w_scaled',closingpricemax52w_)
    new_df.insert(1, 'closingpriceavg52w_scaled',closingpriceavg52w_)
    new_df.insert(1, 'closingpricemax5d_scaled',closingpricemax5d_)
    new_df.insert(1, 'closingpriceavg5d_scaled',closingpriceavg5d_)
    new_df.insert(1, 'closingpricemin5d_scaled',closingpricemin5d_)
#     new_df.insert(1, 'EPS_scaled',EPS_)
#     new_df.insert(1, 'MA1M_scaled',MA1M_)
    new_df.insert(1, 'MA3M_scaled',MA3M_)
    new_df.insert(1, 'MA6M_scaled',MA6M_)
    new_df.insert(1, 'MAweek_scaled',MAweek_)
    new_df.insert(1, 'MAyear_scaled',MAyear_)
#     new_df.insert(1, 'ROA_scaled',ROA_)
#     new_df.insert(1, 'ROE_scaled',ROE_)
#     new_df.insert(1, 'SPS_scaled',SPS_)
    new_df.insert(1, 'tradingvolavg5d_scaled',tradingvolavg5d_)
    new_df.insert(1, 'vol120d_scaled',vol120d_)
    new_df.insert(1, 'vol20d_scaled',vol20d_)
    new_df.insert(1, 'vol52w_scaled',vol52w_)
    new_df.insert(1, 'vol60d_scaled',vol60d_)
    
    train = new_df.loc[new_df.Date <= '2018-04-30']
    valid = new_df.loc[(new_df.Date > '2018-04-30') & (new_df.Date<= '2020-06-30')]
    test = new_df.loc[new_df.Date >'2020-06-30']
#     train=train.dropna()
#     test=test.dropna()
#     valid=valid.dropna()
    if len(train)==77 and len(valid)==26 and len(test)==25:
        pass
    else:
        continue
    

    if train.empty:
        continue
    if valid.empty:
        continue
    if test.empty:
        continue
        
# 'BPS_scaled','EPS_scaled','ROA_scaled','ROE_scaled','SPS_scaled',
    
    X_train = train.loc[:,['closingprice_scaled','closingpricemax20d_scaled','closingpriceavg20d_scaled'
        ,'closingpricemin20d_scaled','closingpricemax52w_scaled','closingpriceavg52w_scaled'
        ,'closingpricemax5d_scaled','closingpriceavg5d_scaled','closingpricemin5d_scaled'
        ,'MA3M_scaled','MA6M_scaled','MAweek_scaled','MAyear_scaled'
        ,'tradingvolavg5d_scaled','vol120d_scaled','vol20d_scaled','vol52w_scaled','vol60d_scaled']]
    y_train = train.Direction
    
    X_valid = valid.loc[:,['closingprice_scaled','closingpricemax20d_scaled','closingpriceavg20d_scaled'
        ,'closingpricemin20d_scaled','closingpricemax52w_scaled','closingpriceavg52w_scaled'
        ,'closingpricemax5d_scaled','closingpriceavg5d_scaled','closingpricemin5d_scaled'
        ,'MA3M_scaled','MA6M_scaled','MAweek_scaled','MAyear_scaled'
        ,'tradingvolavg5d_scaled','vol120d_scaled','vol20d_scaled','vol52w_scaled','vol60d_scaled']]
    y_valid = valid.Direction
    
    X_test = test.loc[:,['closingprice_scaled','closingpricemax20d_scaled','closingpriceavg20d_scaled'
        ,'closingpricemin20d_scaled','closingpricemax52w_scaled','closingpriceavg52w_scaled'
        ,'closingpricemax5d_scaled','closingpriceavg5d_scaled','closingpricemin5d_scaled'
        ,'MA3M_scaled','MA6M_scaled','MAweek_scaled','MAyear_scaled'
        ,'tradingvolavg5d_scaled','vol120d_scaled','vol20d_scaled','vol52w_scaled','vol60d_scaled']]
    y_test = test.Direction

    
    model = RandomForestClassifier(max_features=5, random_state=42, n_estimators=100)
    model.fit(X_train, y_train)
    
#     importance=pd.DataFrame({'col_name': model.feature_importances_}, index=X_train.columns).sort_values(by='col_name',ascending=False)
#     print(importance)

    y_valid_pred = model.predict(X_valid)
    tp = np.sum(np.logical_and(y_valid_pred == 0, y_valid == 0))
    TP_comp.append(tp)
    tn = np.sum(np.logical_and(y_valid_pred == 1, y_valid == 1))
    TN_comp.append(tn)
    fp = np.sum(np.logical_and(y_valid_pred == 0, y_valid == 1))
    FP_comp.append(fp)
    fn = np.sum(np.logical_and(y_valid_pred == 1, y_valid == 0))
    FN_comp.append(fn)
    
    accuracy_comp.append(accuracy_score(y_valid, y_valid_pred))
    precision_comp.append(precision_score(y_valid, y_valid_pred))
    recall_comp.append(recall_score(y_valid, y_valid_pred))
    f1_comp.append(f1_score(y_valid, y_valid_pred))
    
    y_pred = model.predict(X_test)
    tp = np.sum(np.logical_and(y_pred == 0, y_test == 0))
    TP_comp_test.append(tp)
    tn = np.sum(np.logical_and(y_pred == 1, y_test == 1))
    TN_comp_test.append(tn)
    fp = np.sum(np.logical_and(y_pred == 0, y_test == 1))
    FP_comp_test.append(fp)
    fn = np.sum(np.logical_and(y_pred == 1, y_test == 0))
    FN_comp_test.append(fn)
    investable_comp[col] = y_pred

/Users/jaehongahn/opt/anaconda3/lib/python3.8/site-packages/sklearn/metrics/_classification.py:1245: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [717]:
print('TP_comp: ', sum(TP_comp))
print('TN_comp: ', sum(TN_comp))
print('FP_comp: ', sum(FP_comp))
print('FN_comp: ', sum(FN_comp))
print('accuracy_comp: ',(sum(TP_comp)+sum(TN_comp))/(sum(TP_comp)+sum(TN_comp)+sum(FP_comp)+sum(FN_comp)))
print('precision_comp: ',sum(TP_comp)/(sum(TP_comp)+sum(FP_comp)))
print('recall_comp: ',sum(TP_comp)/(sum(TP_comp)+sum(FN_comp)))

TP_comp:  1494
TN_comp:  4809
FP_comp:  966
FN_comp:  1909
accuracy_comp:  0.6867509261276966
precision_comp:  0.6073170731707317
recall_comp:  0.43902439024390244

In [718]:
print('TP_comp_test: ', sum(TP_comp_test))
print('TN_comp_test: ', sum(TN_comp_test))
print('FP_comp_test: ', sum(FP_comp_test))
print('FN_comp_test: ', sum(FN_comp_test))
print('accuracy_comp: ',(sum(TP_comp_test)+sum(TN_comp_test))/(sum(TP_comp_test)+sum(TN_comp_test)+sum(FP_comp_test)+sum(FN_comp_test)))
print('precision_comp: ',sum(TP_comp_test)/(sum(TP_comp_test)+sum(FP_comp_test)))
print('recall_comp: ',sum(TP_comp_test)/(sum(TP_comp_test)+sum(FN_comp_test)))

TP_comp_test:  2386
TN_comp_test:  3387
FP_comp_test:  1378
FN_comp_test:  1674
accuracy_comp:  0.6541643059490085
precision_comp:  0.6339001062699257
recall_comp:  0.5876847290640395

In [709]:
sum(accuracy_comp)/len(accuracy_comp)

0.6867509261276967

In [710]:
sum(precision_comp)/len(precision_comp)

0.7178000768808022

In [711]:
sum(recall_comp)/len(recall_comp)

0.8267680392732251

In [691]:
sum(f1_comp)/len(f1_comp)

0.5142522086476683

In [719]:
print('TP: ', sum(TP))
print('TN: ', sum(TN))
print('FP: ', sum(FP))
print('FN: ', sum(FN))
print('accuracy: ',(sum(TP)+sum(TN))/(sum(TP)+sum(TN)+sum(FP)+sum(FN)))
print('precision: ',sum(TP)/(sum(TP)+sum(FP)))
print('recall: ',sum(TP)/(sum(TP)+sum(FN)))

TP:  1723
TN:  4126
FP:  1056
FN:  1363
accuracy:  0.707426221577165
precision:  0.6200071968333933
recall:  0.5583279325988334

In [720]:
print('TP_test: ', sum(TP_test))
print('TN_test: ', sum(TN_test))
print('FP_test: ', sum(FP_test))
print('FN_test: ', sum(FN_test))
print('accuracy: ',(sum(TP_test)+sum(TN_test))/(sum(TP_test)+sum(TN_test)+sum(FP_test)+sum(FN_test)))
print('precision: ',sum(TP_test)/(sum(TP_test)+sum(FP_test)))
print('recall: ',sum(TP_test)/(sum(TP_test)+sum(FN_test)))

TP_test:  1969
TN_test:  3069
FP_test:  1153
FN_test:  1759
accuracy:  0.6337106918238994
precision:  0.6306854580397181
recall:  0.5281652360515021

In [705]:
sum(accuracy)/len(accuracy)

0.7074262215771644

In [706]:
sum(precision)/len(precision)

0.752765441714378

In [707]:
sum(recall)/len(recall)

0.7908348361988891

In [685]:
sum(f1)/len(f1)

0.5162835871604223

In [98]:
investable #prediction

,A005930,A000660,A051910,A005380,A006400,A035420,A035720,A000270,A068270,A005490,...,A001620,A010770,A014990,A024070,A025560,A025530,A000760,A003680,A084870,A001210
2020-01-31,1,1,0,1,0,1,1,1,1,1,...,1,0,0,1,1,1,1,1,1,1
2020-02-29,1,1,1,1,1,1,0,1,1,1,...,1,0,1,1,1,1,1,1,1,0
2020-03-31,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2020-04-30,0,1,0,1,0,0,1,1,0,0,...,1,0,0,0,0,1,1,0,1,0
2020-05-31,0,0,0,1,0,1,1,0,0,0,...,1,0,0,1,0,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-03-31,1,1,1,1,0,1,0,1,1,0,...,1,1,0,1,1,0,1,0,1,0
2022-04-30,1,1,1,1,0,1,1,0,0,1,...,1,1,1,1,0,0,1,0,1,1
2022-05-31,1,1,0,0,0,1,1,0,1,1,...,1,1,1,1,1,0,1,0,1,1
2022-06-30,1,1,1,1,0,1,1,1,0,1,...,1,1,1,1,1,1,1,1,1,1
2022-07-31,1,0,0,0,0,0,1,1,0,1,...,1,0,1,0,1,0,0,0,1,0

In [721]:
investable_comp

,A005930,A000660,A051910,A005380,A006400,A035420,A035720,A000270,A068270,A005490,...,A025560,A025530,A012600,A000760,A003680,A084870,A011230,A001210,A011400,A019490
2020-07-31,0,0,0,1,0,0,0,0,0,0,...,1,1,0,0,0,0,1,1,1,0
2020-08-31,0,1,0,0,0,0,0,0,0,1,...,1,1,0,0,0,1,1,0,1,1
2020-09-30,0,0,0,0,0,0,0,0,1,1,...,1,1,1,1,0,0,1,0,1,1
2020-10-31,1,1,0,0,0,0,0,0,1,0,...,1,0,1,0,0,1,1,0,1,1
2020-11-30,0,0,0,0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-03-31,0,1,1,1,0,1,1,1,1,0,...,0,0,0,1,0,0,1,0,1,1
2022-04-30,0,0,1,1,0,1,1,0,0,1,...,1,0,0,1,0,0,1,1,1,1
2022-05-31,0,1,0,1,1,1,1,1,1,1,...,1,1,0,0,0,0,1,0,1,1
2022-06-30,1,1,1,0,1,1,1,1,1,1,...,1,0,0,1,1,1,0,0,1,1
2022-07-31,0,1,0,0,1,1,1,1,1,1,...,1,0,0,1,1,0,1,1,1,1

In [380]:
investable.columns

Index(['A005930', 'A000660', 'A051910', 'A005380', 'A006400', 'A035420',
       'A035720', 'A000270', 'A068270', 'A005490',
       ...
       'A001620', 'A010770', 'A014990', 'A024070', 'A025560', 'A025530',
       'A000760', 'A003680', 'A084870', 'A001210'],
      dtype='object', length=318)

In [381]:
investable.index

DatetimeIndex(['2020-01-31', '2020-02-29', '2020-03-31', '2020-04-30',
               '2020-05-31', '2020-06-30', '2020-07-31', '2020-08-31',
               '2020-09-30', '2020-10-31', '2020-11-30', '2020-12-31',
               '2021-01-31', '2021-02-28', '2021-03-31', '2021-04-30',
               '2021-05-31', '2021-06-30', '2021-07-31', '2021-08-31',
               '2021-09-30', '2021-10-31', '2021-11-30', '2021-12-31',
               '2022-01-31', '2022-02-28', '2022-03-31', '2022-04-30',
               '2022-05-31', '2022-06-30', '2022-07-31'],
              dtype='datetime64[ns]', freq='M')

In [486]:
indistd.Date

0     1999-12-31
1     2000-01-31
2     2000-02-29
3     2000-03-31
4     2000-04-30
         ...
268   2022-04-30
269   2022-05-31
270   2022-06-30
271   2022-07-31
272   2022-08-26
Name: Date, Length: 273, dtype: datetime64[ns]

In [722]:
from datetime import datetime, time
for d in indistd.Date:
    if d in investable.index:
        format_string='%Y-%m-%d'
        print(datetime.strftime(d,format_string) # remove?

2020-07-31 00:00:00
2020-07-31
2020-08-31 00:00:00
2020-08-31
2020-09-30 00:00:00
2020-09-30
2020-10-31 00:00:00
2020-10-31
2020-11-30 00:00:00
2020-11-30
2020-12-31 00:00:00
2020-12-31
2021-01-31 00:00:00
2021-01-31
2021-02-28 00:00:00
2021-02-28
2021-03-31 00:00:00
2021-03-31
2021-04-30 00:00:00
2021-04-30
2021-05-31 00:00:00
2021-05-31
2021-06-30 00:00:00
2021-06-30
2021-07-31 00:00:00
2021-07-31
2021-08-31 00:00:00
2021-08-31
2021-09-30 00:00:00
2021-09-30
2021-10-31 00:00:00
2021-10-31
2021-11-30 00:00:00
2021-11-30
2021-12-31 00:00:00
2021-12-31
2022-01-31 00:00:00
2022-01-31
2022-02-28 00:00:00
2022-02-28
2022-03-31 00:00:00
2022-03-31
2022-04-30 00:00:00
2022-04-30
2022-05-31 00:00:00
2022-05-31
2022-06-30 00:00:00
2022-06-30
2022-07-31 00:00:00
2022-07-31

In [732]:
from datetime import datetime, time

Set = {}
for d in investable.index:
    stocks = []
    for stock in investable.columns:
        if investable[stock][d] == 0:
            stocks.append(stock)
    Set[datetime.strftime(d, '%Y-%m-%d')] = stocks

In [733]:
from datetime import datetime, time

Set_comp = {}
for d in investable_comp.index:
    stocks = []
    for stock in investable_comp.columns:
        if investable_comp[stock][d] == 0:
            stocks.append(stock)
    Set_comp[datetime.strftime(d, '%Y-%m-%d')] = stocks

In [724]:
indiv=indireturn[:][144:]

In [725]:
indiv

,Date,A005930,A373220,A000660,A207940,A051910,A005380,A006400,A035420,A035720,...,A042100,A051310,A053000,A060000,A063350,A064420,A067250,A068870,A103130,A103150
144,2011-12-31,5.27,NaN,-6.20,NaN,-4.22,-1.62,1.52,-16.10,-17.98,...,NaN,9.36,-3.08,NaN,NaN,-17.49,-17.65,1.03,-7.01,NaN
145,2012-01-31,4.63,NaN,22.32,NaN,17.80,3.76,4.49,0.47,9.92,...,NaN,29.77,17.71,NaN,NaN,16.61,16.96,8.16,28.62,NaN
146,2012-02-29,7.20,NaN,16.15,NaN,4.32,-2.26,-4.50,7.85,-12.64,...,NaN,-1.09,11.36,NaN,NaN,3.73,30.00,-7.39,32.12,NaN
147,2012-03-31,5.72,NaN,-3.15,NaN,-7.15,7.87,-0.72,11.35,5.68,...,NaN,-4.03,6.12,NaN,NaN,-7.49,-15.68,4.50,-2.21,NaN
148,2012-04-30,9.02,NaN,-4.10,NaN,-23.11,15.24,18.98,-1.54,-11.00,...,NaN,-6.87,-8.08,NaN,NaN,-6.80,-10.18,-14.86,-3.53,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268,2022-04-30,-3.99,-5.44,-6.25,1.21,-0.76,5.38,12.73,-14.22,-14.79,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
269,2022-05-31,0.00,6.47,-4.00,1.07,12.72,1.88,-5.89,0.52,-5.45,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
270,2022-06-30,-15.81,-15.59,-14.95,-6.29,-7.36,-3.73,-8.43,-14.59,-16.69,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
271,2022-07-31,5.86,7.79,4.15,7.99,13.77,11.68,-0.18,5.07,5.65,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
272,2022-08-26,-2.76,18.15,-5.37,2.29,8.64,-1.28,4.09,-1.22,4.97,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [728]:
indiv=indiv.dropna(axis=1)
indiv

,Date,A005930,A000660,A051910,A005380,A006400,A035420,A035720,A000270,A068270,...,A025560,A025530,A012600,A000760,A003680,A084870,A011230,A001210,A011400,A019490
144,2011-12-31,5.27,-6.20,-4.22,-1.62,1.52,-16.10,-17.98,-5.66,5.83,...,44.94,-1.48,-2.84,14.19,1.92,7.23,1.38,17.88,-97.87,47.93
145,2012-01-31,4.63,22.32,17.80,3.76,4.49,0.47,9.92,1.20,3.44,...,-13.44,6.69,21.00,0.71,0.94,16.72,7.82,10.78,-97.87,-16.62
146,2012-02-29,7.20,16.15,4.32,-2.26,-4.50,7.85,-12.64,5.37,-8.50,...,13.60,10.16,0.70,13.61,13.08,7.29,3.67,-0.71,-97.87,9.77
147,2012-03-31,5.72,-3.15,-7.15,7.87,-0.72,11.35,5.68,4.81,5.57,...,-17.55,7.03,-11.20,11.48,-15.29,-8.74,-7.37,-8.99,-97.87,-7.39
148,2012-04-30,9.02,-4.10,-23.11,15.24,18.98,-1.54,-11.00,12.55,-13.80,...,119.35,3.56,-4.03,-8.94,-9.17,-14.63,-7.96,-19.37,-97.87,-5.54
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268,2022-04-30,-3.99,-6.25,-0.76,5.38,12.73,-14.22,-14.79,16.71,3.23,...,-2.19,1.87,0.00,6.45,-2.49,-0.23,-8.43,0.23,-19.33,0.00
269,2022-05-31,0.00,-4.00,12.72,1.88,-5.89,0.52,-5.45,2.27,-8.81,...,-2.24,-1.18,0.00,-1.93,-8.66,-6.64,-17.64,37.33,2.64,0.00
270,2022-06-30,-15.81,-14.95,-7.36,-3.73,-8.43,-14.59,-16.69,-7.54,13.69,...,-22.19,-18.10,0.00,-13.09,-23.84,-5.47,-6.27,-55.29,-9.68,0.00
271,2022-07-31,5.86,4.15,13.77,11.68,-0.18,5.07,5.65,5.59,7.95,...,3.94,-0.33,0.00,3.53,-1.53,4.46,0.48,-0.71,27.39,0.00
272,2022-08-26,-2.76,-5.37,8.64,-1.28,4.09,-1.22,4.97,-4.36,1.88,...,-1.90,2.87,0.00,0.32,6.18,3.17,7.58,2.20,6.33,0.00

In [726]:
investable.index

DatetimeIndex(['2020-07-31', '2020-08-31', '2020-09-30', '2020-10-31',
               '2020-11-30', '2020-12-31', '2021-01-31', '2021-02-28',
               '2021-03-31', '2021-04-30', '2021-05-31', '2021-06-30',
               '2021-07-31', '2021-08-31', '2021-09-30', '2021-10-31',
               '2021-11-30', '2021-12-31', '2022-01-31', '2022-02-28',
               '2022-03-31', '2022-04-30', '2022-05-31', '2022-06-30',
               '2022-07-31'],
              dtype='datetime64[ns]', freq='M')

In [727]:
investable_comp.index

DatetimeIndex(['2020-07-31', '2020-08-31', '2020-09-30', '2020-10-31',
               '2020-11-30', '2020-12-31', '2021-01-31', '2021-02-28',
               '2021-03-31', '2021-04-30', '2021-05-31', '2021-06-30',
               '2021-07-31', '2021-08-31', '2021-09-30', '2021-10-31',
               '2021-11-30', '2021-12-31', '2022-01-31', '2022-02-28',
               '2022-03-31', '2022-04-30', '2022-05-31', '2022-06-30',
               '2022-07-31'],
              dtype='datetime64[ns]', freq='M')

In [570]:
type(c.mean())

pandas.core.series.Series

In [571]:
type(c.cov())

pandas.core.frame.DataFrame

In [729]:
from scipy.optimize import minimize

def MeanVarianceOptimization(mean, cov_matrix, riskfree):
    num = len(mean)
    def objfuc(weights):
        weights = np.array(weights)
        sigma=np.dot(weights.T, np.dot(cov_matrix, weights))
        expected=np.sum(mean*weights)
        objfuction = (expected-riskfree)/np.sqrt(sigma)
        return -objfuction #weights.dot(cov_matrix).dot(weights.T)
    constraints=({"type":"eq","fun":lambda w: np.sum(w)-1})
    #{"type":"ineq", "fun": lambda w: np.sum(mean*w)-minimum}
    bounds = tuple((0,1) for x in range(num))
    init = [1/num for x in range(num)]
    result = minimize(objfuc, init, method="SLSQP", bounds=bounds, constraints=constraints)
    return result

In [735]:
start_date = '2020-07-31'
end_date = '2022-07-31'
columns = investable.columns
dates = pd.date_range(start_date, end_date, freq='M')
invSet = pd.DataFrame(index=dates, columns=columns)
invSet

,A005930,A000660,A051910,A005380,A006400,A035420,A035720,A000270,A068270,A005490,...,A001620,A010770,A014990,A024070,A025560,A025530,A000760,A003680,A084870,A001210
2020-07-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-08-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-10-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-11-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-04-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-05-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-06-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-07-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [736]:
columns = investable_comp.columns
dates = pd.date_range(start_date, end_date, freq='M')
invSet_comp = pd.DataFrame(index=dates, columns=columns)
invSet_comp

,A005930,A000660,A051910,A005380,A006400,A035420,A035720,A000270,A068270,A005490,...,A025560,A025530,A012600,A000760,A003680,A084870,A011230,A001210,A011400,A019490
2020-07-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-08-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-10-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-11-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-04-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-05-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-06-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-07-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [737]:
count=144
for date,stocks in Set.items():
    for stock in stocks:
        invSet[stock][date] = indiv[stock][count]
    count= count+1
        
invSet #remove count

,A005930,A000660,A051910,A005380,A006400,A035420,A035720,A000270,A068270,A005490,...,A001620,A010770,A014990,A024070,A025560,A025530,A000760,A003680,A084870,A001210
2020-07-31,5.27,NaN,-4.22,-1.62,1.52,NaN,NaN,-5.66,5.83,2.15,...,NaN,-0.34,-0.98,NaN,44.94,NaN,NaN,1.92,NaN,17.88
2020-08-31,4.63,NaN,NaN,NaN,4.49,NaN,NaN,NaN,3.44,NaN,...,NaN,2.58,6.44,NaN,-13.44,NaN,NaN,0.94,NaN,NaN
2020-09-30,NaN,16.15,4.32,NaN,NaN,NaN,NaN,NaN,NaN,-1.77,...,NaN,7.23,NaN,NaN,NaN,NaN,NaN,13.08,NaN,NaN
2020-10-31,NaN,-3.15,-7.15,NaN,-0.72,NaN,NaN,NaN,NaN,-8.65,...,NaN,-3.76,NaN,NaN,NaN,7.03,NaN,-15.29,-8.74,NaN
2020-11-30,9.02,-4.10,-23.11,15.24,18.98,NaN,-11.00,NaN,-13.80,-1.18,...,NaN,-1.30,-6.98,NaN,NaN,3.56,NaN,-9.17,-14.63,-19.37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-03-31,6.05,NaN,NaN,NaN,1.81,NaN,NaN,NaN,NaN,-0.92,...,NaN,12.00,-12.02,NaN,NaN,-2.46,NaN,-10.48,NaN,-16.07
2022-04-30,NaN,NaN,NaN,NaN,10.95,NaN,NaN,-2.83,3.66,NaN,...,NaN,NaN,-0.98,NaN,-4.43,-3.06,0.61,3.34,NaN,NaN
2022-05-31,NaN,NaN,-2.60,0.80,NaN,NaN,NaN,-5.51,NaN,-0.94,...,NaN,NaN,NaN,NaN,NaN,-9.65,NaN,-0.44,NaN,NaN
2022-06-30,NaN,NaN,NaN,NaN,-2.23,NaN,NaN,NaN,-9.98,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-07-31,-8.17,NaN,3.10,-6.15,-7.69,4.62,NaN,NaN,-7.96,NaN,...,-14.94,1.37,NaN,NaN,NaN,-4.26,-5.28,-1.96,NaN,8.26

In [739]:
for date,stocks in Set_comp.items():
    for stock in stocks:
        invSet_comp[stock][date] = indiv[stock][count]
        
invSet_comp

,A005930,A000660,A051910,A005380,A006400,A035420,A035720,A000270,A068270,A005490,...,A025560,A025530,A012600,A000760,A003680,A084870,A011230,A001210,A011400,A019490
2020-07-31,-8.31,3.27,-12.01,NaN,-11.42,-8.04,-6.10,-3.40,17.15,-9.27,...,NaN,NaN,16.49,9.50,8.04,9.91,NaN,NaN,NaN,-5.40
2020-08-31,-8.31,NaN,-12.01,2.18,-11.42,-8.04,-6.10,-3.40,17.15,NaN,...,NaN,NaN,16.49,9.50,8.04,NaN,NaN,16.67,NaN,NaN
2020-09-30,-8.31,3.27,-12.01,2.18,-11.42,-8.04,-6.10,-3.40,NaN,NaN,...,NaN,NaN,NaN,NaN,8.04,9.91,NaN,16.67,NaN,NaN
2020-10-31,NaN,NaN,-12.01,2.18,-11.42,-8.04,-6.10,-3.40,NaN,-9.27,...,NaN,-0.70,NaN,9.50,8.04,NaN,NaN,16.67,NaN,NaN
2020-11-30,-8.31,3.27,-12.01,2.18,-11.42,NaN,-6.10,-3.40,17.15,-9.27,...,6.45,-0.70,16.49,NaN,8.04,9.91,0.32,16.67,NaN,-5.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-03-31,-8.31,NaN,NaN,NaN,-11.42,NaN,NaN,NaN,NaN,-9.27,...,6.45,-0.70,16.49,NaN,8.04,9.91,NaN,16.67,NaN,NaN
2022-04-30,-8.31,3.27,NaN,NaN,-11.42,NaN,NaN,-3.40,17.15,NaN,...,NaN,-0.70,16.49,NaN,8.04,9.91,NaN,NaN,NaN,NaN
2022-05-31,-8.31,NaN,-12.01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,16.49,9.50,8.04,9.91,NaN,16.67,NaN,NaN
2022-06-30,NaN,NaN,NaN,2.18,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,-0.70,16.49,NaN,NaN,NaN,0.32,16.67,NaN,NaN
2022-07-31,-8.31,NaN,-12.01,2.18,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,-0.70,16.49,NaN,NaN,9.91,NaN,NaN,NaN,NaN

# Portfolio

In [746]:
temp=indiv[:][0:103]

In [747]:
temp.set_index('Date',inplace=True)
temp

,A005930,A000660,A051910,A005380,A006400,A035420,A035720,A000270,A068270,A005490,...,A025560,A025530,A012600,A000760,A003680,A084870,A011230,A001210,A011400,A019490
Date,,,,,,,,,,,,,,,,,,,,,
2011-12-31,5.27,-6.20,-4.22,-1.62,1.52,-16.10,-17.98,-5.66,5.83,2.15,...,44.94,-1.48,-2.84,14.19,1.92,7.23,1.38,17.88,-97.87,47.93
2012-01-31,4.63,22.32,17.80,3.76,4.49,0.47,9.92,1.20,3.44,9.08,...,-13.44,6.69,21.00,0.71,0.94,16.72,7.82,10.78,-97.87,-16.62
2012-02-29,7.20,16.15,4.32,-2.26,-4.50,7.85,-12.64,5.37,-8.50,-1.77,...,13.60,10.16,0.70,13.61,13.08,7.29,3.67,-0.71,-97.87,9.77
2012-03-31,5.72,-3.15,-7.15,7.87,-0.72,11.35,5.68,4.81,5.57,-8.65,...,-17.55,7.03,-11.20,11.48,-15.29,-8.74,-7.37,-8.99,-97.87,-7.39
2012-04-30,9.02,-4.10,-23.11,15.24,18.98,-1.54,-11.00,12.55,-13.80,-1.18,...,119.35,3.56,-4.03,-8.94,-9.17,-14.63,-7.96,-19.37,-97.87,-5.54
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-02-29,-7.82,-8.72,9.36,-12.21,3.51,-2.52,5.85,-15.11,-0.29,-13.50,...,-18.60,-9.03,-43.81,-3.75,-2.65,-18.76,-2.95,-21.76,-97.87,-13.23
2020-03-31,-11.90,-5.23,-17.12,-22.87,-18.47,-2.30,-9.59,-28.28,34.71,-17.65,...,7.62,-18.47,-15.75,-15.60,-23.21,-36.04,-31.94,-18.60,-97.87,-19.69
2020-04-30,3.52,0.48,24.05,8.33,15.32,20.43,20.66,16.27,14.40,12.84,...,-23.08,8.84,65.73,9.75,36.08,20.00,52.07,51.96,-97.87,37.89
2020-05-31,1.40,-2.63,3.72,4.70,25.52,14.43,43.21,15.51,1.43,-1.90,...,0.00,5.42,26.16,1.16,9.60,23.13,11.28,-4.72,-97.87,12.15
2020-06-30,4.14,4.42,25.61,-0.31,1.25,18.14,1.52,-6.42,43.33,-3.87,...,-1.25,-6.79,1.34,9.92,98.10,-5.25,-5.59,-3.90,-97.87,1.33

In [748]:
invSet

,A005930,A000660,A051910,A005380,A006400,A035420,A035720,A000270,A068270,A005490,...,A001620,A010770,A014990,A024070,A025560,A025530,A000760,A003680,A084870,A001210
2020-07-31,5.27,NaN,-4.22,-1.62,1.52,NaN,NaN,-5.66,5.83,2.15,...,NaN,-0.34,-0.98,NaN,44.94,NaN,NaN,1.92,NaN,17.88
2020-08-31,4.63,NaN,NaN,NaN,4.49,NaN,NaN,NaN,3.44,NaN,...,NaN,2.58,6.44,NaN,-13.44,NaN,NaN,0.94,NaN,NaN
2020-09-30,NaN,16.15,4.32,NaN,NaN,NaN,NaN,NaN,NaN,-1.77,...,NaN,7.23,NaN,NaN,NaN,NaN,NaN,13.08,NaN,NaN
2020-10-31,NaN,-3.15,-7.15,NaN,-0.72,NaN,NaN,NaN,NaN,-8.65,...,NaN,-3.76,NaN,NaN,NaN,7.03,NaN,-15.29,-8.74,NaN
2020-11-30,9.02,-4.10,-23.11,15.24,18.98,NaN,-11.00,NaN,-13.80,-1.18,...,NaN,-1.30,-6.98,NaN,NaN,3.56,NaN,-9.17,-14.63,-19.37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-03-31,6.05,NaN,NaN,NaN,1.81,NaN,NaN,NaN,NaN,-0.92,...,NaN,12.00,-12.02,NaN,NaN,-2.46,NaN,-10.48,NaN,-16.07
2022-04-30,NaN,NaN,NaN,NaN,10.95,NaN,NaN,-2.83,3.66,NaN,...,NaN,NaN,-0.98,NaN,-4.43,-3.06,0.61,3.34,NaN,NaN
2022-05-31,NaN,NaN,-2.60,0.80,NaN,NaN,NaN,-5.51,NaN,-0.94,...,NaN,NaN,NaN,NaN,NaN,-9.65,NaN,-0.44,NaN,NaN
2022-06-30,NaN,NaN,NaN,NaN,-2.23,NaN,NaN,NaN,-9.98,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-07-31,-8.17,NaN,3.10,-6.15,-7.69,4.62,NaN,NaN,-7.96,NaN,...,-14.94,1.37,NaN,NaN,NaN,-4.26,-5.28,-1.96,NaN,8.26

In [749]:
investableSet=pd.concat([temp, invSet], axis=0)
investableSet

,A005930,A000660,A051910,A005380,A006400,A035420,A035720,A000270,A068270,A005490,...,A025560,A025530,A012600,A000760,A003680,A084870,A011230,A001210,A011400,A019490
2011-12-31,5.27,-6.20,-4.22,-1.62,1.52,-16.10,-17.98,-5.66,5.83,2.15,...,44.94,-1.48,-2.84,14.19,1.92,7.23,1.38,17.88,-97.87,47.93
2012-01-31,4.63,22.32,17.80,3.76,4.49,0.47,9.92,1.20,3.44,9.08,...,-13.44,6.69,21.00,0.71,0.94,16.72,7.82,10.78,-97.87,-16.62
2012-02-29,7.20,16.15,4.32,-2.26,-4.50,7.85,-12.64,5.37,-8.50,-1.77,...,13.60,10.16,0.70,13.61,13.08,7.29,3.67,-0.71,-97.87,9.77
2012-03-31,5.72,-3.15,-7.15,7.87,-0.72,11.35,5.68,4.81,5.57,-8.65,...,-17.55,7.03,-11.20,11.48,-15.29,-8.74,-7.37,-8.99,-97.87,-7.39
2012-04-30,9.02,-4.10,-23.11,15.24,18.98,-1.54,-11.00,12.55,-13.80,-1.18,...,119.35,3.56,-4.03,-8.94,-9.17,-14.63,-7.96,-19.37,-97.87,-5.54
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-03-31,6.05,NaN,NaN,NaN,1.81,NaN,NaN,NaN,NaN,-0.92,...,NaN,-2.46,NaN,NaN,-10.48,NaN,NaN,-16.07,NaN,NaN
2022-04-30,NaN,NaN,NaN,NaN,10.95,NaN,NaN,-2.83,3.66,NaN,...,-4.43,-3.06,NaN,0.61,3.34,NaN,NaN,NaN,NaN,NaN
2022-05-31,NaN,NaN,-2.60,0.80,NaN,NaN,NaN,-5.51,NaN,-0.94,...,NaN,-9.65,NaN,NaN,-0.44,NaN,NaN,NaN,NaN,NaN
2022-06-30,NaN,NaN,NaN,NaN,-2.23,NaN,NaN,NaN,-9.98,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-07-31,-8.17,NaN,3.10,-6.15,-7.69,4.62,NaN,NaN,-7.96,NaN,...,NaN,-4.26,NaN,-5.28,-1.96,NaN,NaN,8.26,NaN,NaN

In [751]:
investableSet_comp=pd.concat([temp, invSet_comp], axis=0)
investableSet_comp

,A005930,A000660,A051910,A005380,A006400,A035420,A035720,A000270,A068270,A005490,...,A025560,A025530,A012600,A000760,A003680,A084870,A011230,A001210,A011400,A019490
2011-12-31,5.27,-6.20,-4.22,-1.62,1.52,-16.10,-17.98,-5.66,5.83,2.15,...,44.94,-1.48,-2.84,14.19,1.92,7.23,1.38,17.88,-97.87,47.93
2012-01-31,4.63,22.32,17.80,3.76,4.49,0.47,9.92,1.20,3.44,9.08,...,-13.44,6.69,21.00,0.71,0.94,16.72,7.82,10.78,-97.87,-16.62
2012-02-29,7.20,16.15,4.32,-2.26,-4.50,7.85,-12.64,5.37,-8.50,-1.77,...,13.60,10.16,0.70,13.61,13.08,7.29,3.67,-0.71,-97.87,9.77
2012-03-31,5.72,-3.15,-7.15,7.87,-0.72,11.35,5.68,4.81,5.57,-8.65,...,-17.55,7.03,-11.20,11.48,-15.29,-8.74,-7.37,-8.99,-97.87,-7.39
2012-04-30,9.02,-4.10,-23.11,15.24,18.98,-1.54,-11.00,12.55,-13.80,-1.18,...,119.35,3.56,-4.03,-8.94,-9.17,-14.63,-7.96,-19.37,-97.87,-5.54
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-03-31,-8.31,NaN,NaN,NaN,-11.42,NaN,NaN,NaN,NaN,-9.27,...,6.45,-0.70,16.49,NaN,8.04,9.91,NaN,16.67,NaN,NaN
2022-04-30,-8.31,3.27,NaN,NaN,-11.42,NaN,NaN,-3.40,17.15,NaN,...,NaN,-0.70,16.49,NaN,8.04,9.91,NaN,NaN,NaN,NaN
2022-05-31,-8.31,NaN,-12.01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,16.49,9.50,8.04,9.91,NaN,16.67,NaN,NaN
2022-06-30,NaN,NaN,NaN,2.18,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,-0.70,16.49,NaN,NaN,NaN,0.32,16.67,NaN,NaN
2022-07-31,-8.31,NaN,-12.01,2.18,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,-0.70,16.49,NaN,NaN,9.91,NaN,NaN,NaN,NaN

In [647]:
invSet.index

DatetimeIndex(['2020-01-31', '2020-02-29', '2020-03-31', '2020-04-30',
               '2020-05-31', '2020-06-30', '2020-07-31', '2020-08-31',
               '2020-09-30', '2020-10-31', '2020-11-30', '2020-12-31',
               '2021-01-31', '2021-02-28', '2021-03-31', '2021-04-30',
               '2021-05-31', '2021-06-30', '2021-07-31', '2021-08-31',
               '2021-09-30', '2021-10-31', '2021-11-30', '2021-12-31',
               '2022-01-31', '2022-02-28', '2022-03-31', '2022-04-30',
               '2022-05-31', '2022-06-30', '2022-07-31'],
              dtype='datetime64[ns]', freq='M')

In [749]:
kospi200return

          Date  KOSPI200
0   1999-12-31     11.18
1   2000-01-31     -8.41
2   2000-02-29    -13.36
3   2000-03-31      4.71
4   2000-04-30    -17.96
..         ...       ...
268 2022-04-30     -2.39
269 2022-05-31     -0.15
270 2022-06-30    -12.85
271 2022-07-31      3.34
272 2022-08-26      1.35

[273 rows x 2 columns]

In [118]:
kospi200return.set_index('Date', inplace=True)
kospi200return

            KOSPI200
Date
1999-12-31     11.18
2000-01-31     -8.41
2000-02-29    -13.36
2000-03-31      4.71
2000-04-30    -17.96
...              ...
2022-04-30     -2.39
2022-05-31     -0.15
2022-06-30    -12.85
2022-07-31      3.34
2022-08-26      1.35

[273 rows x 1 columns]

In [753]:
Return = pd.DataFrame(index=invSet.index, columns=['Return'])
w={}
count1=103
count2=0
#temp = indiv[:][:]
#temp.set_index('Date', inplace=True)
for date in invSet.index:
    temp = indiv[:][:]
    temp.set_index('Date', inplace=True)
    temp = temp[:][0:count1]
    invSet1 = invSet[:][count2:count2+1]
    investableSet = pd.concat([temp, invSet1],axis=0)
    investableSet=investableSet.dropna(axis=1)
    investableSet = investableSet.astype(float)
    #kospi200return.loc[date]+5
    result = MeanVarianceOptimization(investableSet.mean(),investableSet.cov(),rf.loc[date])
    
    w[date]=result.x
    Return['Return'][datetime.strftime(date, '%Y-%m-%d')]=np.sum(investableSet.mean()*result.x)
    count1=count1+1
    count2=count2+1

In [754]:
Return_comp = pd.DataFrame(index=invSet_comp.index, columns=['Return'])
w={}
count1=103
count2=0
#temp = indiv[:][:]
#temp.set_index('Date', inplace=True)
for date in invSet_comp.index:
    temp = indiv[:][:]
    temp.set_index('Date', inplace=True)
    temp = temp[:][0:count1]
    invSet1_comp = invSet_comp[:][count2:count2+1]
    investableSet_comp = pd.concat([temp, invSet1_comp],axis=0)
    investableSet_comp=investableSet_comp.dropna(axis=1)
    investableSet_comp = investableSet_comp.astype(float)
    #kospi200return.loc[date]+5
    result = MeanVarianceOptimization(investableSet_comp.mean(),investableSet_comp.cov(),rf.loc[date])
    
    w[date]=result.x
    Return_comp['Return'][datetime.strftime(date, '%Y-%m-%d')]=np.sum(investableSet_comp.mean()*result.x)
    count1=count1+1
    count2=count2+1

In [755]:
Return

           Return
2020-07-31   2.79
2020-08-31   2.86
2020-09-30   2.77
2020-10-31   2.51
2020-11-30   2.51
...           ...
2022-03-31   2.83
2022-04-30   3.14
2022-05-31   2.97
2022-06-30   3.03
2022-07-31   3.45

[25 rows x 1 columns]

In [797]:
Return_comp

           Return
2020-07-31   2.98
2020-08-31   2.84
2020-09-30   3.07
2020-10-31   2.94
2020-11-30   2.85
...           ...
2022-03-31   3.01
2022-04-30   3.03
2022-05-31   3.07
2022-06-30   3.54
2022-07-31   3.67

[25 rows x 1 columns]

In [798]:
portfoliortn = 1
for date in Return.index:
    portfoliortn = portfoliortn * (1+Return['Return'][date]/100)
print(((portfoliortn)**(1/len(Return.index))-1)*100)
print(len(Return.index))

2.852613828886086
25

In [804]:
portfoliortn_comp = 1
for date in Return_comp.index:
    portfoliortn_comp = portfoliortn_comp * (1+Return_comp['Return'][date]/100)
print(((portfoliortn_comp)**(1/len(Return_comp.index))-1)*100)
print(len(Return_comp.index))

2.9912203511527125
25

In [769]:
k200=kospi200return
k200=k200.set_index('Date')
k200

            KOSPI200
Date
1999-12-31     11.18
2000-01-31     -8.41
2000-02-29    -13.36
2000-03-31      4.71
2000-04-30    -17.96
...              ...
2022-04-30     -2.39
2022-05-31     -0.15
2022-06-30    -12.85
2022-07-31      3.34
2022-08-26      1.35

[273 rows x 1 columns]

In [853]:
k200=k200[:]['2020-07-31':'2022-07-31']
k200

            KOSPI200
Date
2020-07-31      6.87
2020-08-31      2.61
2020-09-30     -0.90
2020-10-31     -2.53
2020-11-30     14.74
...              ...
2022-03-31      1.13
2022-04-30     -2.39
2022-05-31     -0.15
2022-06-30    -12.85
2022-07-31      3.34

[25 rows x 1 columns]

In [800]:
indexrtn = 1
for date in k200.index:
    indexrtn = indexrtn * (1+k200['KOSPI200'][date]/100)
print(((indexrtn)**(1/len(k200.index))-1)*100)
print(len(k200.index))

0.37428932305285656
25

In [772]:
ER = pd.DataFrame()
ER['return'] = Return['Return']-k200['KOSPI200']
ER

           return
2020-07-31  -4.08
2020-08-31   0.25
2020-09-30   3.67
2020-10-31   5.04
2020-11-30 -12.23
...           ...
2022-03-31   1.70
2022-04-30   5.53
2022-05-31   3.12
2022-06-30  15.88
2022-07-31   0.11

[25 rows x 1 columns]

In [773]:
ER_comp = pd.DataFrame()
ER_comp['return'] = Return_comp['Return']-k200['KOSPI200']
ER_comp

           return
2020-07-31  -3.89
2020-08-31   0.23
2020-09-30   3.97
2020-10-31   5.47
2020-11-30 -11.89
...           ...
2022-03-31   1.88
2022-04-30   5.42
2022-05-31   3.22
2022-06-30  16.39
2022-07-31   0.33

[25 rows x 1 columns]

In [127]:
np.where(ER<0)

(array([ 3,  4,  5,  6, 10, 11, 12, 23]), array([0, 0, 0, 0, 0, 0, 0, 0]))

In [128]:
np.where(ER>0)

(array([ 0,  1,  2,  7,  8,  9, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 24,
        25, 26, 27, 28, 29, 30]),
 array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0]))

In [801]:
excessivertn = 1
for date in ER.index:
    excessivertn = excessivertn * (1+ER['return'][date]/100)
print(((excessivertn)**(1/len(ER.index))-1)*100)
print(len(ER.index))

2.131809837476295
25

In [802]:
excessivertn_comp = 1
for date in ER_comp.index:
    excessivertn_comp = excessivertn_comp * (1+ER_comp['return'][date]/100)
print(((excessivertn_comp)**(1/len(ER_comp.index))-1)*100)
print(len(ER_comp.index))

2.270418190150636
25

# Risk Parity Model

In [776]:
def RiskParity(mean, cov) :
    def RPobj(weight) :
        portfolio_risk = np.dot(weight.T, np.dot(cov, weight))
        sigma = portfolio_risk ** 0.5
        mrc = 1/sigma * np.dot(cov, weight)
        rc = weight * mrc
        rc = np.reshape(rc, (len(rc), 1))
        risk_diffs = rc - rc.T
        return np.sum(np.square(np.ravel(risk_diffs)))

    
    init = np.repeat(1/cov.shape[1], cov.shape[1]) 
    constraints = ({'type': 'eq', 'fun': lambda w: np.sum(w)-1},
                  {'type': 'ineq', 'fun': lambda w:w})   
    result = minimize(RPobj, init, method = 'SLSQP', constraints = constraints)
    return result.x

In [778]:
RPreturn = pd.DataFrame(index=invSet.index, columns=['Return'])
w={}
count1=103
count2=0
temp = indiv[:][:]
temp.set_index('Date', inplace=True)
for date in invSet.index:
    temp = temp[:][0:count1]
    invSet1 = invSet[:][count2:count2+1]
    investableSet = pd.concat([temp, invSet1],axis=0)
    investableSet=investableSet.dropna(axis=1)
    investableSet = investableSet.astype(float)
    
    result = RiskParity(investableSet.mean(), investableSet.cov())
    
    w[date]=result
    RPreturn['Return'][datetime.strftime(date, '%Y-%m-%d')]=np.sum(investableSet.mean()*result)
    count1=count1+1
    count2=count2+1

In [779]:
RPreturn_comp = pd.DataFrame(index=invSet_comp.index, columns=['Return'])
w_comp={}
count1=103
count2=0
temp = indiv[:][:]
temp.set_index('Date', inplace=True)
for date in invSet.index:
    temp = temp[:][0:count1]
    invSet1_comp = invSet_comp[:][count2:count2+1]
    investableSet_comp = pd.concat([temp, invSet1_comp],axis=0)
    investableSet_comp=investableSet_comp.dropna(axis=1)
    investableSet_comp = investableSet_comp.astype(float)
    
    result = RiskParity(investableSet_comp.mean(), investableSet_comp.cov())
    
    w_comp[date]=result
    RPreturn_comp['Return'][datetime.strftime(date, '%Y-%m-%d')]=np.sum(investableSet_comp.mean()*result)
    count1=count1+1
    count2=count2+1

In [780]:
RPreturn

           Return
2020-07-31   0.77
2020-08-31   0.94
2020-09-30   0.87
2020-10-31   0.75
2020-11-30   0.66
...           ...
2022-03-31   0.78
2022-04-30   1.07
2022-05-31   0.69
2022-06-30   0.82
2022-07-31   0.84

[25 rows x 1 columns]

In [782]:
RPreturn_comp

           Return
2020-07-31   0.95
2020-08-31   0.93
2020-09-30   0.77
2020-10-31   0.58
2020-11-30   0.69
...           ...
2022-03-31   0.75
2022-04-30   0.74
2022-05-31   0.60
2022-06-30   0.65
2022-07-31   0.57

[25 rows x 1 columns]

In [805]:
RPportfoliortn = 1
for date in RPreturn.index:
    RPportfoliortn = RPportfoliortn * (1+RPreturn['Return'][date]/100)
print(((RPportfoliortn)**(1/len(RPreturn.index))-1)*100)#**(1/len(RPreturn.index))-1)
print(len(RPreturn.index))

0.7887857252209862
25

In [806]:
RPportfoliortn_comp = 1
for date in RPreturn_comp.index:
    RPportfoliortn_comp = RPportfoliortn_comp * (1+RPreturn_comp['Return'][date]/100)
print(((RPportfoliortn_comp)**(1/len(RPreturn_comp.index))-1)*100)
print(len(RPreturn_comp.index))

0.7091233820215592
25

# Portforlio Performance Evaluation

In [819]:
Riskfree=rf[:]['2020-07-31':'2022-07-31']
Riskfree.iloc[-1]

            Riskfree
Date
2020-07-31      0.51
2020-08-31      0.55
2020-09-30      0.55
2020-10-31      0.52
2020-11-30      0.60
...              ...
2022-03-31      1.45
2022-04-30      1.53
2022-05-31      1.86
2022-06-30      2.34
2022-07-31      2.34

[25 rows x 1 columns]

In [834]:
import math
math.sqrt(Return.var())*math.sqrt(k200.var())

1.2811128354590309

In [923]:
k200=k200.astype('float')
Return1=Return.astype('float')
Return1_comp=Return_comp.astype('float')

In [922]:
print('Treynor Ratio:', (Return.mean()[0]-Riskfree.iloc[-1][0]) / 100*(np.cov(Return1['Return'], k200['KOSPI200'])[0, 1]/k200.var()[0]))

Treynor Ratio: -2.6802303434118386e-05

In [925]:
print('Treynor Ratio_comp:', (Return_comp.mean()[0]-Riskfree.iloc[-1][0]) / 100*(np.cov(Return1_comp['Return'], k200['KOSPI200'])[0, 1]/k200.var()[0]))

Treynor Ratio_comp: -4.677291050509389e-05

In [930]:
print('Sharpe Ratio: ', (Return.mean()[0]-Riskfree.iloc[-1][0])/math.sqrt(Return.var()[0]))

Sharpe Ratio:  2.4035314468677558

In [931]:
print('Sharpe_comp Ratio: ', (Return_comp.mean()[0]-Riskfree.iloc[-1][0])/math.sqrt(Return_comp.var()[0]))

Sharpe_comp Ratio:  2.909672990931166

In [932]:
print('RP Sharpe Ratio: ', (RPreturn.mean()[0]-Riskfree.iloc[-1][0])/math.sqrt(RPreturn.var()[0]))

RP Sharpe Ratio:  -13.64349661358932

In [933]:
print('RP_comp Sharpe Ratio: ', (RPreturn_comp.mean()[0]-Riskfree.iloc[-1][0])/math.sqrt(RPreturn_comp.var()[0]))

RP_comp Sharpe Ratio:  -11.140918813491032