<a href="https://colab.research.google.com/github/Harry-Ahn/Capstone-Project/blob/main/WorldCup2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [6]:
pre_game = pd.read_csv("../content/drive/MyDrive/data/input/Dataset/results.csv")

In [7]:
pre_game

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0.0,0.0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4.0,2.0,Friendly,London,England,False
2,1874-03-07,Scotland,England,2.0,1.0,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2.0,2.0,Friendly,London,England,False
4,1876-03-04,Scotland,England,3.0,0.0,Friendly,Glasgow,Scotland,False
...,...,...,...,...,...,...,...,...,...
44201,2022-12-01,Canada,Morocco,NaN,NaN,FIFA World Cup,Doha,Qatar,True
44202,2022-12-02,Serbia,Switzerland,NaN,NaN,FIFA World Cup,Doha,Qatar,True
44203,2022-12-02,Cameroon,Brazil,NaN,NaN,FIFA World Cup,Lusail,Qatar,True
44204,2022-12-02,Ghana,Uruguay,NaN,NaN,FIFA World Cup,Al Wakrah,Qatar,True
44205,2022-12-02,South Korea,Portugal,NaN,NaN,FIFA World Cup,Al Rayyan,Qatar,True

In [8]:
pre_game["date"] = pd.to_datetime(pre_game["date"])

In [9]:
pre_game.isna().sum()

date           0
home_team      0
away_team      0
home_score    20
away_score    20
tournament     0
city           0
country        0
neutral        0
dtype: int64

In [10]:
pre_game.dropna(inplace=True)

In [11]:
pre_game.dtypes

date          datetime64[ns]
home_team             object
away_team             object
home_score           float64
away_score           float64
tournament            object
city                  object
country               object
neutral                 bool
dtype: object

In [12]:
pre_game.sort_values("date").tail()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
44181,2022-11-26,France,Denmark,2.0,1.0,FIFA World Cup,Doha,Qatar,True
44183,2022-11-27,Spain,Germany,1.0,1.0,FIFA World Cup,Al Khor,Qatar,True
44184,2022-11-27,Belgium,Morocco,0.0,2.0,FIFA World Cup,Doha,Qatar,True
44182,2022-11-27,Japan,Costa Rica,0.0,1.0,FIFA World Cup,Al Rayyan,Qatar,True
44185,2022-11-27,Croatia,Canada,4.0,1.0,FIFA World Cup,Al Rayyan,Qatar,True

In [13]:
pre_game = pre_game[(pre_game["date"] >= "2012-8-1")].reset_index(drop=True)

In [14]:
pre_game.sort_values('date').tail()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
9579,2022-11-26,France,Denmark,2.0,1.0,FIFA World Cup,Doha,Qatar,True
9582,2022-11-27,Belgium,Morocco,0.0,2.0,FIFA World Cup,Doha,Qatar,True
9580,2022-11-27,Japan,Costa Rica,0.0,1.0,FIFA World Cup,Al Rayyan,Qatar,True
9581,2022-11-27,Spain,Germany,1.0,1.0,FIFA World Cup,Al Khor,Qatar,True
9583,2022-11-27,Croatia,Canada,4.0,1.0,FIFA World Cup,Al Rayyan,Qatar,True

In [15]:
pre_game.home_team.value_counts()

Qatar            105
United States    104
Mexico           102
Japan             95
Brazil            86
                ...
Saint Helena       1
Romani people      1
Raetia             1
Aymara             1
Monaco             1
Name: home_team, Length: 285, dtype: int64

In [17]:
rank = pd.read_csv("../content/drive/MyDrive/data/input/Dataset/fifa_ranking-2022-10-06.csv")

In [18]:
rank["rank_date"] = pd.to_datetime(rank["rank_date"])
rank = rank[(rank["rank_date"] >= "2012-8-1")].reset_index(drop=True)

In [19]:
rank

,rank,country_full,country_abrv,total_points,previous_points,rank_change,confederation,rank_date
0,73,Bolivia,BOL,449.00,419.00,-10,CONMEBOL,2012-08-08
1,72,Finland,FIN,451.00,458.00,-2,UEFA,2012-08-08
2,71,Central African Republic,CTA,462.00,462.00,-2,CAF,2012-08-08
3,70,Latvia,LVA,463.00,466.00,-2,UEFA,2012-08-08
4,69,China PR,CHN,470.00,474.00,1,AFC,2012-08-08
...,...,...,...,...,...,...,...,...
21959,74,El Salvador,SLV,1330.51,1333.48,3,CONCACAF,2022-10-06
21960,75,Oman,OMA,1320.29,1323.03,0,AFC,2022-10-06
21961,76,Israel,ISR,1316.55,1316.35,0,UEFA,2022-10-06
21962,78,Georgia,GEO,1307.34,1296.46,-4,UEFA,2022-10-06
21963,211,San Marino,SMR,762.22,763.82,0,UEFA,2022-10-06

In [20]:
rank["country_full"] = rank["country_full"].str.replace("IR Iran", "Iran").str.replace("Korea Republic", "South Korea").str.replace("USA", "United States")

In [21]:
rank = rank.set_index(['rank_date']).groupby(['country_full'], group_keys=False).resample('D').first().fillna(method='ffill').reset_index()

In [22]:
rank

,rank_date,rank,country_full,country_abrv,total_points,previous_points,rank_change,confederation
0,2012-08-08,164.0,Afghanistan,AFG,122.00,122.00,2.0,AFC
1,2012-08-09,164.0,Afghanistan,AFG,122.00,122.00,2.0,AFC
2,2012-08-10,164.0,Afghanistan,AFG,122.00,122.00,2.0,AFC
3,2012-08-11,164.0,Afghanistan,AFG,122.00,122.00,2.0,AFC
4,2012-08-12,164.0,Afghanistan,AFG,122.00,122.00,2.0,AFC
...,...,...,...,...,...,...,...,...
777391,2022-10-02,123.0,Zimbabwe,ZIM,1138.56,1138.56,0.0,CAF
777392,2022-10-03,123.0,Zimbabwe,ZIM,1138.56,1138.56,0.0,CAF
777393,2022-10-04,123.0,Zimbabwe,ZIM,1138.56,1138.56,0.0,CAF
777394,2022-10-05,123.0,Zimbabwe,ZIM,1138.56,1138.56,0.0,CAF
777395,2022-10-06,125.0,Zimbabwe,ZIM,1138.56,1138.56,2.0,CAF

In [23]:
temp = pre_game.merge(rank[["country_full", "total_points", "previous_points", "rank", "rank_change", "rank_date"]], left_on=["date", "home_team"], right_on=["rank_date", "country_full"]).drop(["rank_date", "country_full"], axis=1)

rank = temp.merge(rank[["country_full", "total_points", "previous_points", "rank", "rank_change", "rank_date"]], left_on=["date", "away_team"], right_on=["rank_date", "country_full"], suffixes=("_home", "_away")).drop(["rank_date", "country_full"], axis=1)

In [24]:
rank[(rank.home_team == "Brazil") | (rank.away_team == "Brazil")].tail(10)

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,total_points_home,previous_points_home,rank_home,rank_change_home,total_points_away,previous_points_away,rank_away,rank_change_away
7266,2021-11-11,Brazil,Colombia,1.0,0.0,FIFA World Cup qualification,São Paulo,Brazil,False,1820.36,1811.73,2.0,0.0,1618.76,1618.40,16.0,0.0
7367,2021-11-16,Argentina,Brazil,0.0,0.0,FIFA World Cup qualification,San Juan,Argentina,False,1738.79,1725.31,6.0,0.0,1820.36,1811.73,2.0,0.0
7475,2022-01-27,Ecuador,Brazil,1.0,1.0,FIFA World Cup qualification,Quito,Ecuador,False,1448.27,1448.74,46.0,0.0,1826.35,1826.35,2.0,0.0
7508,2022-02-01,Brazil,Paraguay,4.0,0.0,FIFA World Cup qualification,Belo Horizonte,Brazil,False,1826.35,1826.35,2.0,0.0,1454.52,1454.52,43.0,0.0
7549,2022-03-24,Brazil,Chile,4.0,0.0,FIFA World Cup qualification,Rio de Janeiro,Brazil,False,1823.42,1826.35,2.0,0.0,1543.16,1543.42,26.0,2.0
7632,2022-03-29,Bolivia,Brazil,0.0,4.0,FIFA World Cup qualification,La Paz,Bolivia,False,1308.12,1324.21,76.0,-1.0,1823.42,1826.35,2.0,0.0
7724,2022-06-02,South Korea,Brazil,1.0,5.0,Friendly,Seoul,South Korea,False,1519.54,1522.85,29.0,0.0,1832.69,1823.42,1.0,-1.0
7792,2022-06-06,Japan,Brazil,0.0,1.0,Friendly,Tokyo,Japan,False,1553.44,1549.82,23.0,0.0,1832.69,1823.42,1.0,-1.0
7969,2022-09-23,Brazil,Ghana,3.0,0.0,Friendly,Le Havre,France,True,1837.56,1837.56,1.0,0.0,1393.47,1389.68,60.0,0.0
8038,2022-09-27,Brazil,Tunisia,5.0,1.0,Friendly,Paris,France,True,1837.56,1837.56,1.0,0.0,1507.86,1507.86,30.0,0.0

In [25]:
def result_finder(home, away):
    if home > away:
        return pd.Series([0, 3, 0])
    if home < away:
        return pd.Series([1, 0, 3])
    else:
        return pd.Series([2, 1, 1])

results = rank.apply(lambda x: result_finder(x["home_score"], x["away_score"]), axis=1)

In [26]:
rank[["result", "home_team_points", "away_team_points"]] = results

In [27]:
rank

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,total_points_home,previous_points_home,rank_home,rank_change_home,total_points_away,previous_points_away,rank_away,rank_change_away,result,home_team_points,away_team_points
0,2012-08-08,Zambia,Zimbabwe,2.0,1.0,Friendly,Ndola,Zambia,False,623.00,648.00,44.0,3.0,328.00,347.00,106.0,6.0,0,3,0
1,2012-08-11,El Salvador,Guatemala,1.0,0.0,Friendly,Carson,United States,True,490.00,487.00,64.0,-3.0,399.00,401.00,88.0,0.0,0,3,0
2,2012-08-13,Jordan,Uzbekistan,0.0,1.0,Friendly,Amman,Jordan,False,425.00,417.00,83.0,-1.0,493.00,488.00,63.0,-2.0,1,0,3
3,2012-08-14,Burkina Faso,Togo,3.0,0.0,Friendly,Saint-Leu-la-Forêt,France,True,405.00,405.00,87.0,0.0,342.00,356.00,99.0,1.0,0,3,0
4,2012-08-14,Liechtenstein,Andorra,1.0,0.0,Friendly,Vaduz,Liechtenstein,False,177.00,177.00,148.0,-1.0,15.00,15.00,200.0,2.0,0,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8069,2022-09-27,Norway,Serbia,0.0,2.0,UEFA Nations League,Oslo,Norway,False,1488.57,1488.57,36.0,0.0,1549.53,1549.53,25.0,0.0,1,0,3
8070,2022-09-27,Sweden,Slovenia,1.0,1.0,UEFA Nations League,Stockholm,Sweden,False,1563.44,1563.44,20.0,0.0,1372.48,1372.48,65.0,0.0,2,1,1
8071,2022-09-27,Kosovo,Cyprus,5.0,1.0,UEFA Nations League,Pristina,Kosovo,False,1183.90,1183.90,106.0,0.0,1180.52,1180.52,108.0,1.0,0,3,0
8072,2022-09-27,Greece,Northern Ireland,3.0,1.0,UEFA Nations League,Athens,Greece,False,1441.45,1441.45,49.0,1.0,1399.10,1399.10,58.0,0.0,0,3,0
8073,2022-09-30,Fiji,Solomon Islands,1.0,0.0,MSG Prime Minister's Cup,Luganville,Vanuatu,True,993.37,993.37,163.0,0.0,1092.56,1092.56,137.0,0.0,0,3,0

In [28]:
rank["rank_dif"] = rank["rank_home"] - rank["rank_away"]
rank["score_dif"] = rank["home_score"] - rank["away_score"]
rank["points_home_by_rank"] = rank["home_team_points"]/rank["rank_away"]
rank["points_away_by_rank"] = rank["away_team_points"]/rank["rank_home"]
rank["relative_point_dif"] = rank["points_home_by_rank"] - rank["points_away_by_rank"]
rank["score_dif_by_rank_dif"] = rank["score_dif"]/(rank["rank_home"]-rank["rank_away"])

In [29]:
rank=rank.dropna()

In [30]:
rank

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,total_points_home,...,rank_change_away,result,home_team_points,away_team_points,rank_dif,score_dif,points_home_by_rank,points_away_by_rank,relative_point_dif,score_dif_by_rank_dif
0,2012-08-08,Zambia,Zimbabwe,2.0,1.0,Friendly,Ndola,Zambia,False,623.00,...,6.0,0,3,0,-62.0,1.0,0.028302,0.000000,0.028302,-0.016129
1,2012-08-11,El Salvador,Guatemala,1.0,0.0,Friendly,Carson,United States,True,490.00,...,0.0,0,3,0,-24.0,1.0,0.034091,0.000000,0.034091,-0.041667
2,2012-08-13,Jordan,Uzbekistan,0.0,1.0,Friendly,Amman,Jordan,False,425.00,...,-2.0,1,0,3,20.0,-1.0,0.000000,0.036145,-0.036145,-0.050000
3,2012-08-14,Burkina Faso,Togo,3.0,0.0,Friendly,Saint-Leu-la-Forêt,France,True,405.00,...,1.0,0,3,0,-12.0,3.0,0.030303,0.000000,0.030303,-0.250000
4,2012-08-14,Liechtenstein,Andorra,1.0,0.0,Friendly,Vaduz,Liechtenstein,False,177.00,...,2.0,0,3,0,-52.0,1.0,0.015000,0.000000,0.015000,-0.019231
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8069,2022-09-27,Norway,Serbia,0.0,2.0,UEFA Nations League,Oslo,Norway,False,1488.57,...,0.0,1,0,3,11.0,-2.0,0.000000,0.083333,-0.083333,-0.181818
8070,2022-09-27,Sweden,Slovenia,1.0,1.0,UEFA Nations League,Stockholm,Sweden,False,1563.44,...,0.0,2,1,1,-45.0,0.0,0.015385,0.050000,-0.034615,-0.000000
8071,2022-09-27,Kosovo,Cyprus,5.0,1.0,UEFA Nations League,Pristina,Kosovo,False,1183.90,...,1.0,0,3,0,-2.0,4.0,0.027778,0.000000,0.027778,-2.000000
8072,2022-09-27,Greece,Northern Ireland,3.0,1.0,UEFA Nations League,Athens,Greece,False,1441.45,...,0.0,0,3,0,-9.0,2.0,0.051724,0.000000,0.051724,-0.222222
8073,2022-09-30,Fiji,Solomon Islands,1.0,0.0,MSG Prime Minister's Cup,Luganville,Vanuatu,True,993.37,...,0.0,0,3,0,26.0,1.0,0.021898,0.000000,0.021898,0.038462

In [31]:
rank1 = rank.copy().replace([np.inf, -np.inf], np.nan)
rank1

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,total_points_home,...,rank_change_away,result,home_team_points,away_team_points,rank_dif,score_dif,points_home_by_rank,points_away_by_rank,relative_point_dif,score_dif_by_rank_dif
0,2012-08-08,Zambia,Zimbabwe,2.0,1.0,Friendly,Ndola,Zambia,False,623.00,...,6.0,0,3,0,-62.0,1.0,0.028302,0.000000,0.028302,-0.016129
1,2012-08-11,El Salvador,Guatemala,1.0,0.0,Friendly,Carson,United States,True,490.00,...,0.0,0,3,0,-24.0,1.0,0.034091,0.000000,0.034091,-0.041667
2,2012-08-13,Jordan,Uzbekistan,0.0,1.0,Friendly,Amman,Jordan,False,425.00,...,-2.0,1,0,3,20.0,-1.0,0.000000,0.036145,-0.036145,-0.050000
3,2012-08-14,Burkina Faso,Togo,3.0,0.0,Friendly,Saint-Leu-la-Forêt,France,True,405.00,...,1.0,0,3,0,-12.0,3.0,0.030303,0.000000,0.030303,-0.250000
4,2012-08-14,Liechtenstein,Andorra,1.0,0.0,Friendly,Vaduz,Liechtenstein,False,177.00,...,2.0,0,3,0,-52.0,1.0,0.015000,0.000000,0.015000,-0.019231
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8069,2022-09-27,Norway,Serbia,0.0,2.0,UEFA Nations League,Oslo,Norway,False,1488.57,...,0.0,1,0,3,11.0,-2.0,0.000000,0.083333,-0.083333,-0.181818
8070,2022-09-27,Sweden,Slovenia,1.0,1.0,UEFA Nations League,Stockholm,Sweden,False,1563.44,...,0.0,2,1,1,-45.0,0.0,0.015385,0.050000,-0.034615,-0.000000
8071,2022-09-27,Kosovo,Cyprus,5.0,1.0,UEFA Nations League,Pristina,Kosovo,False,1183.90,...,1.0,0,3,0,-2.0,4.0,0.027778,0.000000,0.027778,-2.000000
8072,2022-09-27,Greece,Northern Ireland,3.0,1.0,UEFA Nations League,Athens,Greece,False,1441.45,...,0.0,0,3,0,-9.0,2.0,0.051724,0.000000,0.051724,-0.222222
8073,2022-09-30,Fiji,Solomon Islands,1.0,0.0,MSG Prime Minister's Cup,Luganville,Vanuatu,True,993.37,...,0.0,0,3,0,26.0,1.0,0.021898,0.000000,0.021898,0.038462

In [32]:
rank=rank1.dropna()

In [33]:
rank[(rank.home_team == "Brazil") | (rank.away_team == "Brazil")].tail(10)

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,total_points_home,...,rank_change_away,result,home_team_points,away_team_points,rank_dif,score_dif,points_home_by_rank,points_away_by_rank,relative_point_dif,score_dif_by_rank_dif
7266,2021-11-11,Brazil,Colombia,1.0,0.0,FIFA World Cup qualification,São Paulo,Brazil,False,1820.36,...,0.0,0,3,0,-14.0,1.0,0.187500,0.000000,0.187500,-0.071429
7367,2021-11-16,Argentina,Brazil,0.0,0.0,FIFA World Cup qualification,San Juan,Argentina,False,1738.79,...,0.0,2,1,1,4.0,0.0,0.500000,0.166667,0.333333,0.000000
7475,2022-01-27,Ecuador,Brazil,1.0,1.0,FIFA World Cup qualification,Quito,Ecuador,False,1448.27,...,0.0,2,1,1,44.0,0.0,0.500000,0.021739,0.478261,0.000000
7508,2022-02-01,Brazil,Paraguay,4.0,0.0,FIFA World Cup qualification,Belo Horizonte,Brazil,False,1826.35,...,0.0,0,3,0,-41.0,4.0,0.069767,0.000000,0.069767,-0.097561
7549,2022-03-24,Brazil,Chile,4.0,0.0,FIFA World Cup qualification,Rio de Janeiro,Brazil,False,1823.42,...,2.0,0,3,0,-24.0,4.0,0.115385,0.000000,0.115385,-0.166667
7632,2022-03-29,Bolivia,Brazil,0.0,4.0,FIFA World Cup qualification,La Paz,Bolivia,False,1308.12,...,0.0,1,0,3,74.0,-4.0,0.000000,0.039474,-0.039474,-0.054054
7724,2022-06-02,South Korea,Brazil,1.0,5.0,Friendly,Seoul,South Korea,False,1519.54,...,-1.0,1,0,3,28.0,-4.0,0.000000,0.103448,-0.103448,-0.142857
7792,2022-06-06,Japan,Brazil,0.0,1.0,Friendly,Tokyo,Japan,False,1553.44,...,-1.0,1,0,3,22.0,-1.0,0.000000,0.130435,-0.130435,-0.045455
7969,2022-09-23,Brazil,Ghana,3.0,0.0,Friendly,Le Havre,France,True,1837.56,...,0.0,0,3,0,-59.0,3.0,0.050000,0.000000,0.050000,-0.050847
8038,2022-09-27,Brazil,Tunisia,5.0,1.0,Friendly,Paris,France,True,1837.56,...,0.0,0,3,0,-29.0,4.0,0.100000,0.000000,0.100000,-0.137931

In [34]:
home_team = rank[["date", "home_team", "home_score", "away_score", "rank_home", "rank_away","rank_change_home", "total_points_home", "result", "rank_dif", "points_home_by_rank", "home_team_points", "score_dif_by_rank_dif"]]

away_team = rank[["date", "away_team", "away_score", "home_score", "rank_away", "rank_home","rank_change_away", "total_points_away", "result", "rank_dif", "points_away_by_rank", "away_team_points", "score_dif_by_rank_dif"]]

In [35]:
temp_home = home_team.copy()
temp_away = away_team.copy()

temp_home.columns = [h.replace("home_", "").replace("_home", "").replace("away_", "suf_").replace("_away", "_suf") for h in home_team.columns]

temp_away.columns = [a.replace("away_", "").replace("_away", "").replace("home_", "suf_").replace("_home", "_suf") for a in away_team.columns]

In [36]:
team_stats = temp_home.append(temp_away)

In [37]:
team_stats

,date,team,score,suf_score,rank,rank_suf,rank_change,total_points,result,rank_dif,points_by_rank,team_points,score_dif_by_rank_dif
0,2012-08-08,Zambia,2.0,1.0,44.0,106.0,3.0,623.00,0,-62.0,0.028302,3,-0.016129
1,2012-08-11,El Salvador,1.0,0.0,64.0,88.0,-3.0,490.00,0,-24.0,0.034091,3,-0.041667
2,2012-08-13,Jordan,0.0,1.0,83.0,63.0,-1.0,425.00,1,20.0,0.000000,0,-0.050000
3,2012-08-14,Burkina Faso,3.0,0.0,87.0,99.0,0.0,405.00,0,-12.0,0.030303,3,-0.250000
4,2012-08-14,Liechtenstein,1.0,0.0,148.0,200.0,-1.0,177.00,0,-52.0,0.015000,3,-0.019231
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8069,2022-09-27,Serbia,2.0,0.0,25.0,36.0,0.0,1549.53,1,11.0,0.083333,3,-0.181818
8070,2022-09-27,Slovenia,1.0,1.0,65.0,20.0,0.0,1372.48,2,-45.0,0.050000,1,-0.000000
8071,2022-09-27,Cyprus,1.0,5.0,108.0,106.0,1.0,1180.52,0,-2.0,0.000000,0,-2.000000
8072,2022-09-27,Northern Ireland,1.0,3.0,58.0,49.0,0.0,1399.10,0,-9.0,0.000000,0,-0.222222
8073,2022-09-30,Solomon Islands,0.0,1.0,137.0,163.0,0.0,1092.56,0,26.0,0.000000,0,0.038462

In [38]:
stats_val = []

for index, row in team_stats.iterrows():
    team = row["team"]
    date = row["date"]
    past_games = team_stats.loc[(team_stats["team"] == team) & (team_stats["date"] < date)].sort_values(by=['date'], ascending=False)
    last10 = past_games.head(10)
    last5 = past_games.head(5)
    last3 = past_games.head(3)
    
    goals = past_games["score"].mean()
    goals_10 = last10["score"].mean()
    goals_5 = last5["score"].mean()
    goals_3 = last3["score"].mean()
    
    goals_suf = past_games["suf_score"].mean()
    goals_suf_10 = last10["suf_score"].mean()
    goals_suf_5 = last5["suf_score"].mean()
    goals_suf_3 = last3["suf_score"].mean()
    
    ranks = past_games["rank_suf"].mean()
    ranks_10 = last10["rank_suf"].mean()
    ranks_5 = last5["rank_suf"].mean()
    ranks_3 = last3["rank_suf"].mean()
    
    if len(last10) > 0:
        points = past_games["total_points"].values[0] - past_games["total_points"].values[-1]
        points_10 = last10["total_points"].values[0] - last10["total_points"].values[-1] 
        points_5 = last5["total_points"].values[0] - last5["total_points"].values[-1] 
        points_3 = last3["total_points"].values[0] - last3["total_points"].values[-1] 
    else:
        points = 0
        points_10 = 0
        points_5 = 0
        points_3 = 0
        
    tpoints = past_games["team_points"].mean()
    tpoints_10 = last10["team_points"].mean()
    tpoints_5 = last5["team_points"].mean()
    tpoints_3 = last3["team_points"].mean()
    
    points_rank = past_games["points_by_rank"].mean()
    points_rank_10 = last10["points_by_rank"].mean()
    points_rank_5 = last5["points_by_rank"].mean()
    points_rank_3 = last3["points_by_rank"].mean()
    
    score_rank = past_games["score_dif_by_rank_dif"].mean()
    score_rank_10 = last10["score_dif_by_rank_dif"].mean()
    score_rank_5 = last5["score_dif_by_rank_dif"].mean()
    score_rank_3 = last3["score_dif_by_rank_dif"].mean()

    stats_val.append([goals, goals_10,goals_5,goals_3, goals_suf, goals_suf_10, goals_suf_5,goals_suf_3,
                      ranks, ranks_10, ranks_5,ranks_3,points, points_10,points_5, points_3,  
                      tpoints, tpoints_10, tpoints_5,tpoints_3,
                      points_rank, points_rank_10, points_rank_5,points_rank_3,
                      score_rank, score_rank_10,score_rank_5, score_rank_3 ])

In [39]:
stats_cols = ["goals_mean", "goals_mean_10", "goals_mean_5","goals_mean_3","goals_suf_mean", "goals_suf_mean_10","goals_suf_mean_5","goals_suf_mean_3", "rank_mean", "rank_mean_10","rank_mean_5", "rank_mean_3",  "points_mean", "points_mean_10","points_mean_5","points_mean_3", "tpoints_mean", "tpoints_mean_10", "tpoints_mean_5","tpoints_mean_3","points_rank_mean", "points_rank_mean_10", "points_rank_mean_5","points_rank_mean_3","score_rank", "score_rank_10", "score_rank_5", "score_rank_3"]

stats_df = pd.DataFrame(stats_val, columns=stats_cols)

full_df = pd.concat([team_stats.reset_index(drop=True), stats_df], axis=1, ignore_index=False)

In [40]:
home_team_stats = full_df.iloc[:int(full_df.shape[0]/2),:]
away_team_stats = full_df.iloc[int(full_df.shape[0]/2):,:]

In [41]:
home_team_stats

,date,team,score,suf_score,rank,rank_suf,rank_change,total_points,result,rank_dif,...,tpoints_mean_5,tpoints_mean_3,points_rank_mean,points_rank_mean_10,points_rank_mean_5,points_rank_mean_3,score_rank,score_rank_10,score_rank_5,score_rank_3
0,2012-08-08,Zambia,2.0,1.0,44.0,106.0,3.0,623.00,0,-62.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2012-08-11,El Salvador,1.0,0.0,64.0,88.0,-3.0,490.00,0,-24.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2012-08-13,Jordan,0.0,1.0,83.0,63.0,-1.0,425.00,1,20.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2012-08-14,Burkina Faso,3.0,0.0,87.0,99.0,0.0,405.00,0,-12.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2012-08-14,Liechtenstein,1.0,0.0,148.0,200.0,-1.0,177.00,0,-52.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8058,2022-09-27,Norway,0.0,2.0,36.0,25.0,0.0,1488.57,1,11.0,...,2.0,1.333333,0.034239,0.059861,0.090235,0.057760,0.007019,-0.214302,0.037578,0.026646
8059,2022-09-27,Sweden,1.0,1.0,20.0,65.0,0.0,1563.44,2,-45.0,...,0.6,0.000000,0.056907,0.020815,0.009231,0.000000,-0.019010,0.077937,0.162819,0.270707
8060,2022-09-27,Kosovo,5.0,1.0,106.0,108.0,0.0,1183.90,0,-2.0,...,1.2,1.000000,0.017072,0.023040,0.016825,0.018519,0.003087,0.087080,0.188068,-0.013476
8061,2022-09-27,Greece,3.0,1.0,49.0,58.0,1.0,1441.45,0,-9.0,...,2.4,2.000000,0.044972,0.021288,0.028040,0.018870,0.001460,0.098665,0.179851,-0.027171
8062,2022-09-30,Fiji,1.0,0.0,163.0,137.0,0.0,993.37,0,26.0,...,1.4,1.333333,0.006985,0.007694,0.008868,0.008683,-0.080232,-0.038399,-0.066667,-0.055556

In [42]:
home_team_stats.columns[-28:]

Index(['goals_mean', 'goals_mean_10', 'goals_mean_5', 'goals_mean_3',
       'goals_suf_mean', 'goals_suf_mean_10', 'goals_suf_mean_5',
       'goals_suf_mean_3', 'rank_mean', 'rank_mean_10', 'rank_mean_5',
       'rank_mean_3', 'points_mean', 'points_mean_10', 'points_mean_5',
       'points_mean_3', 'tpoints_mean', 'tpoints_mean_10', 'tpoints_mean_5',
       'tpoints_mean_3', 'points_rank_mean', 'points_rank_mean_10',
       'points_rank_mean_5', 'points_rank_mean_3', 'score_rank',
       'score_rank_10', 'score_rank_5', 'score_rank_3'],
      dtype='object')

In [43]:
home_team_stats = home_team_stats[home_team_stats.columns[-28:]]
away_team_stats = away_team_stats[away_team_stats.columns[-28:]]

In [44]:
home_team_stats.columns = ['home_'+str(col) for col in home_team_stats.columns]
away_team_stats.columns = ['away_'+str(col) for col in away_team_stats.columns]

In [45]:
match_stats = pd.concat([home_team_stats, away_team_stats.reset_index(drop=True)], axis=1, ignore_index=False)

In [46]:
full_df = pd.concat([rank, match_stats.reset_index(drop=True)], axis=1, ignore_index=False)

In [47]:
full_df.columns

Index(['date', 'home_team', 'away_team', 'home_score', 'away_score',
       'tournament', 'city', 'country', 'neutral', 'total_points_home',
       'previous_points_home', 'rank_home', 'rank_change_home',
       'total_points_away', 'previous_points_away', 'rank_away',
       'rank_change_away', 'result', 'home_team_points', 'away_team_points',
       'rank_dif', 'score_dif', 'points_home_by_rank', 'points_away_by_rank',
       'relative_point_dif', 'score_dif_by_rank_dif', 'home_goals_mean',
       'home_goals_mean_10', 'home_goals_mean_5', 'home_goals_mean_3',
       'home_goals_suf_mean', 'home_goals_suf_mean_10',
       'home_goals_suf_mean_5', 'home_goals_suf_mean_3', 'home_rank_mean',
       'home_rank_mean_10', 'home_rank_mean_5', 'home_rank_mean_3',
       'home_points_mean', 'home_points_mean_10', 'home_points_mean_5',
       'home_points_mean_3', 'home_tpoints_mean', 'home_tpoints_mean_10',
       'home_tpoints_mean_5', 'home_tpoints_mean_3', 'home_points_rank_mean',
       'home_points_rank_mean_10', 'home_points_rank_mean_5',
       'home_points_rank_mean_3', 'home_score_rank', 'home_score_rank_10',
       'home_score_rank_5', 'home_score_rank_3', 'away_goals_mean',
       'away_goals_mean_10', 'away_goals_mean_5', 'away_goals_mean_3',
       'away_goals_suf_mean', 'away_goals_suf_mean_10',
       'away_goals_suf_mean_5', 'away_goals_suf_mean_3', 'away_rank_mean',
       'away_rank_mean_10', 'away_rank_mean_5', 'away_rank_mean_3',
       'away_points_mean', 'away_points_mean_10', 'away_points_mean_5',
       'away_points_mean_3', 'away_tpoints_mean', 'away_tpoints_mean_10',
       'away_tpoints_mean_5', 'away_tpoints_mean_3', 'away_points_rank_mean',
       'away_points_rank_mean_10', 'away_points_rank_mean_5',
       'away_points_rank_mean_3', 'away_score_rank', 'away_score_rank_10',
       'away_score_rank_5', 'away_score_rank_3'],
      dtype='object')

In [48]:
data=full_df[["date", "home_team", "away_team", "rank_home", "rank_away","home_score", "away_score","result", 
        "rank_dif", "rank_change_home", "rank_change_away", 'home_goals_mean',
       'home_goals_mean_10','home_goals_mean_5','home_goals_mean_3', 'home_goals_suf_mean', 'home_goals_suf_mean_10',
       'home_goals_suf_mean_5','home_goals_suf_mean_3','home_rank_mean', 'home_rank_mean_10', 'home_rank_mean_5','home_rank_mean_3',
        'home_points_mean','home_points_mean_10', 'home_points_mean_5','home_points_mean_3',
        'away_goals_mean', 'away_goals_mean_10','away_goals_mean_5','away_goals_mean_3',
       'away_goals_suf_mean', 'away_goals_suf_mean_10', 'away_goals_suf_mean_5','away_goals_suf_mean_3',
        'away_rank_mean','away_rank_mean_10', 'away_rank_mean_5','away_rank_mean_3',
        'away_points_mean', 'away_points_mean_10','away_points_mean_5','away_points_mean_3',
        'home_tpoints_mean', 'home_tpoints_mean_10','home_tpoints_mean_5','home_tpoints_mean_3',
       'home_points_rank_mean', 'home_points_rank_mean_10','home_points_rank_mean_5','home_points_rank_mean_3',
        'away_tpoints_mean','away_tpoints_mean_10', 'away_tpoints_mean_5','away_tpoints_mean_3',
        'away_points_rank_mean','away_points_rank_mean_10','away_points_rank_mean_5','away_points_rank_mean_3',
        'away_score_rank', 'away_score_rank_10','away_score_rank_5','away_score_rank_3']]

In [49]:
data.isna().sum()

date                        11
home_team                   11
away_team                   11
rank_home                   11
rank_away                   11
                          ...
away_points_rank_mean_3    122
away_score_rank            122
away_score_rank_10         122
away_score_rank_5          122
away_score_rank_3          122
Length: 63, dtype: int64

In [50]:
data = data.dropna()

In [51]:
data

,date,home_team,away_team,rank_home,rank_away,home_score,away_score,result,rank_dif,rank_change_home,...,away_tpoints_mean_5,away_tpoints_mean_3,away_points_rank_mean,away_points_rank_mean_10,away_points_rank_mean_5,away_points_rank_mean_3,away_score_rank,away_score_rank_10,away_score_rank_5,away_score_rank_3
31,2012-08-15,Jordan,Uzbekistan,83.0,63.0,2.0,0.0,0.0,20.0,-1.0,...,3.0,3.000000,0.036145,0.036145,0.036145,0.036145,-0.050000,-0.050000,-0.050000,-0.050000
53,2012-08-25,India,Maldives,168.0,161.0,3.0,0.0,0.0,7.0,5.0,...,3.0,3.000000,0.018519,0.018519,0.018519,0.018519,-1.000000,-1.000000,-1.000000,-1.000000
56,2012-08-26,Nepal,Cameroon,162.0,59.0,0.0,5.0,1.0,103.0,7.0,...,1.0,1.000000,0.006803,0.006803,0.006803,0.006803,0.000000,0.000000,0.000000,0.000000
57,2012-08-27,Maldives,Syria,161.0,147.0,2.0,1.0,0.0,14.0,-3.0,...,0.5,0.500000,0.008475,0.008475,0.008475,0.008475,0.023810,0.023810,0.023810,0.023810
58,2012-08-28,India,Nepal,168.0,162.0,0.0,0.0,2.0,6.0,5.0,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,-0.524272,-0.524272,-0.524272,-0.524272
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8058,2022-09-27,Peru,El Salvador,21.0,71.0,4.0,1.0,0.0,-50.0,0.0,...,2.0,2.333333,0.044942,0.090846,0.073887,0.107760,-0.064257,0.035004,0.150833,0.255556
8059,2022-09-27,Qatar,Chile,48.0,29.0,2.0,2.0,2.0,19.0,-1.0,...,1.0,1.666667,0.026638,0.028775,0.029545,0.049241,-0.044968,-0.014667,-0.016799,0.011494
8060,2022-09-27,Saudi Arabia,United States,53.0,14.0,0.0,0.0,2.0,39.0,0.0,...,1.0,1.333333,0.011303,0.014185,0.019652,0.026581,-0.043608,-0.115441,0.191390,-0.014350
8061,2022-09-27,South Africa,Botswana,68.0,146.0,1.0,0.0,0.0,-78.0,0.0,...,1.0,1.333333,0.030862,0.035183,0.009470,0.012609,-0.010585,0.090032,0.199607,-0.000655
8062,2022-09-27,United Arab Emirates,Venezuela,69.0,56.0,0.0,4.0,1.0,13.0,0.0,...,2.0,1.333333,0.007543,0.009950,0.012387,0.008295,-0.040079,-0.036756,-0.073179,-0.068256

In [52]:
data.iloc[:,7]

31      0.0
53      0.0
56      1.0
57      0.0
58      2.0
       ...
8058    0.0
8059    2.0
8060    2.0
8061    0.0
8062    1.0
Name: result, Length: 7915, dtype: float64

In [54]:
X=data.iloc[:,8:]

In [55]:
y=data['result']

In [56]:
y # win 0 lose 1 draw 2

31      0.0
53      0.0
56      1.0
57      0.0
58      2.0
       ...
8058    0.0
8059    2.0
8060    2.0
8061    0.0
8062    1.0
Name: result, Length: 7915, dtype: float64

In [57]:
y_nodraw = pd.DataFrame()

def no_draw(x):
    if x == 2:
        return 1
    else:
        return x
    
y_nodraw["result"] = data["result"].apply(lambda x: no_draw(x))

In [58]:
X

,rank_dif,rank_change_home,rank_change_away,home_goals_mean,home_goals_mean_10,home_goals_mean_5,home_goals_mean_3,home_goals_suf_mean,home_goals_suf_mean_10,home_goals_suf_mean_5,...,away_tpoints_mean_5,away_tpoints_mean_3,away_points_rank_mean,away_points_rank_mean_10,away_points_rank_mean_5,away_points_rank_mean_3,away_score_rank,away_score_rank_10,away_score_rank_5,away_score_rank_3
31,20.0,-1.0,-2.0,0.000000,0.0,0.0,0.000000,1.000000,1.0,1.0,...,3.0,3.000000,0.036145,0.036145,0.036145,0.036145,-0.050000,-0.050000,-0.050000,-0.050000
53,7.0,5.0,-3.0,2.000000,2.0,2.0,2.000000,1.000000,1.0,1.0,...,3.0,3.000000,0.018519,0.018519,0.018519,0.018519,-1.000000,-1.000000,-1.000000,-1.000000
56,103.0,7.0,0.0,1.000000,1.0,1.0,1.000000,2.000000,2.0,2.0,...,1.0,1.000000,0.006803,0.006803,0.006803,0.006803,0.000000,0.000000,0.000000,0.000000
57,14.0,-3.0,15.0,1.000000,1.0,1.0,1.000000,2.000000,2.0,2.0,...,0.5,0.500000,0.008475,0.008475,0.008475,0.008475,0.023810,0.023810,0.023810,0.023810
58,6.0,5.0,7.0,2.500000,2.5,2.5,2.500000,0.500000,0.5,0.5,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,-0.524272,-0.524272,-0.524272,-0.524272
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8058,-50.0,0.0,0.0,1.407767,2.0,1.4,1.333333,1.145631,0.7,1.0,...,2.0,2.333333,0.044942,0.090846,0.073887,0.107760,-0.064257,0.035004,0.150833,0.255556
8059,19.0,-1.0,0.0,1.476190,0.9,1.2,1.000000,1.063492,1.5,2.0,...,1.0,1.666667,0.026638,0.028775,0.029545,0.049241,-0.044968,-0.014667,-0.016799,0.011494
8060,39.0,0.0,0.0,1.316667,1.4,1.2,1.333333,1.450000,1.3,1.4,...,1.0,1.333333,0.011303,0.014185,0.019652,0.026581,-0.043608,-0.115441,0.191390,-0.014350
8061,-78.0,0.0,-3.0,0.990000,0.9,1.4,1.666667,0.920000,0.6,0.2,...,1.0,1.333333,0.030862,0.035183,0.009470,0.012609,-0.010585,0.090032,0.199607,-0.000655
8062,13.0,0.0,0.0,1.461538,1.3,1.2,1.000000,1.307692,1.7,1.2,...,2.0,1.333333,0.007543,0.009950,0.012387,0.008295,-0.040079,-0.036756,-0.073179,-0.068256

In [59]:
y_nodraw

      result
31       0.0
53       0.0
56       1.0
57       0.0
58       1.0
...      ...
8058     0.0
8059     1.0
8060     1.0
8061     0.0
8062     1.0

[7915 rows x 1 columns]

In [60]:
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier

In [61]:
len(X)

7915

In [62]:
len(y)

7915

In [63]:
len(y_nodraw)

7915

In [64]:
X_train, X_rem, y_train, y_rem = train_test_split(X, y, train_size=0.7)
X_valid, X_test, y_valid, y_test = train_test_split(X_rem,y_rem, test_size=0.5)

X_train2, X_rem2, y_train2, y_rem2 =train_test_split(X, y_nodraw, train_size=0.7)
X_valid2, X_test2, y_valid2, y_test2 = train_test_split(X_rem2,y_rem2, test_size=0.5)

In [65]:
from sklearn.preprocessing import RobustScaler

scaler = RobustScaler()

X_train = scaler.fit_transform(X_train)
X_valid = scaler.transform(X_valid)
X_test = scaler.transform(X_test)

X_train2 = scaler.fit_transform(X_train2)
X_valid2 = scaler.transform(X_valid2)
X_test2 = scaler.transform(X_test2)

In [66]:
gb = GradientBoostingClassifier(random_state=42)

params = {"learning_rate": [0.01, 0.1, 0.5],
            "min_samples_split": [5, 10],
            "min_samples_leaf": [3, 5],
            "max_depth":[3,5,10],
            "max_features":["sqrt"],
            "n_estimators":[100, 200]
         } 

gb_cv = GridSearchCV(gb, params, cv = 3, n_jobs = -1, verbose = False)

gb_cv.fit(X_train, y_train)

GridSearchCV(cv=3, estimator=GradientBoostingClassifier(random_state=42),
             n_jobs=-1,
             param_grid={'learning_rate': [0.01, 0.1, 0.5],
                         'max_depth': [3, 5, 10], 'max_features': ['sqrt'],
                         'min_samples_leaf': [3, 5],
                         'min_samples_split': [5, 10],
                         'n_estimators': [100, 200]},
             verbose=False)

In [67]:
gb = gb_cv.best_estimator_

In [68]:
gb

GradientBoostingClassifier(learning_rate=0.01, max_depth=10,
                           max_features='sqrt', min_samples_leaf=3,
                           min_samples_split=10, n_estimators=200,
                           random_state=42)

In [69]:
gb2 = gb_cv.fit(X_train2, y_train2)

/usr/local/lib/python3.8/dist-packages/sklearn/ensemble/_gb.py:494: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [70]:
from sklearn.metrics import precision_score, recall_score, f1_score, accuracy_score, confusion_matrix, roc_curve, roc_auc_score

In [71]:
gb_valid_pred=gb.predict(X_valid)
precision_score(y_valid, gb_valid_pred, average='macro')

0.45869127283464245

In [72]:
gb_valid_pred2 = gb2.predict(X_valid2)
precision_score(y_valid2, gb_valid_pred2, average='macro')

0.6562065972222222

In [73]:
accuracy_score(y_valid, gb_valid_pred)

0.5636057287278854

In [74]:
accuracy_score(y_valid2, gb_valid_pred2)

0.6545914069081719

In [75]:
confusion_matrix(y_valid, gb_valid_pred)

array([[519,  54,  10],
       [176, 144,   7],
       [200,  71,   6]])

In [76]:
confusion_matrix(y_valid2, gb_valid_pred2)

array([[342, 240],
       [170, 435]])

In [77]:
params_rf = {"max_depth": [20],
                "min_samples_split": [10],
                "max_leaf_nodes": [175],
                "min_samples_leaf": [5],
                "n_estimators": [250],
                 "max_features": ["sqrt"],
                }

rf = RandomForestClassifier(random_state=42)

rf_cv = GridSearchCV(rf, params_rf, cv = 3, n_jobs = -1, verbose = False)

rf_cv.fit(X_train, y_train)

GridSearchCV(cv=3, estimator=RandomForestClassifier(random_state=42), n_jobs=-1,
             param_grid={'max_depth': [20], 'max_features': ['sqrt'],
                         'max_leaf_nodes': [175], 'min_samples_leaf': [5],
                         'min_samples_split': [10], 'n_estimators': [250]},
             verbose=False)

In [78]:
rf = rf_cv.best_estimator_

In [79]:
rf

RandomForestClassifier(max_depth=20, max_features='sqrt', max_leaf_nodes=175,
                       min_samples_leaf=5, min_samples_split=10,
                       n_estimators=250, random_state=42)

In [80]:
rf2 = rf_cv.fit(X_train2, y_train2)

/usr/local/lib/python3.8/dist-packages/sklearn/model_selection/_search.py:926: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

In [81]:
rf_valid_pred=rf.predict(X_valid)
precision_score(y_valid, rf_valid_pred, average='macro')

0.4489853221143314

In [82]:
rf_valid_pred2=rf2.predict(X_valid2)
precision_score(y_valid2, rf_valid_pred2, average='macro')

0.6600102977773964

In [83]:
accuracy_score(y_valid, rf_valid_pred)

0.556866048862679

In [84]:
accuracy_score(y_valid2, rf_valid_pred2)

0.6596461668070767

In [85]:
confusion_matrix(y_valid, rf_valid_pred)

array([[501,  78,   4],
       [166, 157,   4],
       [187,  87,   3]])

In [86]:
confusion_matrix(y_valid2, rf_valid_pred2)

array([[360, 222],
       [182, 423]])

In [87]:
lr = LogisticRegression()
lr.fit(X_train, y_train)

lr_valid_pred = lr.predict(X_valid)
precision_score(y_valid, lr_valid_pred, average='macro')

/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.4190296284812038

In [88]:
lr2 = LogisticRegression()
lr2.fit(X_train2, y_train2)

lr_valid_pred2 = lr2.predict(X_valid2)
precision_score(y_valid2, lr_valid_pred2, average='macro')

/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.6542930451235595

In [89]:
accuracy_score(y_valid, lr_valid_pred)

0.5551811288963774

In [90]:
accuracy_score(y_valid2, lr_valid_pred2)

0.6537489469250211

In [91]:
confusion_matrix(y_valid, lr_valid_pred)

array([[499,  58,  26],
       [161, 154,  12],
       [197,  74,   6]])

In [92]:
confusion_matrix(y_valid2, lr_valid_pred2)

array([[353, 229],
       [182, 423]])

In [93]:
nb = GaussianNB()
nb2 = GaussianNB()

In [94]:
nb.fit(X_train, y_train)

nb_valid_pred = nb.predict(X_valid)
precision_score(y_valid, nb_valid_pred, average='macro')

0.4069029805000925

In [95]:
nb2.fit(X_train2, y_train2)

nb_valid_pred2 = nb2.predict(X_valid2)
precision_score(y_valid2, nb_valid_pred2, average='macro')

/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.6050321997381753

In [96]:
accuracy_score(y_valid, nb_valid_pred)

0.4911541701769166

In [97]:
accuracy_score(y_valid2, nb_valid_pred2)

0.5998315080033698

In [98]:
confusion_matrix(y_valid, nb_valid_pred)

array([[403, 132,  48],
       [148, 158,  21],
       [166,  89,  22]])

In [99]:
confusion_matrix(y_valid2, nb_valid_pred2)

array([[404, 178],
       [297, 308]])

In [100]:
knn = KNeighborsClassifier()
knn2 = KNeighborsClassifier()

In [101]:
knn.fit(X_train, y_train)

knn_valid_pred = knn.predict(X_valid)
precision_score(y_valid, knn_valid_pred, average='macro')

0.35505876346819215

In [102]:
knn2.fit(X_train2, y_train2)

knn_valid_pred2 = knn2.predict(X_valid2)
precision_score(y_valid2, knn_valid_pred2, average='macro')

/usr/local/lib/python3.8/dist-packages/sklearn/neighbors/_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

0.564938928459052

In [103]:
accuracy_score(y_valid, knn_valid_pred)

0.44566133108677336

In [104]:
accuracy_score(y_valid2, knn_valid_pred2)

0.565290648694187

In [105]:
confusion_matrix(y_valid, knn_valid_pred)

array([[431,  98,  54],
       [219,  62,  46],
       [181,  60,  36]])

In [106]:
confusion_matrix(y_valid2, knn_valid_pred2)

array([[304, 278],
       [238, 367]])

In [107]:
from sklearn.ensemble import VotingClassifier

In [108]:
voting = VotingClassifier(
    estimators=[('lr', lr), ('rf',rf), ('nb', nb), ('knn', knn), ('gb', gb)], voting='soft')
voting.fit(X_train, y_train)

/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

VotingClassifier(estimators=[('lr', LogisticRegression()),
                             ('rf',
                              RandomForestClassifier(max_depth=20,
                                                     max_features='sqrt',
                                                     max_leaf_nodes=175,
                                                     min_samples_leaf=5,
                                                     min_samples_split=10,
                                                     n_estimators=250,
                                                     random_state=42)),
                             ('nb', GaussianNB()),
                             ('knn', KNeighborsClassifier()),
                             ('gb',
                              GradientBoostingClassifier(learning_rate=0.01,
                                                         max_depth=10,
                                                         max_features='sqrt',
                                                         min_samples_leaf=3,
                                                         min_samples_split=10,
                                                         n_estimators=200,
                                                         random_state=42))],
                 voting='soft')

In [109]:
voting2 = VotingClassifier(
    estimators=[('lr', lr2), ('rf',rf2), ('nb', nb2), ('knn', knn2), ('gb', gb2)], voting='soft')
voting2.fit(X_train2, y_train2)

/usr/local/lib/python3.8/dist-packages/sklearn/preprocessing/_label.py:98: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.8/dist-packages/sklearn/preprocessing/_label.py:133: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

VotingClassifier(estimators=[('lr', LogisticRegression()),
                             ('rf',
                              GridSearchCV(cv=3,
                                           estimator=RandomForestClassifier(random_state=42),
                                           n_jobs=-1,
                                           param_grid={'max_depth': [20],
                                                       'max_features': ['sqrt'],
                                                       'max_leaf_nodes': [175],
                                                       'min_samples_leaf': [5],
                                                       'min_samples_split': [10],
                                                       'n_estimators': [250]},
                                           verbose=False)),
                             ('nb', GaussianNB()),
                             ('knn', KNeighborsClassifier()),
                             ('gb',
                              GridSearchCV(cv=3,
                                           estimator=GradientBoostingClassifier(random_state=42),
                                           n_jobs=-1,
                                           param_grid={'learning_rate': [0.01,
                                                                         0.1,
                                                                         0.5],
                                                       'max_depth': [3, 5, 10],
                                                       'max_features': ['sqrt'],
                                                       'min_samples_leaf': [3,
                                                                            5],
                                                       'min_samples_split': [5,
                                                                             10],
                                                       'n_estimators': [100,
                                                                        200]},
                                           verbose=False))],
                 voting='soft')

In [110]:
voting_valid_pred = voting.predict(X_valid)
accuracy_score(y_valid, voting_valid_pred)

0.540016849199663

In [111]:
voting_valid_pred2 = voting2.predict(X_valid2)
accuracy_score(y_valid2, voting_valid_pred2)

0.6436394271272114

In [112]:
precision_score(y_valid, voting_valid_pred, average='macro')

0.4533361136290579

In [113]:
precision_score(y_valid2, voting_valid_pred2, average='macro')

0.6434783473969112

In [114]:
confusion_matrix(y_valid, voting_valid_pred)

array([[492,  75,  16],
       [180, 138,   9],
       [196,  70,  11]])

In [115]:
confusion_matrix(y_valid2, voting_valid_pred2)

array([[365, 217],
       [206, 399]])

In [116]:
import keras

In [117]:
X_train.shape

(5540, 55)

In [139]:
model = keras.models.Sequential([
    keras.layers.Flatten(input_shape=[55]),
    keras.layers.Dense(300, activation='relu'),
    keras.layers.Dense(100, activation='relu'),
    keras.layers.Dense(3, activation='softmax')
])

In [140]:
model.compile(loss='sparse_categorical_crossentropy',
              optimizer='sgd',
              metrics=['accuracy'])

In [141]:
model.fit(X_train, y_train, epochs=30, validation_data=(X_valid, y_valid))

Epoch 1/30
174/174 [==============================] - 1s 3ms/step - loss: 1.0888 - accuracy: 0.4569 - val_loss: 1.0291 - val_accuracy: 0.4844
Epoch 2/30
174/174 [==============================] - 0s 3ms/step - loss: 1.0177 - accuracy: 0.5193 - val_loss: 1.0294 - val_accuracy: 0.4945
Epoch 3/30
174/174 [==============================] - 0s 3ms/step - loss: 0.9743 - accuracy: 0.5458 - val_loss: 0.9941 - val_accuracy: 0.5341
Epoch 4/30
174/174 [==============================] - 0s 3ms/step - loss: 0.9451 - accuracy: 0.5601 - val_loss: 0.9813 - val_accuracy: 0.5350
Epoch 5/30
174/174 [==============================] - 0s 3ms/step - loss: 0.9282 - accuracy: 0.5675 - val_loss: 0.9880 - val_accuracy: 0.5173
Epoch 6/30
174/174 [==============================] - 0s 3ms/step - loss: 0.9125 - accuracy: 0.5747 - val_loss: 0.9883 - val_accuracy: 0.5257
Epoch 7/30
174/174 [==============================] - 1s 3ms/step - loss: 0.9038 - accuracy: 0.5856 - val_loss: 1.1236 - val_accuracy: 0.5173
Epoch 8/30
174/174 [==============================] - 1s 3ms/step - loss: 0.9000 - accuracy: 0.5841 - val_loss: 0.9655 - val_accuracy: 0.5476
Epoch 9/30
174/174 [==============================] - 1s 4ms/step - loss: 0.8863 - accuracy: 0.5895 - val_loss: 1.0314 - val_accuracy: 0.5097
Epoch 10/30
174/174 [==============================] - 1s 4ms/step - loss: 0.8784 - accuracy: 0.5958 - val_loss: 0.9878 - val_accuracy: 0.5476
Epoch 11/30
174/174 [==============================] - 1s 4ms/step - loss: 0.8697 - accuracy: 0.5998 - val_loss: 0.9714 - val_accuracy: 0.5350
Epoch 12/30
174/174 [==============================] - 1s 4ms/step - loss: 0.8659 - accuracy: 0.6034 - val_loss: 0.9776 - val_accuracy: 0.5358
Epoch 13/30
174/174 [==============================] - 1s 4ms/step - loss: 0.8611 - accuracy: 0.6069 - val_loss: 0.9979 - val_accuracy: 0.5425
Epoch 14/30
174/174 [==============================] - 0s 3ms/step - loss: 0.8551 - accuracy: 0.6103 - val_loss: 0.9966 - val_accuracy: 0.5484
Epoch 15/30
174/174 [==============================] - 0s 3ms/step - loss: 0.8523 - accuracy: 0.6088 - val_loss: 0.9890 - val_accuracy: 0.5341
Epoch 16/30
174/174 [==============================] - 0s 3ms/step - loss: 0.8463 - accuracy: 0.6191 - val_loss: 0.9773 - val_accuracy: 0.5468
Epoch 17/30
174/174 [==============================] - 0s 3ms/step - loss: 0.8417 - accuracy: 0.6164 - val_loss: 1.1803 - val_accuracy: 0.5383
Epoch 18/30
174/174 [==============================] - 0s 3ms/step - loss: 0.8422 - accuracy: 0.6197 - val_loss: 1.0014 - val_accuracy: 0.5375
Epoch 19/30
174/174 [==============================] - 0s 3ms/step - loss: 0.8336 - accuracy: 0.6213 - val_loss: 0.9866 - val_accuracy: 0.5307
Epoch 20/30
174/174 [==============================] - 0s 2ms/step - loss: 0.8273 - accuracy: 0.6274 - val_loss: 1.0056 - val_accuracy: 0.5257
Epoch 21/30
174/174 [==============================] - 0s 2ms/step - loss: 0.8224 - accuracy: 0.6301 - val_loss: 0.9972 - val_accuracy: 0.5324
Epoch 22/30
174/174 [==============================] - 1s 4ms/step - loss: 0.8158 - accuracy: 0.6334 - val_loss: 1.0115 - val_accuracy: 0.5358
Epoch 23/30
174/174 [==============================] - 1s 3ms/step - loss: 0.8155 - accuracy: 0.6329 - val_loss: 1.0794 - val_accuracy: 0.5122
Epoch 24/30
174/174 [==============================] - 0s 3ms/step - loss: 0.8142 - accuracy: 0.6345 - val_loss: 0.9982 - val_accuracy: 0.5333
Epoch 25/30
174/174 [==============================] - 0s 2ms/step - loss: 0.8066 - accuracy: 0.6408 - val_loss: 1.0190 - val_accuracy: 0.5316
Epoch 26/30
174/174 [==============================] - 0s 2ms/step - loss: 0.8021 - accuracy: 0.6422 - val_loss: 0.9952 - val_accuracy: 0.5468
Epoch 27/30
174/174 [==============================] - 0s 3ms/step - loss: 0.7970 - accuracy: 0.6406 - val_loss: 0.9908 - val_accuracy: 0.5535
Epoch 28/30
174/174 [==============================] - 0s 3ms/step - loss: 0.7926 - accuracy: 0.6449 - val_loss: 1.0123 - val_accuracy: 0.5249
Epoch 29/30
174/174 [==============================] - 0s 3ms/step - loss: 0.7862 - accuracy: 0.6498 - val_loss: 1.2176 - val_accuracy: 0.5316
Epoch 30/30
174/174 [==============================] - 0s 3ms/step - loss: 0.7998 - accuracy: 0.6449 - val_loss: 1.0244 - val_accuracy: 0.5190

In [145]:
model2 = keras.models.Sequential([
    keras.layers.Flatten(input_shape=[55]),
    keras.layers.Dense(300, activation='relu'),
    keras.layers.Dense(100, activation='relu'),
    keras.layers.Dense(1, activation='sigmoid')
])

In [146]:
model2.compile(loss='binary_crossentropy',
              optimizer='sgd',
              metrics=['accuracy'])

In [147]:
model2.fit(X_train2, y_train2, epochs=30, validation_data=(X_valid2, y_valid2))

Epoch 1/30
174/174 [==============================] - 2s 5ms/step - loss: 0.6846 - accuracy: 0.5810 - val_loss: 0.6902 - val_accuracy: 0.5729
Epoch 2/30
174/174 [==============================] - 1s 4ms/step - loss: 0.6510 - accuracy: 0.6334 - val_loss: 0.6601 - val_accuracy: 0.6116
Epoch 3/30
174/174 [==============================] - 1s 4ms/step - loss: 0.6248 - accuracy: 0.6605 - val_loss: 0.6549 - val_accuracy: 0.6158
Epoch 4/30
174/174 [==============================] - 1s 3ms/step - loss: 0.6064 - accuracy: 0.6783 - val_loss: 0.6342 - val_accuracy: 0.6327
Epoch 5/30
174/174 [==============================] - 1s 3ms/step - loss: 0.5961 - accuracy: 0.6839 - val_loss: 0.6992 - val_accuracy: 0.6032
Epoch 6/30
174/174 [==============================] - 0s 3ms/step - loss: 0.5895 - accuracy: 0.6854 - val_loss: 0.6591 - val_accuracy: 0.6209
Epoch 7/30
174/174 [==============================] - 1s 3ms/step - loss: 0.5790 - accuracy: 0.6940 - val_loss: 0.6780 - val_accuracy: 0.6428
Epoch 8/30
174/174 [==============================] - 0s 3ms/step - loss: 0.5750 - accuracy: 0.6982 - val_loss: 0.6403 - val_accuracy: 0.6285
Epoch 9/30
174/174 [==============================] - 1s 4ms/step - loss: 0.5655 - accuracy: 0.7011 - val_loss: 0.6350 - val_accuracy: 0.6302
Epoch 10/30
174/174 [==============================] - 0s 3ms/step - loss: 0.5614 - accuracy: 0.7076 - val_loss: 0.6333 - val_accuracy: 0.6411
Epoch 11/30
174/174 [==============================] - 1s 4ms/step - loss: 0.5583 - accuracy: 0.7092 - val_loss: 0.6441 - val_accuracy: 0.6226
Epoch 12/30
174/174 [==============================] - 1s 3ms/step - loss: 0.5540 - accuracy: 0.7126 - val_loss: 0.6268 - val_accuracy: 0.6487
Epoch 13/30
174/174 [==============================] - 1s 3ms/step - loss: 0.5501 - accuracy: 0.7190 - val_loss: 0.6603 - val_accuracy: 0.6302
Epoch 14/30
174/174 [==============================] - 1s 6ms/step - loss: 0.5480 - accuracy: 0.7166 - val_loss: 0.6328 - val_accuracy: 0.6403
Epoch 15/30
174/174 [==============================] - 1s 6ms/step - loss: 0.5449 - accuracy: 0.7220 - val_loss: 0.6402 - val_accuracy: 0.6335
Epoch 16/30
174/174 [==============================] - 1s 6ms/step - loss: 0.5395 - accuracy: 0.7218 - val_loss: 0.6461 - val_accuracy: 0.6285
Epoch 17/30
174/174 [==============================] - 1s 7ms/step - loss: 0.5365 - accuracy: 0.7240 - val_loss: 0.6398 - val_accuracy: 0.6259
Epoch 18/30
174/174 [==============================] - 1s 4ms/step - loss: 0.5353 - accuracy: 0.7242 - val_loss: 0.6628 - val_accuracy: 0.6226
Epoch 19/30
174/174 [==============================] - 1s 3ms/step - loss: 0.5347 - accuracy: 0.7265 - val_loss: 0.6392 - val_accuracy: 0.6361
Epoch 20/30
174/174 [==============================] - 1s 3ms/step - loss: 0.5304 - accuracy: 0.7273 - val_loss: 0.6749 - val_accuracy: 0.6234
Epoch 21/30
174/174 [==============================] - 1s 3ms/step - loss: 0.5271 - accuracy: 0.7347 - val_loss: 0.6855 - val_accuracy: 0.6209
Epoch 22/30
174/174 [==============================] - 1s 3ms/step - loss: 0.5274 - accuracy: 0.7334 - val_loss: 0.6493 - val_accuracy: 0.6318
Epoch 23/30
174/174 [==============================] - 1s 4ms/step - loss: 0.5230 - accuracy: 0.7359 - val_loss: 0.6488 - val_accuracy: 0.6445
Epoch 24/30
174/174 [==============================] - 1s 3ms/step - loss: 0.5189 - accuracy: 0.7426 - val_loss: 0.6666 - val_accuracy: 0.6344
Epoch 25/30
174/174 [==============================] - 1s 3ms/step - loss: 0.5170 - accuracy: 0.7412 - val_loss: 0.6434 - val_accuracy: 0.6369
Epoch 26/30
174/174 [==============================] - 1s 3ms/step - loss: 0.5153 - accuracy: 0.7401 - val_loss: 0.6600 - val_accuracy: 0.6394
Epoch 27/30
174/174 [==============================] - 1s 3ms/step - loss: 0.5123 - accuracy: 0.7446 - val_loss: 0.6462 - val_accuracy: 0.6428
Epoch 28/30
174/174 [==============================] - 1s 4ms/step - loss: 0.5096 - accuracy: 0.7449 - val_loss: 0.6478 - val_accuracy: 0.6445
Epoch 29/30
174/174 [==============================] - 1s 3ms/step - loss: 0.5088 - accuracy: 0.7504 - val_loss: 0.6503 - val_accuracy: 0.6487
Epoch 30/30
174/174 [==============================] - 1s 3ms/step - loss: 0.5025 - accuracy: 0.7511 - val_loss: 0.6506 - val_accuracy: 0.6487

In [148]:
model.evaluate(X_test,y_test)

38/38 [==============================] - 0s 2ms/step - loss: 1.0091 - accuracy: 0.5345

[1.0090603828430176, 0.5345118045806885]

In [149]:
model2.evaluate(X_test2, y_test2)

38/38 [==============================] - 0s 4ms/step - loss: 0.6498 - accuracy: 0.6507

[0.6497542262077332, 0.6506733894348145]

# 2022 Qatar World Cup Prediction

In [150]:
table = {'A': [['Netherlands', 0, []],
  ['Ecuador', 0, []],
  ['Senegal', 0, []],
  ['Qatar', 0, []]],
 'B': [['England', 0, []],
  ['Iran', 0, []],
  ['United States', 0, []],
  ['Wales', 0, []]],
 'C': [['Poland', 0, []],
  ['Argentina', 0, []],
  ['Saudi Arabia', 0, []],
  ['Mexico', 0, []]],
 'D': [['France', 0, []],
  ['Australia', 0, []],
  ['Denmark', 0, []],
  ['Tunisia', 0, []]],
 'E': [['Spain', 0, []],
  ['Japan', 0, []],
  ['Costa Rica', 0, []],
  ['Germany', 0, []]],
 'F': [['Croatia', 0, []],
  ['Morocco', 0, []],
  ['Belgium', 0, []],
  ['Canada', 0, []]],
 'G': [['Brazil', 0, []],
  ['Switzerland', 0, []],
  ['Cameroon', 0, []],
  ['Serbia', 0, []]],
 'H': [['Portugal', 0, []],
  ['South Korea', 0, []],
  ['Uruguay', 0, []],
  ['Ghana', 0, []]]}

In [151]:
table

{'A': [['Netherlands', 0, []],
  ['Ecuador', 0, []],
  ['Senegal', 0, []],
  ['Qatar', 0, []]],
 'B': [['England', 0, []],
  ['Iran', 0, []],
  ['United States', 0, []],
  ['Wales', 0, []]],
 'C': [['Poland', 0, []],
  ['Argentina', 0, []],
  ['Saudi Arabia', 0, []],
  ['Mexico', 0, []]],
 'D': [['France', 0, []],
  ['Australia', 0, []],
  ['Denmark', 0, []],
  ['Tunisia', 0, []]],
 'E': [['Spain', 0, []],
  ['Japan', 0, []],
  ['Costa Rica', 0, []],
  ['Germany', 0, []]],
 'F': [['Croatia', 0, []],
  ['Morocco', 0, []],
  ['Belgium', 0, []],
  ['Canada', 0, []]],
 'G': [['Brazil', 0, []],
  ['Switzerland', 0, []],
  ['Cameroon', 0, []],
  ['Serbia', 0, []]],
 'H': [['Portugal', 0, []],
  ['South Korea', 0, []],
  ['Uruguay', 0, []],
  ['Ghana', 0, []]]}

In [152]:
matches=[('A', 'Qatar', 'Ecuador'),
 ('A', 'Senegal', 'Netherlands'),
 ('A', 'Qatar', 'Senegal'),
 ('A', 'Netherlands', 'Ecuador'),
 ('A', 'Ecuador', 'Senegal'),
 ('A', 'Netherlands', 'Qatar'),
 ('B', 'England', 'Iran'),
 ('B', 'United States', 'Wales'),
 ('B', 'Wales', 'Iran'),
 ('B', 'England', 'United States'),
 ('B', 'Wales', 'England'),
 ('B', 'Iran', 'United States'),
 ('C', 'Argentina', 'Saudi Arabia'),
 ('C', 'Mexico', 'Poland'),
 ('C', 'Poland', 'Saudi Arabia'),
 ('C', 'Argentina', 'Mexico'),
 ('C', 'Poland', 'Argentina'),
 ('C', 'Saudi Arabia', 'Mexico'),
 ('D', 'Denmark', 'Tunisia'),
 ('D', 'France', 'Australia'),
 ('D', 'Tunisia', 'Australia'),
 ('D', 'France', 'Denmark'),
 ('D', 'Australia', 'Denmark'),
 ('D', 'Tunisia', 'France'),
 ('E', 'Germany', 'Japan'),
 ('E', 'Spain', 'Costa Rica'),
 ('E', 'Japan', 'Costa Rica'),
 ('E', 'Spain', 'Germany'),
 ('E', 'Japan', 'Spain'),
 ('E', 'Costa Rica', 'Germany'),
 ('F', 'Morocco', 'Croatia'),
 ('F', 'Belgium', 'Canada'),
 ('F', 'Belgium', 'Morocco'),
 ('F', 'Croatia', 'Canada'),
 ('F', 'Croatia', 'Belgium'),
 ('F', 'Canada', 'Morocco'),
 ('G', 'Switzerland', 'Cameroon'),
 ('G', 'Brazil', 'Serbia'),
 ('G', 'Cameroon', 'Serbia'),
 ('G', 'Brazil', 'Switzerland'),
 ('G', 'Serbia', 'Switzerland'),
 ('G', 'Cameroon', 'Brazil'),
 ('H', 'Uruguay', 'South Korea'),
 ('H', 'Portugal', 'Ghana'),
 ('H', 'South Korea', 'Ghana'),
 ('H', 'Portugal', 'Uruguay'),
 ('H', 'Ghana', 'Uruguay'),
 ('H', 'South Korea', 'Portugal')]

In [153]:
matches

[('A', 'Qatar', 'Ecuador'),
 ('A', 'Senegal', 'Netherlands'),
 ('A', 'Qatar', 'Senegal'),
 ('A', 'Netherlands', 'Ecuador'),
 ('A', 'Ecuador', 'Senegal'),
 ('A', 'Netherlands', 'Qatar'),
 ('B', 'England', 'Iran'),
 ('B', 'United States', 'Wales'),
 ('B', 'Wales', 'Iran'),
 ('B', 'England', 'United States'),
 ('B', 'Wales', 'England'),
 ('B', 'Iran', 'United States'),
 ('C', 'Argentina', 'Saudi Arabia'),
 ('C', 'Mexico', 'Poland'),
 ('C', 'Poland', 'Saudi Arabia'),
 ('C', 'Argentina', 'Mexico'),
 ('C', 'Poland', 'Argentina'),
 ('C', 'Saudi Arabia', 'Mexico'),
 ('D', 'Denmark', 'Tunisia'),
 ('D', 'France', 'Australia'),
 ('D', 'Tunisia', 'Australia'),
 ('D', 'France', 'Denmark'),
 ('D', 'Australia', 'Denmark'),
 ('D', 'Tunisia', 'France'),
 ('E', 'Germany', 'Japan'),
 ('E', 'Spain', 'Costa Rica'),
 ('E', 'Japan', 'Costa Rica'),
 ('E', 'Spain', 'Germany'),
 ('E', 'Japan', 'Spain'),
 ('E', 'Costa Rica', 'Germany'),
 ('F', 'Morocco', 'Croatia'),
 ('F', 'Belgium', 'Canada'),
 ('F', 'Belgium', 'Morocco'),
 ('F', 'Croatia', 'Canada'),
 ('F', 'Croatia', 'Belgium'),
 ('F', 'Canada', 'Morocco'),
 ('G', 'Switzerland', 'Cameroon'),
 ('G', 'Brazil', 'Serbia'),
 ('G', 'Cameroon', 'Serbia'),
 ('G', 'Brazil', 'Switzerland'),
 ('G', 'Serbia', 'Switzerland'),
 ('G', 'Cameroon', 'Brazil'),
 ('H', 'Uruguay', 'South Korea'),
 ('H', 'Portugal', 'Ghana'),
 ('H', 'South Korea', 'Ghana'),
 ('H', 'Portugal', 'Uruguay'),
 ('H', 'Ghana', 'Uruguay'),
 ('H', 'South Korea', 'Portugal')]

In [154]:
team_stats_raw = team_stats.copy()

In [155]:
team_stats_raw

,date,team,score,suf_score,rank,rank_suf,rank_change,total_points,result,rank_dif,points_by_rank,team_points,score_dif_by_rank_dif
0,2012-08-08,Zambia,2.0,1.0,44.0,106.0,3.0,623.00,0,-62.0,0.028302,3,-0.016129
1,2012-08-11,El Salvador,1.0,0.0,64.0,88.0,-3.0,490.00,0,-24.0,0.034091,3,-0.041667
2,2012-08-13,Jordan,0.0,1.0,83.0,63.0,-1.0,425.00,1,20.0,0.000000,0,-0.050000
3,2012-08-14,Burkina Faso,3.0,0.0,87.0,99.0,0.0,405.00,0,-12.0,0.030303,3,-0.250000
4,2012-08-14,Liechtenstein,1.0,0.0,148.0,200.0,-1.0,177.00,0,-52.0,0.015000,3,-0.019231
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8069,2022-09-27,Serbia,2.0,0.0,25.0,36.0,0.0,1549.53,1,11.0,0.083333,3,-0.181818
8070,2022-09-27,Slovenia,1.0,1.0,65.0,20.0,0.0,1372.48,2,-45.0,0.050000,1,-0.000000
8071,2022-09-27,Cyprus,1.0,5.0,108.0,106.0,1.0,1180.52,0,-2.0,0.000000,0,-2.000000
8072,2022-09-27,Northern Ireland,1.0,3.0,58.0,49.0,0.0,1399.10,0,-9.0,0.000000,0,-0.222222
8073,2022-09-30,Solomon Islands,0.0,1.0,137.0,163.0,0.0,1092.56,0,26.0,0.000000,0,0.038462

In [156]:
def find_stats(team_1):
#team_1 = "Qatar"
    past_games = team_stats_raw[(team_stats_raw["team"] == team_1)].sort_values("date")
    last10 = team_stats_raw[(team_stats_raw["team"] == team_1)].sort_values("date").tail(10)
    last5 = team_stats_raw[(team_stats_raw["team"] == team_1)].sort_values("date").tail(5)
    last3 = team_stats_raw[(team_stats_raw["team"] == team_1)].sort_values("date").tail(3)

    team_1_rank = past_games["rank"].values[-1]
    team_1_rank_change_home = past_games['rank_change'].values[-1]
    
    team_1_goals = past_games.score.mean()
    team_1_goals_10 = last10.score.mean()
    team_1_goals_5 = last5.score.mean()
    team_1_goals_3 = last3.score.mean()
    team_1_goals_suf = past_games.suf_score.mean()
    team_1_goals_suf_10 = last10.suf_score.mean()
    team_1_goals_suf_5 = last5.suf_score.mean()
    team_1_goals_suf_3 = last3.suf_score.mean()
    team_1_rank_suf = past_games.rank_suf.mean()
    team_1_rank_suf_10 = last10.rank_suf.mean()
    team_1_rank_suf_5 = last5.rank_suf.mean()
    team_1_rank_suf_3 = last3.rank_suf.mean()
    
    team_1_points = past_games.total_points.mean()
    team_1_points_10 = last10.total_points.mean()
    team_1_points_5 = last5.total_points.mean()
    team_1_points_3 = last3.total_points.mean()
    
    team_1_tpoints = past_games.team_points.mean()
    team_1_tpoints_10 = last10.team_points.mean()
    team_1_tpoints_5 = last5.team_points.mean()
    team_1_tpoints_3 = last3.team_points.mean()
    
    team_1_points_rank = past_games.points_by_rank.mean()
    team_1_points_rank_10 = last10.points_by_rank.mean()
    team_1_points_rank_5 = last5.points_by_rank.mean()
    team_1_points_rank_3 = last3.points_by_rank.mean()

    
    
    team_1_score_rank = past_games.score_dif_by_rank_dif.mean()
    team_1_score_rank_10 = last10.score_dif_by_rank_dif.mean()
    team_1_score_rank_5 = last5.score_dif_by_rank_dif.mean()
    team_1_score_rank_3 = last3.score_dif_by_rank_dif.mean()
    
    


    return [team_1_rank, team_1_rank_change_home, team_1_goals, team_1_goals_10, team_1_goals_5, team_1_goals_3, team_1_goals_suf, team_1_goals_suf_10, team_1_goals_suf_5, team_1_goals_suf_3,team_1_rank_suf, team_1_rank_suf_10, team_1_rank_suf_5,team_1_rank_suf_3,team_1_points, team_1_points_10, team_1_points_5, team_1_points_3,team_1_tpoints, team_1_tpoints_10, team_1_tpoints_5, team_1_tpoints_3,team_1_points_rank, team_1_points_rank_10,team_1_points_rank_5,team_1_points_rank_3,team_1_score_rank,team_1_score_rank_10,team_1_score_rank_5,team_1_score_rank_3]

In [157]:
def find_features(team_1, team_2):
    rank_dif = team_1[0] - team_2[0]
    rank_change_home = team_1[1]
    rank_change_away = team_2[1]
    
    home_goals_mean = team_1[2] 
    home_goals_mean_10 = team_1[3] 
    home_goals_mean_5 = team_1[4] 
    home_goals_mean_3 = team_1[5] 
    
    home_suf_goals_mean = team_1[6]
    home_suf_goals_mean_10 = team_1[7] 
    home_suf_goals_mean_5 = team_1[8] 
    home_suf_goals_mean_3 = team_1[9] 
    
    home_rank_mean = team_1[10]
    home_rank_mean_10 = team_1[11]
    home_rank_mean_5 = team_1[12]
    home_rank_mean_3 = team_1[13]
    
    home_points_mean = team_1[14]
    home_points_mean_10 = team_1[15]
    home_points_mean_5 = team_1[16]
    home_points_mean_3 = team_1[17]
    
    away_goals_mean = team_2[2]
    away_goals_mean_10 = team_2[3]
    away_goals_mean_5 = team_2[4]
    away_goals_mean_3 = team_2[5]
    
    away_suf_goals_mean = team_2[6]
    away_suf_goals_mean_10 = team_2[7]
    away_suf_goals_mean_5 = team_2[8]
    away_suf_goals_mean_3 = team_2[9]
    
    away_rank_mean = team_2[10]
    away_rank_mean_10 = team_2[11]
    away_rank_mean_5 = team_2[12]
    away_rank_mean_3 = team_2[13]
    
    away_points_mean = team_2[14]
    away_points_mean_10 = team_2[15]
    away_points_mean_5 = team_2[16]
    away_points_mean_3 = team_2[17]
    
    home_tpoints_mean = team_1[18]
    home_tpoints_mean_10 = team_1[19]
    home_tpoints_mean_5 = team_1[20]
    home_tpoints_mean_3 = team_1[21]
    
    home_points_rank_mean = team_1[22]
    home_points_rank_mean_10 = team_1[23]
    home_points_rank_mean_5 = team_1[24]
    home_points_rank_mean_3 = team_1[25]
    
    away_tpoints_mean = team_2[18]
    away_tpoints_mean_10 = team_2[19]
    away_tpoints_mean_5 = team_2[20]
    away_tpoints_mean_3 = team_2[21]
    
    away_points_rank_mean = team_2[22]
    away_points_rank_mean_10 = team_2[23]
    away_points_rank_mean_5 = team_2[24]
    away_points_rank_mean_3 = team_2[25]
    
    score_rank = team_1[26]
    score_rank_10 = team_1[27]
    score_rank_5 = team_1[28]
    score_rank_3 = team_1[29]
    
   
    
    return [rank_dif,rank_change_home, rank_change_away, home_goals_mean ,home_goals_mean_10 , home_goals_mean_5 , home_goals_mean_3,home_suf_goals_mean ,home_suf_goals_mean_10, home_suf_goals_mean_5,home_suf_goals_mean_3,home_rank_mean ,home_rank_mean_10,home_rank_mean_5 , home_rank_mean_3 , home_points_mean,home_points_mean_10, home_points_mean_5,home_points_mean_3,away_goals_mean, away_goals_mean_10, away_goals_mean_5 , away_goals_mean_3 ,away_suf_goals_mean , away_suf_goals_mean_10 ,away_suf_goals_mean_5 ,away_suf_goals_mean_3 ,away_rank_mean, away_rank_mean_10 ,away_rank_mean_5 , away_rank_mean_3 ,away_points_mean , away_points_mean_10 ,away_points_mean_5, away_points_mean_3, home_tpoints_mean,home_tpoints_mean_10, home_tpoints_mean_5 ,home_tpoints_mean_3 ,home_points_rank_mean,home_points_rank_mean_10 ,home_points_rank_mean_5 , home_points_rank_mean_3 ,away_tpoints_mean ,away_tpoints_mean_10 ,away_tpoints_mean_5,away_tpoints_mean_3,away_points_rank_mean,away_points_rank_mean_10 ,away_points_rank_mean_5,away_points_rank_mean_3 ,score_rank,score_rank_10 ,score_rank_5,score_rank_3]
# , 1, 0

In [158]:
from operator import itemgetter

In [159]:
advanced_group = []
last_group = ""

for k in table.keys():
    for t in table[k]:
        t[1] = 0
        t[2] = []
        
for teams in matches:
    draw = False
    team_1 = find_stats(teams[1])
    team_2 = find_stats(teams[2])

    

    features_g1 = find_features(team_1, team_2)
    features_g2 = find_features(team_2, team_1)

    probs_g1 = voting.predict_proba([features_g1])
    probs_g2 = voting.predict_proba([features_g2])
    
#     print("1: ",probs_g1)
#     print("2: ", probs_g2)
#     print(np.argmax(probs_g1[0]))
    
#     team_1_prob_g1 = probs_g1[0][0]
#     team_1_prob_g2 = probs_g2[0][1]
#     team_2_prob_g1 = probs_g1[0][1]
#     team_2_prob_g2 = probs_g2[0][0]

    team_1_prob = (probs_g1[0][0] + probs_g2[0][1])/2
    team_2_prob = (probs_g2[0][0] + probs_g1[0][1])/2
    draw_prob = (probs_g1[0][2] + probs_g2[0][2])/2
    
#     print(probs_g1[0], probs_g2[0])
    
    prob_list = [team_1_prob, team_2_prob, draw_prob]
    
#     print(prob_list)
    if abs(team_1_prob-team_2_prob)/(sum(probs_g1[0])+sum(probs_g2[0]))<0.04:
        draw=True
        for i in table[teams[0]]:
            if i[0] == teams[1] or i[0] == teams[2]:
                i[1] += 1
                
    elif team_1_prob > team_2_prob and team_1_prob > draw_prob:
        winner = teams[1]
        winner_proba = team_1_prob
        for i in table[teams[0]]:
            if i[0] == teams[1]:
                i[1] += 3
                
    elif team_2_prob > team_1_prob and team_2_prob > draw_prob:  
        winner = teams[2]
        winner_proba = team_2_prob
        for i in table[teams[0]]:
            if i[0] == teams[2]:
                i[1] += 3
    
    for i in table[teams[0]]: #adding criterio de desempate (probs por jogo)
            if i[0] == teams[1]:
                i[2].append(team_1_prob)
            if i[0] == teams[2]:
                i[2].append(team_2_prob)

    if last_group != teams[0]:
        if last_group != "":
            print("\n")
            print("Group %s advanced: "%(last_group))
            
            for i in table[last_group]: #adding crieterio de desempate
                i[2] = np.mean(i[2])
            
            final_points = table[last_group]
            final_table = sorted(final_points, key=itemgetter(1, 2), reverse = True)
            advanced_group.append([final_table[0][0], final_table[1][0]])
            for i in final_table:
                print("%s -------- %d"%(i[0], i[1]))
        print("\n")
        print("-"*10+" Starting Analysis for Group %s "%(teams[0])+"-"*10)
        
        
    if draw == False:
        print("Group %s - %s vs. %s: Winner %s with %.2f probability"%(teams[0], teams[1], teams[2], winner, winner_proba))
    else:
        print("Group %s - %s vs. %s: Draw"%(teams[0], teams[1], teams[2]))
    last_group =  teams[0]
print("\n")
print("Group %s advanced: "%(last_group))

for i in table[last_group]: #adding crieterio de desempate
    i[2] = np.mean(i[2])
            
final_points = table[last_group]
final_table = sorted(final_points, key=itemgetter(1, 2), reverse = True)
advanced_group.append([final_table[0][0], final_table[1][0]])
for i in final_table:
    print("%s -------- %d"%(i[0], i[1]))

---------- Starting Analysis for Group A ----------
Group A - Qatar vs. Ecuador: Winner Qatar with 0.51 probability
Group A - Senegal vs. Netherlands: Draw
Group A - Qatar vs. Senegal: Winner Senegal with 0.56 probability
Group A - Netherlands vs. Ecuador: Winner Netherlands with 0.57 probability
Group A - Ecuador vs. Senegal: Draw
Group A - Netherlands vs. Qatar: Draw


Group A advanced:
Netherlands -------- 5
Senegal -------- 5
Qatar -------- 4
Ecuador -------- 1


---------- Starting Analysis for Group B ----------
Group B - England vs. Iran: Draw
Group B - United States vs. Wales: Winner United States with 0.49 probability
Group B - Wales vs. Iran: Winner Iran with 0.51 probability
Group B - England vs. United States: Draw
Group B - Wales vs. England: Draw
Group B - Iran vs. United States: Winner Iran with 0.52 probability


Group B advanced:
Iran -------- 7
United States -------- 4
England -------- 3
Wales -------- 1


---------- Starting Analysis for Group C ----------
Group C - Argentina vs. Saudi Arabia: Draw
Group C - Mexico vs. Poland: Draw
Group C - Poland vs. Saudi Arabia: Draw
Group C - Argentina vs. Mexico: Draw
Group C - Poland vs. Argentina: Winner Argentina with 0.55 probability
Group C - Saudi Arabia vs. Mexico: Draw


Group C advanced:
Argentina -------- 5
Mexico -------- 3
Saudi Arabia -------- 3
Poland -------- 2


---------- Starting Analysis for Group D ----------
Group D - Denmark vs. Tunisia: Winner Tunisia with 0.52 probability
Group D - France vs. Australia: Draw
Group D - Tunisia vs. Australia: Winner Tunisia with 0.49 probability
Group D - France vs. Denmark: Draw
Group D - Australia vs. Denmark: Draw
Group D - Tunisia vs. France: Draw


Group D advanced:
Tunisia -------- 7
France -------- 3
Australia -------- 2
Denmark -------- 2


---------- Starting Analysis for Group E ----------
Group E - Germany vs. Japan: Winner Germany with 0.53 probability
Group E - Spain vs. Costa Rica: Winner Spain with 0.57 probability
Group E - Japan vs. Costa Rica: Draw
Group E - Spain vs. Germany: Draw
Group E - Japan vs. Spain: Winner Spain with 0.56 probability
Group E - Costa Rica vs. Germany: Winner Germany with 0.56 probability


Group E advanced:
Spain -------- 7
Germany -------- 7
Japan -------- 1
Costa Rica -------- 1


---------- Starting Analysis for Group F ----------
Group F - Morocco vs. Croatia: Winner Morocco with 0.52 probability
Group F - Belgium vs. Canada: Draw
Group F - Belgium vs. Morocco: Draw
Group F - Croatia vs. Canada: Draw
Group F - Croatia vs. Belgium: Draw
Group F - Canada vs. Morocco: Winner Morocco with 0.56 probability


Group F advanced:
Morocco -------- 7
Belgium -------- 3
Croatia -------- 2
Canada -------- 2


---------- Starting Analysis for Group G ----------
Group G - Switzerland vs. Cameroon: Draw
Group G - Brazil vs. Serbia: Draw
Group G - Cameroon vs. Serbia: Winner Serbia with 0.55 probability
Group G - Brazil vs. Switzerland: Draw
Group G - Serbia vs. Switzerland: Draw
Group G - Cameroon vs. Brazil: Draw


Group G advanced:
Serbia -------- 5
Brazil -------- 3
Switzerland -------- 3
Cameroon -------- 2


---------- Starting Analysis for Group H ----------
Group H - Uruguay vs. South Korea: Draw
Group H - Portugal vs. Ghana: Winner Portugal with 0.56 probability
Group H - South Korea vs. Ghana: Winner South Korea with 0.56 probability
Group H - Portugal vs. Uruguay: Winner Portugal with 0.49 probability
Group H - Ghana vs. Uruguay: Draw
Group H - South Korea vs. Portugal: Draw


Group H advanced:
Portugal -------- 7
South Korea -------- 5
Uruguay -------- 2
Ghana -------- 1

In [160]:
advanced = advanced_group

In [161]:
advanced

[['Netherlands', 'Senegal'],
 ['Iran', 'United States'],
 ['Argentina', 'Mexico'],
 ['Tunisia', 'France'],
 ['Spain', 'Germany'],
 ['Morocco', 'Belgium'],
 ['Serbia', 'Brazil'],
 ['Portugal', 'South Korea']]

In [162]:
playoffs = {"Round of 16": [], "Quarter-Final": [], "Semi-Final": [], "Final": []}

In [163]:
for p in playoffs.keys():
    playoffs[p] = []

actual_round = ""
next_rounds = []

for p in playoffs.keys():
    if p == "Round of 16":
        control = []
        for a in range(0, len(advanced*2), 1):
            if a < len(advanced):
                if a % 2 == 0:
                    control.append((advanced*2)[a][0])
                else:
                    control.append((advanced*2)[a][1])
            else:
                if a % 2 == 0:
                    control.append((advanced*2)[a][1])
                else:
                    control.append((advanced*2)[a][0])

        playoffs[p] = [[control[c], control[c+1]] for c in range(0, len(control)-1, 1) if c%2 == 0]
        
        for i in range(0, len(playoffs[p]), 1):
            game = playoffs[p][i]
            
            home = game[0]
            away = game[1]
            team_1 = find_stats(home)
            team_2 = find_stats(away)

            features_g1 = find_features(team_1, team_2)
            features_g2 = find_features(team_2, team_1)
            
            probs_g1 = voting2.predict_proba([features_g1])
            probs_g2 = voting2.predict_proba([features_g2])
            
            team_1_prob = (probs_g1[0][0] + probs_g2[0][1])/2
            team_2_prob = (probs_g2[0][0] + probs_g1[0][1])/2
            
            if actual_round != p:
                print("-"*10)
                print("Starting simulation of %s"%(p))
                print("-"*10)
                print("\n")
            
            if team_1_prob < team_2_prob:
                print("%s vs. %s: %s advances with prob %.2f"%(home, away, away, team_2_prob))
                next_rounds.append(away)
            else:
                print("%s vs. %s: %s advances with prob %.2f"%(home, away, home, team_1_prob))
                next_rounds.append(home)
            
            game.append([team_1_prob, team_2_prob])
            playoffs[p][i] = game
            actual_round = p
        
    else:
        playoffs[p] = [[next_rounds[c], next_rounds[c+1]] for c in range(0, len(next_rounds)-1, 1) if c%2 == 0]
        next_rounds = []
        for i in range(0, len(playoffs[p])):
            game = playoffs[p][i]
            home = game[0]
            away = game[1]
            team_1 = find_stats(home)
            team_2 = find_stats(away)
            
            features_g1 = find_features(team_1, team_2)
            features_g2 = find_features(team_2, team_1)
            
            probs_g1 = voting2.predict_proba([features_g1])
            probs_g2 = voting2.predict_proba([features_g2])
            
            team_1_prob = (probs_g1[0][0] + probs_g2[0][1])/2
            team_2_prob = (probs_g2[0][0] + probs_g1[0][1])/2
            
            if actual_round != p:
                print("-"*10)
                print("Starting simulation of %s"%(p))
                print("-"*10)
                print("\n")
            
            if team_1_prob < team_2_prob:
                print("%s vs. %s: %s advances with prob %.2f"%(home, away, away, team_2_prob))
                next_rounds.append(away)
            else:
                print("%s vs. %s: %s advances with prob %.2f"%(home, away, home, team_1_prob))
                next_rounds.append(home)
            game.append([team_1_prob, team_2_prob])
            playoffs[p][i] = game
            actual_round = p

----------
Starting simulation of Round of 16
----------


Netherlands vs. United States: Netherlands advances with prob 0.54
Argentina vs. France: Argentina advances with prob 0.54
Spain vs. Belgium: Belgium advances with prob 0.52
Serbia vs. South Korea: Serbia advances with prob 0.61
Senegal vs. Iran: Senegal advances with prob 0.54
Mexico vs. Tunisia: Mexico advances with prob 0.62
Germany vs. Morocco: Germany advances with prob 0.63
Brazil vs. Portugal: Brazil advances with prob 0.54
----------
Starting simulation of Quarter-Final
----------


Netherlands vs. Argentina: Argentina advances with prob 0.56
Belgium vs. Serbia: Belgium advances with prob 0.62
Senegal vs. Mexico: Mexico advances with prob 0.65
Germany vs. Brazil: Brazil advances with prob 0.52
----------
Starting simulation of Semi-Final
----------


Argentina vs. Belgium: Belgium advances with prob 0.54
Mexico vs. Brazil: Brazil advances with prob 0.59
----------
Starting simulation of Final
----------


Belgium vs. Brazil: Brazil advances with prob 0.54

# Prediction Playoff with actual advanced team

In [165]:
actual_16 = np.array([['Netherlands', 'Senegal'],
 ['England', 'United States'],
 ['Argentina', 'Poland'],
 ['France', 'Australia'],
 ['Japan', 'Spain'],
 ['Morocco', 'Croatia'],
 ['Brazil', 'Switzerland'],
 ['Portugal', 'South Korea']])

In [166]:
actual_16

array([['Netherlands', 'Senegal'],
       ['England', 'United States'],
       ['Argentina', 'Poland'],
       ['France', 'Australia'],
       ['Japan', 'Spain'],
       ['Morocco', 'Croatia'],
       ['Brazil', 'Switzerland'],
       ['Portugal', 'South Korea']], dtype='<U13')

In [167]:
advanced = actual_16.tolist()

In [168]:
playoffs = {"Round of 16": [], "Quarter-Final": [], "Semi-Final": [], "Final": []}

In [169]:
for p in playoffs.keys():
    playoffs[p] = []

actual_round = ""
next_rounds = []

for p in playoffs.keys():
    if p == "Round of 16":
        control = []
        for a in range(0, len(advanced*2), 1):
            if a < len(advanced):
                if a % 2 == 0:
                    control.append((advanced*2)[a][0])
                else:
                    control.append((advanced*2)[a][1])
            else:
                if a % 2 == 0:
                    control.append((advanced*2)[a][1])
                else:
                    control.append((advanced*2)[a][0])

        playoffs[p] = [[control[c], control[c+1]] for c in range(0, len(control)-1, 1) if c%2 == 0]
        
        for i in range(0, len(playoffs[p]), 1):
            game = playoffs[p][i]
            
            home = game[0]
            away = game[1]
            team_1 = find_stats(home)
            team_2 = find_stats(away)

            features_g1 = find_features(team_1, team_2)
            features_g2 = find_features(team_2, team_1)
            
            probs_g1 = voting2.predict_proba([features_g1])
            probs_g2 = voting2.predict_proba([features_g2])
            
            team_1_prob = (probs_g1[0][0] + probs_g2[0][1])/2
            team_2_prob = (probs_g2[0][0] + probs_g1[0][1])/2
            
            if actual_round != p:
                print("-"*10)
                print("Starting simulation of %s"%(p))
                print("-"*10)
                print("\n")
            
            if team_1_prob < team_2_prob:
                print("%s vs. %s: %s advances with prob %.2f"%(home, away, away, team_2_prob))
                next_rounds.append(away)
            else:
                print("%s vs. %s: %s advances with prob %.2f"%(home, away, home, team_1_prob))
                next_rounds.append(home)
            
            game.append([team_1_prob, team_2_prob])
            playoffs[p][i] = game
            actual_round = p
        
    else:
        playoffs[p] = [[next_rounds[c], next_rounds[c+1]] for c in range(0, len(next_rounds)-1, 1) if c%2 == 0]
        next_rounds = []
        for i in range(0, len(playoffs[p])):
            game = playoffs[p][i]
            home = game[0]
            away = game[1]
            team_1 = find_stats(home)
            team_2 = find_stats(away)
            
            features_g1 = find_features(team_1, team_2)
            features_g2 = find_features(team_2, team_1)
            
            probs_g1 = voting2.predict_proba([features_g1])
            probs_g2 = voting2.predict_proba([features_g2])
            
            team_1_prob = (probs_g1[0][0] + probs_g2[0][1])/2
            team_2_prob = (probs_g2[0][0] + probs_g1[0][1])/2
            
            if actual_round != p:
                print("-"*10)
                print("Starting simulation of %s"%(p))
                print("-"*10)
                print("\n")
            
            if team_1_prob < team_2_prob:
                print("%s vs. %s: %s advances with prob %.2f"%(home, away, away, team_2_prob))
                next_rounds.append(away)
            else:
                print("%s vs. %s: %s advances with prob %.2f"%(home, away, home, team_1_prob))
                next_rounds.append(home)
            game.append([team_1_prob, team_2_prob])
            playoffs[p][i] = game
            actual_round = p

----------
Starting simulation of Round of 16
----------


Netherlands vs. United States: Netherlands advances with prob 0.54
Argentina vs. Australia: Argentina advances with prob 0.63
Japan vs. Croatia: Croatia advances with prob 0.64
Brazil vs. South Korea: Brazil advances with prob 0.62
Senegal vs. England: England advances with prob 0.63
Poland vs. France: France advances with prob 0.62
Spain vs. Morocco: Spain advances with prob 0.63
Switzerland vs. Portugal: Portugal advances with prob 0.55
----------
Starting simulation of Quarter-Final
----------


Netherlands vs. Argentina: Argentina advances with prob 0.56
Croatia vs. Brazil: Brazil advances with prob 0.62
England vs. France: France advances with prob 0.53
Spain vs. Portugal: Spain advances with prob 0.55
----------
Starting simulation of Semi-Final
----------


Argentina vs. Brazil: Brazil advances with prob 0.54
France vs. Spain: France advances with prob 0.54
----------
Starting simulation of Final
----------


Brazil vs. France: Brazil advances with prob 0.55